

//   .navbar-inverse {
//     background-color: #0fa497;
//     border-color: #0fa497;
// }

// .navbar-inverse .navbar-nav > li > a {
//   color: #ffffff;
//   text-transform: uppercase;
// }
// .navbar-brand{
//   font-size: 25px;
//     color: white;
// }
// .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
//   background-color: #0a7c6e;
//   color: #FFF;
// }

// .navbar-inverse .navbar-nav > li > a:hover {
//   background-color: #0a7c6e !important; 
// }

// // .navbar-inverse .navbar-nav > li  {
// //  margin: 0px 20px;
// // }
// .nav > li > a {
//   position: relative;
//   display: block;
//   padding: 7px 5px!important;
//   border-left: 1px dotted !important;
// }
// .dropdown-menu > li > a {
//   display: block;
//   padding: 8px 20px;
//   clear: both;
//   font-weight: normal;
//   line-height: 1.42857143;
//   white-space: nowrap;
//   font-size: medium;
// }
// .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
//   text-decoration: none;
//   color: #04887c;
//   background-color: #f5f5f5;
// }
// .o-hidden {
//   overflow:hidden;
// }



// * {
// 	padding: 0;
// 	margin: 0;
// }

// #catg:last-child{
//   ul {
//     left:-145px;
//   }
 
// }


/*angular dropdown with mousehover*/

.navbar {
  overflow: hidden;
  background-color: #0fa497 !important;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0px !important;
  margin-bottom: 0px !important;
    border: 0px solid transparent !important;
}
.navbar .menu{
  list-style-type: none;
  background: #ffffff;
  padding: 10px 10px !important;
  width: 250px;
  box-shadow: 3px 3px 8px #ddd;
  margin-left: 0px;
}

// .navbar a {
//   // float: left;
//   // font-size: 16px;
//   // color: white;
//   // text-align: center;
//   // padding: 14px 16px;
//   // text-decoration: none;
// }

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #0c8d82;
}

.dropdown-content {
  display: none;
  position: fixed;
  // background-color: #f9f9f9;
  // width: 100%;
  // left: 0;
  // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content .header {
  // background: red;
  padding: 16px;
  color: white;
}

.dropdown:hover .dropdown-content {
  background: yello;
  display: block;
}

/* Create three equal columns that floats next to each other */
// .column {
//   // float: left;
//   // width: 50%;
//   // padding: 10px;
//   // background-color: #ccc;
//   // height: 250px;
// }

.column a {
  float: none;
  color: black;
  // padding: 16px;
  // text-decoration: none;
  display: block;
  text-align: left;
  padding: 2px 0;
}

.column a:hover {
  background-color: #f4f4f4;
  color:#0fa497;
  text-decoration: none;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.over_catg_menu{
  max-height: 250px;
  overflow: auto;
  overflow-y: auto;
  overflow-x: hidden;
}
.btn-white {
  
    color: #0fa497;
    background-color: #fff;
    border-color: #FFF;

}
