<!-- <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header hidden-lg hidden-sm hidden-md">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Categories</a>
    </div>
    <div class="collapse navbar-collapse " id="myNavbar1" style="padding-top:5px;">

      <ul class="nav navbar-nav">
        <li *ngFor="let p of resources" id="catg" class="dropdown ">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="font-size:12px">{{p.Category}}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" style="max-height: 190px;overflow: auto;">
            <li *ngFor="let subp of p.detail" (click)="selected_Sub(p.Category,subp.SubCategory)">
              <a href="javascript:void(0)">{{subp['SubCategory'] | titlecase}}</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav> -->

<div class="navbar">
    <div *ngFor="let p of resources | slice:0:10" class="dropdown">
      <button class="dropbtn">{{p.Category | titlecase}}
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content over_catg_menu">
        <ul class="row menu">
          <li *ngFor="let subp of p.detail" (click)="selected_Sub(p.Category,subp.SubCategory)" class="column">
              <a href="javascript:void(0)">{{subp['SubCategory'] | titlecase}}</a>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <button class="btn btn-white btn-xs" style="margin: 14px 0px; font-weight: 700;" routerLink="/all-Category">Explore All..</button>
    </div>
    <ngx-spinner class="loader_spinner"></ngx-spinner>
  </div>
