<div class="container pad_t_5per">
  <p class="bread-crumb1">
    <span>
      <a href="javascript.void(0)" routerLink="/dashboard" style="
                          color: #878787 !important;
                      ">Dashboard</a>
    </span>&nbsp;>&nbsp;
    <span>
      <a href="javascript.void(0)" routerLink="/purchase-orders-list" style="
                            color: #878787 !important;
                        ">Proforma
        / PackingList</a>
    </span>&nbsp;>&nbsp;
    <span>PackingList Preparation</span>
  </p>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
      <h3 class="shopee_name">
        <span>{{loginUserData.content}}</span>
      </h3>
    </div>
  </div>

  <div class="reg_form mar_b_30 pad_15">
    <div class="row text-center">
      <div class="col-sm-12">
        <span class="header_pages">Packing / Proforma Perparation</span>
      </div>
    </div>

    <div class="row mar_b_15">
      <div class="col-sm-12">
        <h4>PO Number : {{poData.po_no}}</h4>
        <h4>PO Date : {{poData.po_date}}</h4>
        <h4>Company Code : {{poData.po_origin_company_code}}</h4>

      </div>
    </div>

    <div class="row">
      <div class="">
        <div class="col-md-6">
          <p>
            <b>Credit Period (days):</b>{{poData.credit_period}}</p>
          <p>
            <b>payment terms:</b> {{poData.payment_terms}}</p>
          <p>
            <b>Special Instructions:</b>{{poData.spl_instr}}</p>
        </div>
        <div class="col-md-6">
          <p *ngIf="poData.remarks1!=''">
            <b>remarks 1:</b> {{poData.remarks1}}</p>
          <p *ngIf="poData.remarks2!=''">
            <b>remarks 2:</b> {{poData.remarks2}}</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 list">
        <form name="packForm" #packForm="ngForm">
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="txt_centr">S.No</th>
                <th class="txt_left">Product name</th>
                <th class="txt_left">Model No.</th>
                <th class="txt_right">Mrp(&#8377;)</th>
                <th class="txt_right">Discount(%)</th>
                <th class="txt_right">Net Price(&#8377;)</th>
                <th class="txt_right">Quantity</th>
                <th class="txt_right">Total Value(&#8377;)</th>
                <th class="txt_right">Stock Qty</th>
                <th class="txt_centr">WH Qty</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of poPackingListData | paginate: { itemsPerPage: 10, currentPage: p }; let i=index">
                <td class="txt_centr">{{10*(p-1)+(i+1)}}</td>
                <!-- <td>{{item.name1}} {{item.name2}}</td> -->
                <td class="txt_left">{{item.long_name}}</td>
                <td class="txt_left">{{item.modelno}}</td>
                <td class="txt_right">{{item.mrp}}</td>
                <td class="txt_right">{{item.discount_eff}}</td>
                <td class="txt_right">{{item.net_price}}</td>
                <td class="txt_right">{{item.balance_qty}}</td>
                <td class="txt_right">{{item.balance_qty*item.net_price}}</td>
                <td class="txt_right">{{item.stock_qty - packingListModel[item.po_srl_no]}}</td>
                <td class="txt_centr">
                  <span class="f_size_15 blue_clr padd_right_10">
                    <input type="text" class="form-control txt_right" required name="{{item.po_srl_no}}" #packqty="ngModel"
                      [(ngModel)]="packingListModel[item.po_srl_no]" (ngModelChange)="checkQty(item.balance_qty,packingListModel[item.po_srl_no])">
                    {{packingListModel[option]}}
                  </span>
                  <!-- <div *ngIf="packqty.errors?.max" class="validation_msg">
                    Packing Qty should not be grater than Actual Qty.
                  </div> -->
                </td>
              </tr>
            </tbody>
          </table>

          <div class="pull-left">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>
          <div *ngIf="approveBtn" class="text-center validation_msg">
            Packing Qty should not be grater than Actual Qty.
          </div>
          <div class="pull-right">
            <button type="submit" [disabled]="packForm.invalid" class="btn btn-primary brdr_radius_50 btn_w bg_green border_green"
              (click)="makePackingLiat()">
              Approve
              <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<ngx-spinner class="loader_spinner"></ngx-spinner>

<!-- modal pop up start here -->
<div class="modal fade" id="makeinvoiceModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" style="padding:0;">
        <div class="row">
          <div class="col-md-12">
            <h4 class="alert_heading">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </h4>
            <div class="right_mark">
              <i class="fa fa-check" aria-hidden="true"></i>
            </div>
            <div class="pad_15 text-center content_msg" style="padding: 15% 0;">
              <span>Packing List Prepared Successfully..!!</span>
              <br>
              <span>Your Packing No : {{packingListNo}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger fl" data-dismiss="modal" (click)="paking_list_print_page()">Close</button>
        <button type="button" class="btn btn-success fr" data-dismiss="modal" (click)="paking_list_print_page()">OK</button>
      </div>
    </div>
  </div>
</div>