<header>
  <nav class="navbar navbar-inverse navbar-fixed-top" style="box-shadow: 1px 1px 1px 1px #8080807a;">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle"  (click)="navbarCollapsed = !navbarCollapsed" [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" routerLink="/home">
          <img src="./assets/logo.png">
        </a>
      </div>
      <div class="collapse navbar-collapse" [ngbCollapse]="!navbarCollapsed" id="navbarSupportedContent">
        <form class="navbar-form navbar-left" action="/action_page.php">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" [(ngModel)]="search_val"  name="search" style="
            border: 1px solid #0fa497 !important;">
            <div class="input-group-btn">
              <button class="btn btn-danger" (click)="search_btn(search_val)" [disabled]="search_disable()" type="submit">
                Search
              </button>
            </div>
          </div>
        </form>
        <ul class="nav navbar-nav ">
          <li routerLink="/home" routerLinkActive="class-name">
            <a>
              <span >Home</span>
            </a>
          </li>

          <li routerLink="/about-us" routerLinkActive="class-name">
            <a>
              <span >About Us</span>
            </a>
          </li>
          <li routerLink="/carrers" routerLinkActive="class-name">
            <a>
              <span>Careers</span>
            </a>
          </li>
          <li routerLink="/contact-us" routerLinkActive="class-name">
            <a>
              <span>Contact Us</span>
            </a>
          </li>
          <!-- <li >
            <a>
              <span class="pad_l_5">Categories</span>
            </a>
          </li> -->
        </ul>
        <ul class="nav navbar-nav navbar-right">

          <li *ngIf="token!=undefined && token!='' && loginUserData.user_type!='Customer' && loginUserData.user_type!='Guest'"
            routerLink="/dashboard" routerLinkActive="class-name">
            <a mat-button>
              <span class="fa fa-tachometer"></span>
              <span class="pad_l_5">Dashboard</span>
            </a>
          </li>

          <li *ngIf="token!=undefined && token!='' && (loginUserData.user_type=='Customer' || loginUserData.user_type=='Dealer' || loginUserData.user_type=='Guest')"
            (click)="viewcart()" routerLink="/viewcart" routerLinkActive="class-name">
            <a mat-button>
              <span class="glyphicon glyphicon-shopping-cart"></span>
              <span class="pad_l_5">Cart</span>
              <span class="badge badge-danger ml-2" *ngIf="cartItem_count>0">{{cartItem_count}}</span>
            </a>
          </li>

          <li (click)="openLoginModal()" routerLinkActive="class-name">
            <a mat-button *ngIf="token==undefined || token==''">
              <span class="glyphicon glyphicon-user"></span>
              <span class="pad_l_5">Login/Register</span>
            </a>
          </li>

          <li>
            <a mat-button *ngIf="token!=undefined && token!=''" [matMenuTriggerFor]="menu" routerLinkActive="class-name">
              <span class="glyphicon glyphicon-user"></span>
              <span class="pad_l_5">{{loginUserData.first_name | slice:0:12}}</span>
            </a>
            <mat-menu #menu="matMenu">
              <button mat-menu-item routerLink="/profile">
                <span class="	glyphicon glyphicon-user"></span>
                <span class="pad_l_10">My Profile</span>
              </button>
              <button mat-menu-item routerLink="/wishlist" *ngIf="token!=undefined && token!='' && (loginUserData.user_type=='Customer' || loginUserData.user_type=='Guest' || loginUserData.user_type=='Dealer')">
                <span class="	glyphicon glyphicon-heart"></span>
                <span class="pad_l_10">WishList &nbsp; &nbsp;
                  <span class="wish_count" *ngIf="wishList_count>0">{{wishList_count}}</span>
                </span>
              </button>
              <button mat-menu-item routerLink="/myOrders">
                <span class="	glyphicon glyphicon-user"></span>
                <span class="pad_l_10">My Orders</span>
              </button>
              <button mat-menu-item (click)="gotoLogout()" routerLink="/home">
                <span class="	glyphicon glyphicon-log-out"></span>
                <span class="pad_l_10">Logout</span>
              </button>
            </mat-menu>
          </li>

          <li routerLink="/store-location" routerLinkActive="class-name">
            <a mat-button>
              <span class="glyphicon glyphicon-map-marker"></span>
              <span class="pad_l_5">Locate Store</span>
            </a>
          </li>
        </ul>



      </div>
    </div>
  </nav>
  <ngx-spinner class="loader_spinner"></ngx-spinner>
</header>
<app-login-modal></app-login-modal>