<footer class="footer page-footer bg_footer">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-4  col-xs-6 footer_foc">
        <h4 class="txt_greeen">Company</h4>
        <p routerLink="/about-us">About Us</p>
        <p routerLink="/contact-us">Contact Us</p>
        <p routerLink="/carrers">Careers</p>
      </div>
      <div class="col-md-2 col-sm-4  col-xs-6 footer_foc">
        <h4 class="txt_greeen">Categories</h4>
        <p *ngFor="let p of resources | slice:0:5" (click)="catg_click(p)">{{p.Category}}</p>
        <p class="view_more" (click)="all_catg()">View More...</p>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 footer_foc">
        <h4 class="txt_greeen">HELP</h4>
        <p>Payments</p>
        <p>Shipping</p>
        <p>Cancellation & Returns</p>
        <p>FAQ</p>
      </div>
      <div class="col-md-1 col-sm-4 col-xs-6 footer_foc">
        <h4 class="txt_greeen">Social</h4>
        <div class="row" style="border-right: 1px solid #d3d3d394;">
          <p class="col-md-12 "><a href="https://www.facebook.com/Powertextool/" target="_blank" ><i class="fa fa-facebook s_i" ></i></a></p>
          
          <p class="col-md-12 "><a href="https://twitter.com/Powertextool/" target="_blank"><i class="fa fa-twitter s_i"></i></a></p>
          <p class="col-md-12 "><a href="https://plus.google.com/+Powertextool/" target="_blank"><i class="fa fa-google-plus s_i" ></i></a></p>
          <p class="col-md-12 "><a href="https://www.linkedin.com/company/powertextool/" target="_blank"><i class="fa fa-linkedin s_i"></i></a></p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 footer_foc" >
        <h4 class="txt_greeen">Registered Address</h4>
        <p>Powertex Tools Company Pvt Ltd.</p>
        <p>19-2-239/1/3/B, Chandulal Baradari,</p>
        <p>Industrial Estate, Bahadurpura,</p>
        <p> Hyderabad - 500064,</p> 
        <p>Telangana, India.</p> 
        <p><a href="mailto:#" style="color:#fff"> <i class="fa fa-envelope-o pad_r_10"></i>info@powertextools.com</a></p>
        <p><a  style="color:#fff"> <i class="fa fa-phone pad_r_10"></i> 040 - 67216721</a></p>
      </div>
      <div class="col-md-2 col-sm-6 col-xs-12">
        <h4 class="txt_greeen">Location</h4>
        <div>
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7616.529166044314!2d78.458738!3d17.350997!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x663a94b1d0d10278!2sPowertex+Tools!5e0!3m2!1sen!2sin!4v1543299349023" width="100%" height="50%" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
      
    </div>
    <div class=" row footer">
      <hr>
      <div class="col-md-6  col-sm-6 col-xs-12">
        <p>All Rights Reserved by<span class="txt_greeen"> &copy;Powertex Tools Company Pvt. Ltd.</span></p> 
      </div>
      <div class="col-md-2">

      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <img class="img-responsive" src="../../assets/logo_payu.png" alt="Pay U Logo" height="20px"/>
      </div>
    </div>
  </div>
  <!-- Copyright -->
  <ngx-spinner class="loader_spinner"></ngx-spinner>
  
</footer>