<div class="container pad_t_5per pad_b_5per">
  <div class="row" style="margin:0px;box-shadow: 1px 1px 1px 1px lightgray;border-top-left-radius: 20px;border-top-right-radius: 20px;">
    <div class="row bg-theme dash_status" style="margin:0px">
      <div class="col-md-4 status_align">
        <a href="javascript:void(0)" [ngClass]="{'active_tab':All_Rev == true}" (click)="A_Rev()">New Reviews</a>
      </div>
      <div class="col-md-4 status_align">
        <a href="javascript:void(0)" [ngClass]="{'active_tab':Approve_Rev == true}" (click)="Apr_Rev()">Approved Reviews</a>
      </div>
      <div class="col-md-4 status_align">
        <a href="javascript:void(0)" [ngClass]="{'active_tab':Rejected_Rev == true}" (click)="Rej_Rev()">Rejected Reviews</a>
      </div>
    </div>

    <div style="padding:20px">
      <div *ngIf="All_Rev">
        <div class="row" style="margin:0px">
          <div>
            <div>
              <div class="row" style="padding: 10px;">
                <div class="col-md-12 mar_t_20">
                  <!-- <div class="row" style="padding: 0 24px;margin-left: 0px;margin-right: 0px;background: #0fa497;">
                      <div class="col-md-2 text-center"><h4 style="color:#ffff !important">Order No</h4></div>
                      <div class="col-md-3  text-center"><h4 style="color:#ffff !important">Ordered On</h4></div>
                      <div class="col-md-2  text-center"><h4 style="color:#ffff !important">Product Line</h4></div>
                      <div class="col-md-3  text-center"><h4 style="color:#ffff !important">Ordered Total</h4></div>
                  </div>  -->
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>S.No</th>
                          <!-- <th>User ID</th> -->
                          <th>User Id</th>
                          <th>User Name</th>
                          <th>Product Id</th>
                          <th>Rating</th>
                          <th>Title</th>
                          <!-- <th>Status</th> -->
                          <th>Options</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let reg of regList | paginate: { itemsPerPage: 10, currentPage: p }; let i=index">
                          <td>{{10*(p-1)+(i+1)}}</td>
                          <!-- <td>{{reg.user_id}}</td> -->
                          <td>{{reg.first_name}}</td>
                          <td>{{reg.last_name}}</td>
                          <td>{{reg.email}}</td>
                          <td>{{reg.mobile}}</td>
                          <td>{{reg.user_type}}</td>
                          <td>{{reg.status}}</td>
                          <td>
                            <span class="f_size_15 blue_clr padd_right_10 cursor_pointer" (click)="viewInfo(reg)">
                              <i class="fa fa-eye" aria-hidden="true" title="View More"></i>
                            </span>
                            <span class="f_size_15 red_clr padd_right_10 cursor_pointer" (click)="reject(reg)">
                              <i class="fa fa-close" aria-hidden="true" title="Reject"></i>
                            </span>
                            <span class="f_size_15 orange_clr padd_right_10 cursor_pointer" (click)="editInfo(reg)">
                              <i class="fa fa-edit" aria-hidden="true" title="Edit"></i>
                            </span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <pagination-controls (pageChange)="p = $event"></pagination-controls>
                  <!-- <mat-accordion *ngFor="let p of orders | filter:searchText">
                      <div *ngIf="check_status(p.detail)">
                        <mat-expansion-panel  (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                          <mat-expansion-panel-header >
                            <mat-panel-title >
                              <div class="col-md-2  text-center">
                                  <p class="txt_black"style="margin-bottom: 0px;"><span >&nbsp;&nbsp;{{p.po_no }}</span></p>
                              </div>
                              <div class="col-md-3  text-center">
                                  <p  class="txt_black"style="
                                  margin-bottom: 0px;
                              "><span >&nbsp;&nbsp;{{p.po_date | date:'mediumDate'}}</span></p>
                              </div>
                              <div class="col-md-2  text-center">
                                  <p  class="txt_black"style="
                                  margin-bottom: 0px;
                              "><span >&nbsp;&nbsp;{{p.detail.length}}</span></p>
                              </div>
                              <div class="col-md-3  text-center">
                                  <p  class="txt_black"style="margin-bottom: 0px;"><span  style="position: absolute;right: 30%;">{{p.amount}}</span></p>
                              </div>
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                          <h4>Order Details:</h4>
                          
                          <div style="max-height: 380px;overflow: auto;">
                            <table class="table">
                              <thead>
                                <tr>
                                  <th>S.No</th>
                                  <th>Product </th>
                                  <th>Product Description</th>
                                  <th>Price</th>
                                  <th>Qty</th>
                                  <th>Net Amount</th>
                                  <th>GST</th>
                                  <th>Total Amount</th>
                                  <th>Status</th>

                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let pd of p.detail ; let i=index;">
                                  <td>{{i + 1}} </td>
                                  
                                  <td style="width:10%;"> <div><img src="{{pd.image}}" onError="this.src='https://i5.walmartimages.com/asr/f752abb3-1b49-4f99-b68a-7c4d77b45b40_1.39d6c524f6033c7c58bd073db1b99786.jpeg';" class="img-thumbnail" style="width:70%;height: 30px;"></div></td>
                                  <td>
                                      <h4 style="margin-top:0px; font-size: 13px !important;">{{pd.name}}</h4>
                                  </td>
                                  <td> <div style="margin:0px;"> <span class="f_wt_600">{{pd.net_price}}</span></div></td>
                                  <td> <div >
                                      <p><span class=" f_wt_600">{{pd.qty }}</span></p>
                                    </div>
                                  </td>
                                  <td>
                                    <div >
                                      <p style="margin-bottom: 0px"><span class=" f_wt_600">{{pd.qty * pd.net_price}}</span></p>
                                      <p style="font-size:10px; color:#a5a4a4;margin-top: -8px;text-align:center;">(Excluding GST)</p>
                                    </div>
                                  </td>
                                  <td>
                                    <div >
                                      <p><span class=" f_wt_600">18% </span></p>
                                    </div>
                                  </td>
                                  <td>
                                    <div>
                                    
                                      <span class="f_wt_600">{{pd.tot_value}}</span>&nbsp;
                                      <p style="font-size:10px; color:#a5a4a4;margin-top: -8px;text-align:center;">(Including GST)</p>
                                    </div>
                                  </td>
                                  <td>
                                      <div >
                                          <p><span class=" f_wt_600">{{pd.status}} &nbsp; <button class="track_btn">Track</button></span></p>
                                        
                                        </div>
                                    
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            
                          </div>
                        </mat-expansion-panel>
                  </div>
                  </mat-accordion> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="Approve_Rev">

        <div class="row" style="margin:0px">
          <div>
            <div>
              <div class="row" style="padding: 10px;">

                <div class="col-md-12 mar_t_20">

                  <mat-accordion *ngFor="let p of orders | filter:searchText">
                    <!-- <div *ngIf="p.detail[0].status!=='Delivered'"> -->
                    <div *ngIf="check_status1(p.detail)">
                      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            <div class="col-md-2">
                              <p class="txt_black" style="
                        margin-bottom: 0px;
                    ">Order No:
                                <span class="f_wt_600">{{p.po_no }}</span>
                              </p>
                            </div>
                            <div class="col-md-3">
                              <p class="txt_black" style="
                        margin-bottom: 0px;
                    ">Ordered On:
                                <span class="f_wt_600">{{p.po_date | date:'mediumDate'}}</span>
                              </p>
                            </div>
                            <div class="col-md-3">
                              <p class="txt_black" style="
                        margin-bottom: 0px;
                    ">Product Line:
                                <span class="f_wt_600">{{p.detail.length}}</span>
                              </p>
                            </div>
                            <div class="col-md-3">
                              <p class="txt_black" style="
                        margin-bottom: 0px;
                    ">Ordered Total:
                                <span class="f_wt_600">{{p.amount}}</span>
                              </p>
                            </div>

                          </mat-panel-title>
                          <!-- <mat-panel-description>
                          Currently I am {{panelOpenState ? 'open' : 'closed'}}
                        </mat-panel-description> -->
                        </mat-expansion-panel-header>
                        <h4>Order Details:</h4>

                        <div>
                          <div class="table-responsive">
                            <table class="table">
                              <thead>
                                <tr>
                                  <th>S.No</th>
                                  <th>Product </th>
                                  <th>Product Description</th>
                                  <th>Price</th>
                                  <th>Qty</th>
                                  <th>Net Price</th>
                                  <th>GST</th>
                                  <th>Total Price</th>
                                  <th>Status</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let pd of p.detail; let i=index;">
                                  <td>{{i + 1}} </td>

                                  <td style="width:10%;">
                                    <div>
                                      <img src="{{pd.image}}" onError="this.src='https://i5.walmartimages.com/asr/f752abb3-1b49-4f99-b68a-7c4d77b45b40_1.39d6c524f6033c7c58bd073db1b99786.jpeg';"
                                        class="img-thumbnail" style="width:70%;height: 30px;">
                                    </div>
                                  </td>
                                  <td>
                                    <h4 style="margin-top:0px; font-size: 13px !important;">{{pd.name}}</h4>
                                  </td>
                                  <td>
                                    <div style="margin:0px;">
                                      <span class="f_wt_600">{{pd.net_price}}</span>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="mar_b_10">
                                      <p>
                                        <span class=" f_wt_600">{{pd.qty }}</span>
                                      </p>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="mar_b_10">
                                      <p style="margin-bottom: 0px">
                                        <span class=" f_wt_600">{{pd.qty * pd.net_price}}</span>
                                      </p>
                                      <p style="font-size:10px; color:#a5a4a4;margin-top: -8px;text-align:center;">(Excluding GST)</p>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="mar_b_10">
                                      <p>
                                        <span class=" f_wt_600">18% </span>
                                      </p>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="mar_b_10">
                                      <span class=""></span>
                                      <span class="">&#8377;&nbsp;</span>
                                      <span class="f_wt_600">{{pd.tot_value}}</span>&nbsp;
                                      <p style="font-size:10px; color:#a5a4a4;margin-top: -8px;text-align:center;">(Including GST)</p>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="mar_b_10">
                                      <p>
                                        <span class=" f_wt_600">{{pd.status}} </span>
                                      </p>
                                    </div>
                                    <button class="track_btn">Track</button>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </mat-expansion-panel>
                    </div>
                  </mat-accordion>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="Rejected_Rev">

      </div>
    </div>
  </div>
</div>