<div>
  <ngx-smart-modal identifier="feedbackModal" #feedbackModal>

    <div class="modal-body" style="padding:0;">
      <div class="row">
        <div class="col-md-12">

          <div>
          <div>
            Cooments
          </div>
              
            <button class="btn btn-success" routerLink="/myOrders" (click)="feedbackModal.close()">OK, Got it</button>
          </div>

        </div>
      </div>
    </div>

  </ngx-smart-modal>
</div>