<div class="container pad_t_5per pad_b_5per" *ngIf="poHidden">
  <p class="bread-crumb1">
    <span>
      <a href="javascript.void(0)" routerLink="/dashboard">Dashboard</a>
    </span>&nbsp;>&nbsp;
    <span>Orders</span>
  </p>
  <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
      <h3 class="shopee_name">
        <span>{{loginUserData.content}}</span>
      </h3>
    </div>
  <div class="reg_form mar_b_30 pad_15">
    <div class="row">

      <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12 adnce_search">
        <button class="btn btn-primary" (click)="display()">Advance Search</button>
      </div>

      <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12 prev_cart_oreds">
        <img src="../../../assets/plus (2).png" class="prev" />
        <span>Previous Orders</span>
      </div>

      <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12 prev_cart_oreds">
        <div (click)="cart_list()" class="cart_list_blk">
          <img src="../../../assets/plus (2).png" class="prev" />
          <span>Cart List</span>
        </div>
      </div>

    </div>

    <div class="row adv_search mar_t_30" *ngIf="isHidden">
      <div>
        <div class="col-md-1"></div>
        <div class="col-md-3 pad_r_l_0">
          <div>
            <h3>Category</h3>
            <div class="cats">
              <p *ngFor="let p of resources" class="pad_l_5">
                <input type="checkbox" [checked]="selected_cat === p.Category" (change)="prod_category(p,$event)"> {{p.Category}}
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3 pad_r_l_0">
          <h3>Sub Category</h3>
          <div *ngFor="let p of resources">
            <div *ngIf="selectedCategory==p.Category" class="cats">
              <p *ngFor="let pd of p['detail']" class="pad_l_5">
                <input type="checkbox" [checked]="selected_sub_cat === pd.SubCategory" (change)="prod_subcategory(p,pd,$event)"> {{pd['SubCategory']}}</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 pad_r_l_0">
          <h3>Model Type</h3>
          <div class="cats">
            <p *ngFor="let r of httpdata" class="pad_l_5">
              <input type="checkbox" (change)="prod_modal(r,ev)"> {{r.modelno}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row pad_t_5per pad_15">
      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Category</th>
              <th>SubCategory</th>
              <th>SKU/Model No</th>
              <th>Quantity</th>
              <th>PCS/CTN</th>
              <th>Price</th>
              <th>Value</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let catg of selectedList;let j = index">

              <td>{{catg.category}}</td>
              <td>{{catg.subcategory}}</td>
              <td>
                {{catg.modelno}}
                <!-- <input type="text" [(ngModel)]="catg.modelno" name="modelno" style="padding-left: 5px;" /> -->
              </td>
              <td>
                <input type="number" class="form-control" placeholder="Enter Quantity" [(ngModel)]="catg.qty" name="quantity" (keyup)="onKey(catg)"
                  style="padding-left: 5px;" required />
              </td>
              <td>{{catg.piecepercarton}}</td>
              <td>{{catg.net_price}}</td>
              <td>
                {{catg.tot_value}}
                <!-- <input type="number" [(ngModel)]="catg.tot_value" name="tot_value"  disabled/> -->
              </td>
              <td>
                <span class="glyphicon glyphicon-remove-circle" style="font-size:22px;" (click)="deleteFieldValue(j)"></span>
              </td>

            </tr>
            <tr *ngFor="let field of fieldArray; let i = index">
              <td>{{field.category}}</td>
              <td>{{field.subcategory}}</td>
              <td>{{field.modelno}}</td>

              <td>
                <input type="number" class="form-control" name="fieldquantity" [(ngModel)]="field.qty" style="padding-left: 5px; width: 50% !important;"
                  [disabled]="field.Field_Qaun" />
              </td>
              <td>{{field.piecepercarton}}</td>
              <td>{{field.net_price}}</td>
              <td>{{field.tot_value}}</td>
              <td class="i_opt">

                <p>
                  <span class=" fa glyphicon glyphicon-pencil" (click)="field.Field_Qaun='false'"></span>
                  <span class="fa glyphicon glyphicon-trash" (click)="deleteFieldValue2(i)"></span>
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <input list="categorys" class="form-control" placeholder="Select Category" name="newAttributecategory" [(ngModel)]="newAttribute1.category"
                  (input)="change_form($event.target.value)" style="padding-left: 5px;">
                <datalist id="categorys">
                  <option *ngFor="let p of resources" value="{{p.Category}}">
                </datalist>

              </td>
              <td>
                <input list="subcategorys" class="form-control" placeholder="Select SubCategory" name="newAttributesubcategory" [(ngModel)]="newAttribute1.subcategory"
                  (input)="change1($event.target.value,selectedCategory_form)" style="padding-left: 5px;" [disabled]="sele_sub_catg()"
                />
                <div *ngFor="let p of resources">
                  <datalist id="subcategorys" *ngIf="selectedCategory_form==p.Category">
                    <option *ngFor="let pd of p['detail']" value="{{pd['SubCategory']}}">
                  </datalist>
                </div>
              </td>
              <td>
                <input list="modelno" class="form-control" placeholder="Select Model" name="newAttributemodalno" [(ngModel)]="newAttribute1.modelno"
                  (input)="change2($event.target.value,data)" style="padding-left: 5px;" [disabled]="sele_model()" />
                <div>
                  <div>
                    <datalist id="modelno">
                      <option *ngFor="let data of httpdata2" value="{{data.modelno}}">
                    </datalist>
                  </div>
                </div>
              </td>
              <td>
                <input type="number" class="form-control" name="newAttributequantity" (keyup)="onKey1(newAttribute1)" [(ngModel)]="newAttribute1.qty"
                  placeholder="Enter Quantity" style="padding-left: 5px;" [disabled]="sele_quan()" />
              </td>
              <td>
                <input type="number" class="form-control" name="newAttributepiecepercarton" [(ngModel)]="newAttribute1.piecepercarton" style="padding-left: 5px;"
                  disabled />
              </td>
              <td>
                <input type="number" class="form-control" name="newAttributeprice" [(ngModel)]="newAttribute1.net_price" style="padding-left: 5px;"
                  disabled />
              </td>
              <td>
                <input type="number" class="form-control" name="newAttributevalue" [(ngModel)]="newAttribute1.tot_value" style="padding-left: 5px;"
                  disabled />
              </td>
              <td>
                <button class="btn btn-default" type="button" [disabled]="add_disable(newAttribute1)" (click)="addFieldValue()">Add</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <input type="button" style="float:right" class="btn btn-primary" value="Place Order" [disabled]="placeorder_disable(selectedList,newAttribute1,fieldArray)"
        (click)="addupd(selectedList,newAttribute1,fieldArray)">
      <input type="button" class="btn btn-primary place_ordr_btnn" value="Save" (click)="draft(selectedList,newAttribute1,fieldArray)">
    </div>
  </div>
</div>


<!-- *ngIf="addressHidden" -->
<div class="container pad_t_5per pad_b_5per" *ngIf="addressHidden">
  <p class="bread-crumb1">
    <span>
      <a href="javascript.void(0)" routerLink="/dashboard" style="
          color: #878787 !important;">Dashboard</a>
    </span>
    &nbsp;>&nbsp;
    <span (click)="change()" class="bread_crumb_hover"> Orders</span>
    &nbsp;>&nbsp;
    <span>Payment Terms</span>

  </p>
  <form #paymentForm="ngForm">
    <div class="pad_t_b_20 reg_form">
      <h4 style="background: #0fa497;padding: 10px;color: white !important;margin-top: -20px;">Payment Terms</h4>

      <div class="row pad_t_20">
        <div class="form-group">
          <div class="col-md-12">
            <div class="col-md-3 mar_b_10_mbl">
              <label for="creditperiod" class="">Credit Period (days)
                <sub class="txt_red f_size_25">*</sub>
              </label>
              <div class="">
                <input type="text" class="form-control" name="creditperiod" [(ngModel)]="paymentData.creditperiod" #creditperiod="ngModel"
                  required placeholder="Enter creditperiod">
                <div [hidden]="creditperiod.valid ||  creditperiod.untouched" class="validation_msg">
                  credit period is required
                </div>
              </div>
            </div>
            <div class="col-md-3 mar_b_10_mbl">
              <label for="paymentterms">payment terms
                <sub class="txt_red f_size_25">*</sub>
              </label>
              <input type="text" class="form-control" name="paymentterms" [(ngModel)]="paymentData.paymentterms" #paymentterms="ngModel"
                required placeholder="Enter payment terms">
              <div [hidden]="paymentterms.valid ||  paymentterms.untouched" class="validation_msg">
                Paymentterms is required
              </div>
            </div>
            <div class="col-md-3 mar_b_10_mbl">
              <label for="splinstr" class="">Special Instructions
                <sub class="txt_red f_size_25">*</sub>
              </label>
              <div class="">
                <textarea type="text" class="form-control" required name="splinstr" [(ngModel)]="paymentData.splinstr" #splinstr="ngModel"
                  placeholder="Enter Special instructions"></textarea>
                <div [hidden]="splinstr.valid ||  splinstr.untouched" class="validation_msg">
                  Instructions are required
                </div>
              </div>
            </div>
            <div class="col-md-3 mar_b_10_mbl">
              <label for="remarks1">remarks 1
                <!-- <sub class="txt_red f_size_25">*</sub> -->
              </label>
              <textarea type="text" class="form-control" name="remarks1" [(ngModel)]="paymentData.remarks1" #remarks1="ngModel" placeholder="Enter remarks"></textarea>
              <div [hidden]="remarks1.valid ||  remarks1.untouched" class="validation_msg">
                Remarks are required
              </div>
            </div>
            <!-- <div class="col-md-4">
              <label for="exchange_rate">exchange rate :</label>
              <input type="text" class="form-control" id="exchange_rate" name="exchange_rate" [(ngModel)]="paymentData.exchange_rate" #exchange_rate="ngModel" required
                        placeholder="Enter exchange rate">
            </div> -->
          </div>
        </div>
      </div>
      <div class="row pad_b_10 pad_b_10">
        <div class="form-group">
          <div class="col-md-12">
            <div class="col-md-3">
              <label for="remarks2">remarks 2 </label>
              <textarea type="text" class="form-control" name="remarks1" [(ngModel)]="paymentData.remarks2" #remarks2="ngModel" placeholder="Enter remarks"></textarea>
              <!-- <div [hidden]="creditperiod.valid ||  creditperiod.untouched" class="validation_msg">
                              credit period is required
                          </div> -->
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="reg_form mar_b_30 pad_15">
      <div class="row">
        <div class="col-md-6">

          <h4 style="background: #0fa497;padding: 10px;color: white !important;">Select Delivery Address</h4>
          <div *ngFor="let p of shipAdd;  let i = index;" style="border-bottom: 1px solid #d9534f4d;padding: 10px;">
            <div class="col-md-8">
              {{p.address1}},{{p.address2}} ,{{p.city}},{{p.state}}
            </div>
            <div class="col-md-4">

              <span style="float:right">
                <input type="checkbox" style="width:20px;height:18px" name="shipAdd" [checked]="selected_ship === p.seq_no" (change)="shipping(p,$event.target.checked)">
              </span>

            </div>
            <hr/>
          </div>
        </div>
        <div class="col-md-6">

          <h4 style="background: #0fa497;padding: 10px;color: white !important;">Select Billing Address</h4>
          <div *ngFor="let p of billAdd;  let i = index" style="border-bottom: 1px solid #d9534f4d;padding: 10px;">
            <div class="col-md-8">
              {{p.address1}},{{p.address2}} ,{{p.address3}} ,{{p.address4}},{{p.city}},{{p.state}}
            </div>
            <div class="col-md-4">

              <span style="float:right">
                <input type="checkbox" style="width:20px;height:18px" name="billAdd" value="billAdd" [checked]="selected_bill === p.seq_no"
                  (change)="billing(p,$event.target.checked)">
              </span>

            </div>
            <hr />
          </div>
        </div>
      </div>
      <div class="row pad_t_5per">
        <div class="col-md-2"></div>
        <div class="col-md-8 text-center">
          <button class="btn btn-primary" style="margin:5px;">
            Cancel
          </button>
          <button class="btn btn-primary" [disabled]="con_disable() || paymentForm.invalid" (click)="confirm_order()" style="margin:5px;">
            Confirm Order
          </button>
        </div>
        <div class="col-md-2"></div>

      </div>
    </div>
  </form>
</div>

<ngx-spinner class="loader_spinner"></ngx-spinner>


<!-- modal pop up start here -->
<div class="modal fade" id="orderSuccessfulModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" style="padding:0;">
        <div class="row">
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <h4 class="alert_heading">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </h4>
            <div class="right_mark">
              <i class="fa fa-check" aria-hidden="true"></i>
            </div>
            <div class="pad_15 text-center content_msg" style="padding: 10% 0;">
              <span>Your Order was Placed Successfully..!!</span>
              <p class="alert_order_no">Order No :
                <b>{{poprint.PO}}</b>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success fr" data-dismiss="modal" (click)="gotoPrint()">OK</button>
      </div>
    </div>
  </div>
</div>