thead{
    th {
        text-align: center;
        padding: 12px;
        font-size: 14px;
    }
}

table{
    tr{
        td{
            text-align: -webkit-center;
            padding: 10px 5px;
            input {
                width:100%;
                
            }
            input::placeholder {
                color:#0fa497;
                font-size: 1em;
                font-style: italic;
              }
        }
    }
}

.adv_search {
    background: white;
    box-shadow: 1px 1px 1px 1px #cac3c3;
    border-radius: 4px;
    padding-bottom: 20px;
    .pad_r_l_0 {
        padding-left: 0px !important;
        padding-right: 0px !important;
        h3 {
            background: #0fa497;
            padding: 10px;
            font-size: 15px;
            color: rgb(255, 255, 255);
        }
        p {
            font-size:15px!important;
            input {
                width: 17px;
                height: 20px;
                vertical-align: bottom;
                margin-right: 5px;
            }
        }
    }
}

.table-bordered {

    thead {
        tr {
            th{
                border: none;
            }
            
        } 
    }
    tbody {
        tr {
            td{
                border: none;
            }
            
        } 
    }
}
.form-control{
    padding: 7px 7px !important;
}
.btn-primary {
    color: #fff;
    background-color: #0fa497;
    border-color: #0fa497;
}


//alert styles start here
.alert_heading{
    background: #0da550;
    margin-top: 0;
    padding: 50px;
    text-align: center;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.alert_heading span{
    color:#fff;
}
.right_mark{
    background: #fff;
    width: 100px;
    height: 100px;
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 40%;
    top: 50px;
    box-shadow: 3px 5px 10px #ddd;
}
.right_mark i{
    font-size: 60px;
    color: #0da550;
}
.content_msg span{
    font-size: 18px;
    font-weight: 550;
}
.close{
    color: #fff !important;
     opacity: 0 !important;
    margin-top: -40px !important;
    margin-right: -30px !important;
}
.modal-content{
    border-radius: 15px !important;
}
.i_opt {
    p {
        .fa{
            padding: 0px 7px;
            font-size: 15px;
            color: #0fa497;
            cursor: pointer;
        }
    }
}
.prev_cart_oreds{
    cursor: pointer;
}
.prev_cart_oreds img{
    width: 10%;
}
.prev_cart_oreds span{
    font-size: 18px;
    padding: 12px;
    vertical-align: -1px;
}
.save_btnn{
    float:right;
}
.place_ordr_btnn{
    float:right; 
    margin-right: 10px;
}
.cats{
    height:250px;
    overflow:auto;
    width: 90%; 
}



/* mobile styles start here */
@media screen and (min-width: 320px) and (max-width: 480px){
    .adnce_search{
        text-align: center;
    }
    .prev_cart_oreds span{
        font-size: 13px;
    }
    .prev_cart_oreds img{
        width: 8%;
    }
    .prev_cart_oreds{
        text-align: center;
        line-height: 3;
    }
    .cart_list_blk{
        margin-left: -45px;
    }
    .save_btnn{
        float:none;
    }
    .cats{
        height:auto; 
    }
    .mar_b_10_mbl{
        margin-bottom: 10px;
    }
  }

/* tablets styles start here */
@media screen and (min-width: 481px) and (max-width: 767px){
    .adnce_search{
        text-align: center;
    }
    .prev_cart_oreds span{
        font-size: 13px;
    }
    .prev_cart_oreds img{
        width: 4%;
    }
    .prev_cart_oreds{
        text-align: center;
        line-height: 3;
    }
    .cart_list_blk{
        margin-left: -45px;
    }
    .save_btnn{
        float:none;
    }
    .cats{
        height:auto;
    }
    .mar_b_10_mbl{
        margin-bottom: 10px;
    }
  }

/* desktops styles start here */
@media screen and (min-width: 768px) and (max-width: 991px){
 
  }

  /* desktops styles start here */
@media screen and (min-width: 992px) and (max-width: 1023px){
   
  }

    /* lg-desktops styles start here */
@media screen and (min-width: 1024px) and (max-width: 1200px){
   
  }