<div class="container pad_t_5per pad_b_5per">
  <p class="bread-crumb1">
    <span>
      <a href="javascript.void(0)" routerLink="/dashboard" style="
                          color: #878787 !important;
                      ">Dashboard</a>
    </span>&nbsp;>&nbsp;
    <span>Proforma / PackingList</span>
  </p>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
      <h3 class="shopee_name">
        <span>{{loginUserData.content}}</span>
      </h3>
    </div>
  </div>
  <div class="reg_form mar_b_30 pad_15">

    <div class="row mar_b_15">
      <div class="col-sm-12">
        <div class="fl">
          <h4>PO Orders</h4>
        </div>
        <div class="fr">
          <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Search Here..." class="search_style">
          <button type="submit" class="input_btn">Search</button>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="(poList | filter :searchText) as poList">
      <div class="col-sm-12 list" *ngIf="poList.length>0">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>S.No</th>
              <th>User Name</th>
              <th>PO No.</th>
              <th>PO Date</th>
              <th>Org Company Code</th>
              <th>Business Name</th>
              <th>City</th>
              <th>Make PL</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of poList |filter:searchText | paginate: { itemsPerPage: 10, currentPage: p }; let i=index">
              <td>{{10*(p-1)+(i+1)}}</td>
              <td>{{item.Username}}</td>
              <td>{{item.po_no}}</td>
              <td>{{item.po_date }}</td>
              <td>{{item.po_origin_company_code}}</td>
              <td>{{item.business_name}}</td>
              <td>{{item.b_city}}</td>
              <td>
                <span class="f_size_15 padd_right_10 orange_clr cursor_pointer" (click)="makePackingList(item)">
                  <i class="fa fa-edit" aria-hidden="true" title="Edit"></i>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>

      </div>

      <div *ngIf="poList.length==0">
        <div class="col-md-12">
          <div class="no_data">
            <img class="no_data_cnter" src="../assets/emptyicon.png" />
            <span class="nodata_txt">No Data is Availble</span>
          </div>
        </div>
      </div>

    </div>


  </div>
  <ngx-spinner class="loader_spinner"></ngx-spinner>
</div>