<ngx-smart-modal identifier="otpModal" #otpModal>
  <div class="modal-header">
    <h4 class="modal-title text-center">OTP</h4>
  </div>

  <div class="modal-body">
    <form  #otpForm="ngForm">

      <div class="form-group pad_t_10per pad_b_10per">
        <label class="control-label col-md-3" for="otp">Enter OTP</label>
        <div class="col-md-9">
          <input type="text" required class="form-control" minlength="4" id="otp" [(ngModel)]="otpModal.otp" placeholder="Enter OTP"
            name="otp" #otp="ngModel">
          <div [hidden]="otp.valid ||  otp.untouched" class="alert alert-danger">
            otp is required
          </div>
        </div>

      </div>



      <!-- <div class="form-group">
        <div class="text-center">
          <button type="submit" [disabled]="!otpForm.valid" class="btn btn-primary">Submit</button>
        </div>
      </div> -->

    </form>

    <div class="pad_t_10per">
      <button type="button" (click)="otpModal.close()" class="btn btn-primary">Cancel</button>
      <button type="submit" [disabled]="!otpForm.valid" (click)="submitOTP(otpModal.otp)" class="btn btn-primary pull-right">Submit</button>
    </div>



  </div>


</ngx-smart-modal>