.chose_vendr{
    background: #0fa497;
    text-align: center;
    padding: 18px 0 0 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
}

thead{
    th {
        text-align: center;
        padding: 12px;
        font-size: 14px;
    }
}

table{
    tr{
        td{
            text-align: center;
            padding: 10px 5px;
            input {
                width:100%;
            }
            input::placeholder {
                color:#0fa497;
                font-size: 1em;
                font-style: italic;
            }
        }
    }
}

.adv_search {
    background: white;
    box-shadow: 1px 1px 1px 1px #cac3c3;
    border-radius: 4px;
    padding-bottom: 20px;
    .pad_r_l_0 {
        padding-left: 0px !important;
        padding-right: 0px !important;
        h3 {
            background: #0fa497;
            padding: 10px;
            font-size: 15px;
            color: rgb(255, 255, 255);
        }
        p {
            font-size:15px!important;
            input {
                width: 17px;
                height: 20px;
                vertical-align: bottom;
                margin-right: 5px;
            }
        }
    }
}

.table-bordered {
    thead {
        tr {
            th{
                border: none;
            }
        } 
    }
    tbody {
        tr {
            td{
                border: none;
            }
        } 
    }
}
.form-control{
    padding: 7px 7px !important;
}
.btn-primary {
    color: #fff;
    background-color: #0fa497;
    border-color: #0fa497;
}


//alert styles start here
.alert_heading{
    background: #0da550;
    margin-top: 0;
    padding: 50px;
    text-align: center;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.alert_heading span{
    color:#fff;
}
.right_mark{
    background: #fff;
    width: 100px;
    height: 100px;
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 40%;
    top: 50px;
    box-shadow: 3px 5px 10px #ddd;
}
.right_mark i{
    font-size: 60px;
    color: #0da550;
}
.content_msg span{
    font-size: 18px;
    font-weight: 550;
}
.close{
    color: #fff !important;
     opacity: 0 !important;
    margin-top: -40px !important;
    margin-right: -30px !important;
}
.modal-content{
    border-radius: 15px !important;
}

.vendor_sel{
    width: 200px;
    padding: 5px;
    border: 1px solid #20978c;
    border-radius: 5px;
}

.vendor_lab{
    color:#fff !important;
    font-weight: 700 !important;
    font-size:18px;
    padding-right: 15px;
}
.i_opt {
    p {
        .fa{
            padding: 0px 7px;
            font-size: 15px;
            color: #0fa497;
            cursor: pointer;
        }
    }
}