<div class="container pad_t_5per pad_b_5per ">

  <p class="bread-crumb1">
    <span>
      <a href="javascript.void(0)" routerLink="/dashboard">Dashboard</a>
    </span>&nbsp;>&nbsp;
    <span>POS</span>
  </p>
  <div class="reg_form mar_b_30 pad_15">
    <div class="row mar_b_15">
      <div class="col-sm-12">
        <div class="fl">
          <h4>POS Users</h4>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <label for="mobile" class="">Mobile Number
          <sub class="txt_red f_size_25">*</sub>
        </label>
        <input type="text" name="mobile" class="form-control" placeholder="Enter Mobile Number" [(ngModel)]="mobile"
          (ngModelChange)="changeMobile()">
        <div *ngIf="mobile.length>1 && showMobile">
          <div *ngIf="(httpdata2 | filter :mobile) as httpdata2">
            <div *ngFor="let p of httpdata2" (click)="getMobile(p.mobile)">{{p.mobile}}</div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <label for="card" class="">Card No
        </label>
        <input type="text" name="card" class="form-control" placeholder="Enter Card No">
      </div>
      <div class="col-md-3">
        <label for="scan" class="">Scan Code
        </label>
        <input type="text" name="scan" class="form-control" placeholder="Enter Scan Code">
      </div>
      <div class="col-md-3">
        <button class="btn btn-primary mar_t_25" (click)="fetch(mobile)">Get</button>
        <button class="btn btn-primary mar_t_25" style="float:right;" (click)="open()">New User ?</button>
      </div>
    </div>
    <h4 *ngIf="newUserMsg">Welcome to Nwe User</h4>
    <section>
      <div class="row mar_t_10" *ngIf="httpdata3.length>0">
        <div class="col-md-6">
          <h5>
            <b>Billed To</b>
          </h5>
          <div *ngFor="let adr of httpdata3">
            <p style="margin:0px;">{{adr.first_name}}</p>
            <p>{{adr.city}},{{adr.state}},{{adr.country}}</p>
          </div>
        </div>
        <!-- <div class="col-md-4">
          <h5>
            <b>Shipped To</b>
          </h5>
          <div *ngFor="let adr of httpdata3">
            <p style="margin:0px;">{{adr.first_name}}</p>
            <p>{{adr.city}},{{adr.state}},{{adr.country}}</p>
          </div>
        </div> -->
      </div>
    </section>
    <section>
      <div class="row mar_t_4per">
        <form #barCodeForm="ngForm">
          
          <div class="col-md-4">
            <label for="barcode" class="">Barcode
              <sub class="txt_red f_size_25">*</sub>
            </label>
            <input type="text" required class="form-control" name="barcode" placeholder="Enter Barcode" [(ngModel)]="bar_code"
              (ngModelChange)="changeBarCode()">

            <div *ngIf="bar_code.length>1 && showBarcode" class="barcode_length">
              <div *ngIf="(httpdata4 | filter :bar_code) as httpdata4">
                <div *ngFor="let p of httpdata4" (click)="getBarCode(p.barcode)">{{p.barcode}}</div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <button [disabled]="barCodeForm.invalid" class="btn btn-primary mar_t_25" (click)="bar_code_fetch(bar_code)">GET</button>
          </div>
        </form>
      </div>
    </section>

    <section *ngIf="invoiceListData.length>0" class="mar_t_25">
      <div class="row">
        <div class="col-sm-12 list">
          <form #posForm="ngForm">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>S.No</th>
                  <th>Product name</th>
                  <th>Model No.</th>
                  <th>Mrp</th>
                  <th>Discount</th>
                  <th>Gst</th>
                  <th>Qty</th>
                  <th>Total Value</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of invoiceListData; let i=index">
                  <td>{{10*(p-1)+(i+1)}}</td>
                  <!-- <td>{{item.name1}} {{item.name2}}</td> -->
                  <td>{{item.long_name}}</td>
                  <td>{{item.modelno}}</td>
                  <td>{{item.mrp}}</td>
                  <td>{{item.discount_eu1}}</td>
                  <td>{{item.gst}}</td>
                  <td>
                    <span class="f_size_15 blue_clr padd_right_10">
                      <input type="text" class="form-control" name={{item.productid}} 
                        required [(ngModel)]="posModel[item.productid]" [min]=1 (ngModelChange)="getGrandTotalVal(item,((posModel[item.productid]*item.mrp)*(1-(item.discount_eu1/100)))*(1+(item.gst/100)))">
                    </span>
                    <!-- <div *ngIf="invoice.invalid && (invoice.dirty || invoice.touched)" class="invalid-feedback">You need
                        to be older than</div> -->
                  </td>
                  <td>{{((posModel[item.productid]*item.mrp)*(1-(item.discount_eu1/100)))*(1+(item.gst/100)) | number}}</td>
                  <td>
                    <div (click)="deleteItem(item,((posModel[item.productid]*item.mrp)*(1-(item.discount_eu1/100)))*(1+(item.gst/100)))"><i
                        class="fa fa-trash-o validation_msg" aria-hidden="true"></i></div>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="fr pad_t_15">
              <span class="grand_total">GRAND TOTAL : </span>
              <span class="grand_price">{{totalValue | number}}</span>
              <button type="submit" [disabled]="posForm.invalid" class="btn btn-primary mar_l_100" (click)="makeInvoice()">Approve
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </section>


    <div class="modal fade" id="succModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body" style="padding:0;">
            <div class="row">
              <div class="col-md-12">
                <h4 class="alert_heading">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </h4>
                <div class="right_mark">
                  <i class="fa fa-check" aria-hidden="true"></i>
                </div>
                <div class="pad_15 text-center content_msg" style="padding: 15% 0;">
                  <span>Thank You For Shopping..!!</span>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger fl" data-dismiss="modal" (click)="gotoPrevious()">Close</button>
            <button type="button" class="btn btn-success fr" data-dismiss="modal" (click)="gotoPrevious()">OK</button>
          </div>
        </div>
      </div>
    </div>


  </div>
  <ngx-spinner class="loader_spinner"></ngx-spinner>
</div>
<app-pos-new-user *ngIf="isModal" (childEvent)="pro($event)"></app-pos-new-user>