.testimonial{
    background-image: url(../../assets/home_feedback.jpg);
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.abt_head{
    font-size: 18px;
    font-weight: 600;
}
.contact_form_des{
    // position: absolute;
    top:-60px;
}
.contact_head{
    background: #0fa497;
    color: #fff;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px;
}
