<div class="pad_b_5per" style="padding-top: 2.8%;">
  <div class="container-fluid testimonial ">
    <div class="pad_5_per txt_center text_white">
      <h2>Welcome to Powertex   newwww ppt</h2>
      <div style="padding: 0 20%;line-height: 24px;word-spacing: 3px">Powertex established in 1998 in India. We are proud of our heritage and our reputation as one of India’s power tools suppliers. Our focus is the serious “do-it-yourself” as well as businesses that make a living working with our tools. With a firm belief in good ethics, fair sales practices and putting the customer first.
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12 mar_t_20">
        <!-- <div class="reg_form pad_15"> -->
        <div class="col-md-6">
          <h3 class="abt_head">ABOUT US siva naga alakshj</h3>
          <p class="text_align_justify">
            Powertex established in 1998 in India. We are proud of our heritage and our reputation as one of India’s power tools Suppliers. Our focus is the serious “do-it-yourself” as well as businesses that make a living working with our tools. With a firm belief in good ethics, fair sales practices and putting the customer first.
          </p>
          <p class="text_align_justify">
            Our head office location in Hyderabad which is our main distribution center, also features India’s largest Hand Tools & Power tools parts department with over 10,0000 parts in stock at all times! Our parts help service our own machinery, as well as most of our competitors.
          </p>
          <p class="text_align_justify">
            Since the beginning, we have been selling the products direct to our customers. We carry our own wide range of Machinery, Hand Tools, Power tools and accessories as well as the industry’s most popular brands. We love low prices and are committed to saving you money.
          </p>
          <p class="text_align_justify">
            In addition, our Domestic network of Powertex Power tools dealer’s centers ensures that you get the products you want, when and where you want them. These centers feature the latest in supply chain logistic technologies so that our product stocking levels meet your delivery demands.
          </p>
        </div>
        <div class="col-md-6">
          <h3 class="abt_head">OUR HISTORY</h3>
          <p class="text_align_justify">
            Powertex devote to producing industrial quality power tools. Powertex tools is a leading supplier of industrial power tools such as Angle Grinders, Cordless Tools, Pneumatic Power Tools, Drilling Machines, Welding Tools & Spare parts of best brands in India and other parts of the world with proven quality and after sales service.
          </p>
          <p class="text_align_justify">
            POWERTEX was established in 1998 beginning with selling the spare parts of products such as Armatures, Gears, and Switches etc. , then the company involved in multi brands with the wide range of products & Accessories and got collaborated with Mebote , Sunflower and many more, again in 2013 Powertex added with the ShenzenJasicTecnology company PvtLtd and started the selling of the Jasic Welding Machines &Powertex Welding Machines with Accessories.
          </p>
          <p class="text_align_justify">
            After that company became the reliable for POWER tools, Angle Grinders, Cordless Tools, Pneumatic Power Tools, and Drilling Machines, now the company having 500+ dealers and 500000+ end users in every state of India. In the perspective of information technology revolution and integrating the all business with the online e-commerce POWERTEX also launched the official website of powertextool.com for Sales & Service of the products through online portal.
          </p>
          
        </div>
      </div>
      <!-- </div> -->
    </div>
  </div>
</div>
