<div class="container pad_t_5per pad_b_5per">
  <p class="bread-crumb1">
    <span>
      <a href="javascript.void(0)" routerLink="/home" style="
      color: #878787 !important;
  ">Home</a>
    </span>&nbsp;>&nbsp;
    <span>Cart</span>
  </p>
  <div class="reg_form pad_15 mar_b_30">

    <div class="row">
      <div class="col-sm-12 head_header">
        <div class="fl">
          <h4>MY CART
            <span *ngIf="carItems.length>0">({{carItems.length}})</span>
          </h4>
        </div>
        <!-- <div class="fr">
          <label for="pincode" class="delivery-txt-color mar_r_15">Delivery</label>
          <input type="text" id="pincode" placeholder="Enter Pincode" class="search_style">
          <button type="submit" class="input_btn">CHECK</button>
        </div> -->
      </div>
    </div>
    <div *ngIf="carItems.length>0">

      <div class="viewcartProds">
        <div class="row border_styles" *ngFor="let item of carItems">
          <div class="col-md-12">

            <div class="col-md-8">
              <div class="col-md-2">
                <img [src]="item.url" class="product_image">
              </div>

              <div class="col-md-8 pad_l_40">
                <div class="mar_b_10 prod_name">{{item.subcategory}} {{ item.modelno}}</div>
                <div class="mar_b_10">
                  <span class="f_size_18">&#8377;&nbsp;</span>
                  <span class="actual_price">{{item.enduserprice}}</span>&nbsp;
                  <span class="end_user_price">&#8377;&nbsp;{{item.mrp}}</span> &nbsp;
                  <span class="offer_price">{{item.discount_a}}% off</span>
                </div>
                <div class="mar_b_10">
                  <span class="remove_btn" (click)="remove(item.productid)">REMOVE</span>
                </div>
              </div>

              <div class="col-md-2">
                <div class="qty-changer">
                  <button class="qty-change" (click)="increment(item)">+</button>
                  <input class="qty-input form-group qty-align f_wt_700" type="number" [value]="item.qty" [(ngModel)]="item.qty" />
                  <button class="qty-change" (click)="decrement(item)">-</button>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="mar_b_10">
                <span class="txt_gray f_wt_600">Price(
                  <span>{{item.qty}}</span> items):</span>
                <span class="fr f_size_13 txt_black">{{(item.enduserprice)*(item.qty)}}</span>
              </div>
              <div class="mar_b_10">
                <span class="txt_gray f_wt_600">Tax (%):</span>
                <span class="fr f_size_13 txt_black">{{item.gst}}</span>
              </div>
              <div>
                <span class="txt_gray f_wt_600">Delivery Charges:</span>
                <span class="fr f_size_13 txt_black">Free</span>
              </div>
              <hr>
              <div class="mar_b_10">
                <span class="txt_gray f_wt_600">Amount Payable:</span>
                <span class="fr f_size_13 txt_black">{{(item.total)}}</span>
              </div>
            </div>

          </div>
        </div>

      </div>

      <div class="row pad_15" style="border-top: 3px solid #f6f6f6;">
        <div class="fl pad_t_15">
          <button type="submit" class="btn btn-primary brdr_radius_50 btn_w bg_green border_green" (click)="remove('All')">Remove All
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
          </button>
        </div>
        <div class="fr pad_t_15">
          <span class="grand_total">GRAND TOTAL : </span>
          <span class="grand_price">{{grandtotal}}</span>
          <button type="submit" class="btn btn-primary brdr_radius_50 btn_w bg_green border_green mar_l_100" (click)="gotoCheckout()">Proceed To Pay
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
          </button>
        </div>
      </div>

    </div>

    <div class="row" *ngIf="carItems.length==0">
      <div class="col-md-12">
        <div class="no_data">
          <img class="no_data_cnter" src="../assets/empty_shopping_cart.png" />
          <!-- <span class="nodata_txt">No Products are Availble</span> -->
        </div>
      </div>
      <div class="col-md-12">
        <div class="continue_shop txt_center">
          <button type="submit" class="btn btn-success" routerLink="/home" style="margin-top:-35px;">Continue Shopping</button>
        </div>
      </div>
    </div>

  </div>
  <!-- <div class="row" *ngIf="carItems.length==0">
    <div class="col-md-12">
      <div class="no_data">
        <img class="no_data_cnter" src="../assets/empty_shopping_cart.png" />
        <span class="nodata_txt">No Products are Availble</span>
      </div>
      <div class="continue_shop txt_center">
        <button type="submit" class="btn btn-success" routerLink="/home">Continue Shopping</button>
      </div>
    </div>
  </div> -->
</div>
<!-- success small alert -->
<div class="smallSuccess_alert" *ngIf="alert">
  <strong>
    <i class="fa fa-check add_icon"></i> {{wish_alert}} </strong>
</div>


<ngx-spinner class="loader_spinner"></ngx-spinner>


<!-- delete modal pop up-->
<div id="confirmModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header view_header">
        <button type="button" class="close" data-dismiss="modal"></button>
        <h4 class="modal-title text-center">Delete</h4>
      </div>
      <div class="modal-body text-center">
        <p>Are you Sure?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success fr" (click)="deleteConfirm()">Yes</button>
        <button type="button" class="btn btn-danger fl" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<!-- modal pop up start here -->
<!-- <div class="modal fade" id="cartUpdatedModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body" style="padding:0;">
          <div class="row">
            <div class="col-md-12">
              <h4 class="alert_heading">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </h4>
              <div class="right_mark">
                <i class="fa fa-check" aria-hidden="true"></i>
              </div>
              <div class="pad_15 text-center content_msg" style="padding: 10% 0;">
                <span>{{message}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger fl" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success fr" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div> -->