button.qty-change{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #0fa497;
}
.qty-input{
    height: 30px;
    width: 80px;
    text-align: center;
}
.qty-align{
    padding-right: 32px;
    border: none;
    padding-top: 10px;
}
.delivery-txt-color{
    color: #0fa497;
    font-weight: 600 !important;
}
.border_styles{
    margin: 0px;
    border-bottom: 3px solid #e8e6e6;
    padding: 30px 0 20px 0;
    box-shadow: 3px 3px 8px #e8e6e6;
}
.pad_l_40{
    padding-left: 40px !important;
}
.mar_b_40{
    margin-bottom: 40px;
}
.product_image{
    width: 100%;
}
.viewcartProds{
   
    max-height: 600px;
    overflow:auto;
    
}


//for delete popup styles start here
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background: #0fa497 !important;
    border-top-left-radius: 6px !important;
    border-top-right-radius: 6px !important;
}
.modal-header .modal-title {
    color:#fff !important;
}


//alert styles start here
.alert_heading{
    background: #0da550;
    margin-top: 0;
    padding: 50px;
    text-align: center;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .alert_heading span{
    color:#fff;
  }
  .right_mark{
    background: #fff;
    width: 100px;
    height: 100px;
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 40%;
    top: 50px;
    box-shadow: 3px 5px 10px #ddd;
  }
  .right_mark i{
    font-size: 60px;
    color: #0da550;
  }
  .content_msg span{
    font-size: 18px;
    font-weight: 550;
  }
  .close{
    color: #fff !important;
     opacity: 0 !important;
    margin-top: -40px !important;
    margin-right: -30px !important;
  }
  .modal-content{
    border-radius: 15px !important;
  }
  
