/* For new Login page pop-up start here */

    .width_40 {
        width: 40%;
        //background: #0fb475;
        //background:url(https://static.pexels.com/photos/33972/pexels-photo.jpg)  no-repeat left bottom;
        background:url(/assets/logins_bg.png)  no-repeat left bottom;
        background-size:cover; 
        min-height:500px;
        //border-radius: 0 10px 10px 0; 
        padding:0; 
        padding: 30px 0px 0 30px;
    }

    .width_60 {
        width: 60%;
        height: 500px;
        background: #f4f4f4;
    }

    .login_text {
        color: #fff;
        font-size: 29px;
        font-weight: 500;
    }

    .login_texttt {
        font-size: 18px;
        margin-top: 16px;
        line-height: 150%;
        color: #dcdcdc;
    }

    .login_type {
        text-align: center;
        color: #232f3e;
    }

    .login_close {
        position: absolute !important;
        z-index: 1 !important;
        font-size: 20px;
        color: #232f3e;
        filter: alpha(opacity=20);
        opacity: 1 !important;
    }

    button.login_close {
        -webkit-appearance: none;
        padding: 7px;
        cursor: pointer;
        background: #fff;
        border: 0;
    }

    button.login_close.right_0 {
        right: 0;
    }  

/*For new Login page pop-up end here*/

.signup [type='text'] {
    border: 0;
    background: #f4f4f4;
    border-radius: 3px;
   // height: 30px;
    width: 100%;
    color: #232f3e;
  //  border-bottom: 1px solid #0fb475;
}
.signup [type='password'] {
    border: 0;
    background: #f4f4f4;
    border-radius: 3px;
  //  height: 30px;
    width: 100%;
    color: #232f3e;
  //  border-bottom: 1px solid #0fb475;
}
.signup [type=submit] {
    border: 0;
    border-radius: 3px;
    height: 30px;
    min-width: 80px;
    color: white;
}
.signup p {
    color: #232f3e;
    font-size: 12px;
    font-weight: bold;
}
.login_acunt {
    background-color: #d62329;
    font-size: 12px;
    color: #fff;
}
.forgot-password {
    color: #0fb475;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    float: right;
    padding-top: 10px;
}
#create-account-login {
    min-width: 100%;
    background: #d62329;
    padding: 10px;
    font-size: 11px;
    line-height: 10px;
    color: #fff;
}
.login_side_down_img{
    width:75%;
    margin-top: 75%;
    margin-left: 5%;
}

:host {
    /deep/ {
        .mat-form-field-infix {
            width: 275px;
        }
        .signup .validation_msg{
            color: #d62329 !important;
            font-size: 13px;
            margin-top: -12px;
            padding-left: 0px;
            font-weight: 550 !important;
        }
    }
}


 //alert styles start here
 .alert_heading{
    background: #0da550;
    margin-top: 0;
    padding: 50px;
    text-align: center;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .alert_heading span{
    color:#fff;
  }
  .right_mark{
    background: #fff;
    width: 100px;
    height: 100px;
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 40%;
    top: 50px;
    box-shadow: 3px 5px 10px #ddd;
  }
  .right_mark i{
    font-size: 60px;
    color: #0da550;
  }
  .content_msg span{
    font-size: 18px;
    font-weight: 550;
  }
  .close{
    color: #fff !important;
     opacity: 0 !important;
    margin-top: -40px !important;
    margin-right: -30px !important;
  }
  .modal-content{
    border-radius: 15px !important;
  }




