<div class="row pad_15">
  <!-- <div class="reg_form pad_15 mar_b_30"> -->
  <form (ngSubmit)="onSubmit(masterDataForm)" #masterDataForm="ngForm">

    <div class="form-group row">
      <div class="">
        <div class="col-sm-4 mar_b_10_mbl">
          <label for="prodid" class="">Supp Product Id
            <sub class="txt_red f_size_25">*</sub>
          </label>
          <div class="">
            <input type="number" class="form-control" id="prodId" [(ngModel)]="masterData.productid" name="prodId" #productId="ngModel"
              required placeholder="Enter Supp Product ID">
            <div [hidden]="productId.valid ||  productId.untouched" class="validation_msg">
              Product Id is required
            </div>
          </div>
        </div>
        <div class="col-sm-4 mar_b_10_mbl">
          <label class="">Category
            <sub class="txt_red f_size_25">*</sub>
          </label>
          <div class="">
            <select class="form-control" [(ngModel)]="masterData.category" #category="ngModel" name="category" required (change)="selectCat(masterData.category)">
              <option [ngValue]="undefined" disabled selected>--Select--</option>
              <option *ngFor="let item of catList | async" [ngValue]="item.category">
                {{item.category}}
              </option>
            </select>
            <div [hidden]="category.valid || category.untouched" class="validation_msg">
              please select category
            </div>
          </div>
        </div>
        <div class="col-sm-4 mar_b_10_mbl">
          <label class="">Sub-Category
            <sub class="txt_red f_size_25">*</sub>
          </label>
          <div class="">
            <select class="form-control" [(ngModel)]="masterData.subcategory" #subCategory="ngModel" name="subCategory" required (change)="selectSubcat(masterData.subcategory)">
              <option [ngValue]="undefined" disabled selected>--Select--</option>
              <option *ngFor="let item of catSubcatList | async" [ngValue]="item.subcategory">
                {{item.subcategory}}
              </option>
            </select>
            <div [hidden]="subCategory.valid ||  subCategory.untouched" class="validation_msg">
              please select sub-Category
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="">
        <div class="col-sm-4 mar_b_10_mbl">
          <label for="name1" class="">Name-1
            <sub class="txt_red f_size_25">*</sub>
          </label>
          <div class="">
            <input type="text" class="form-control" id="name1" name="name1" [(ngModel)]="masterData.name1" #name1="ngModel" required
              placeholder="Enter Name-1">
            <div [hidden]="name1.valid ||  name1.untouched" class="validation_msg">
              name is required
            </div>
          </div>
        </div>
        <div class="col-sm-4 mar_b_10_mbl">
          <label for="name2" class="">Name-2
            <sub class="txt_red f_size_25">*</sub>
          </label>
          <div class="">
            <input type="text" class="form-control" id="name2" [(ngModel)]="masterData.name2" name="name2" #name2="ngModel" required
              placeholder="Enter Name-2">
            <div [hidden]="name2.valid || name2.untouched" class="validation_msg">
              name is required
            </div>
          </div>
        </div>
        <div class="col-sm-4 mar_b_10_mbl">
          <label for="name3" class="">Name-3
            <sub class="txt_red f_size_25">*</sub>
          </label>
          <div class="">
            <input type="text" class="form-control" id="name3" name="name3" [(ngModel)]="masterData.name3" #name3="ngModel" required
              placeholder="Enter Name-3">
            <div [hidden]="name3.valid || name3.untouched" class="validation_msg">
              name is required
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="">
        <div class="col-sm-4 mar_b_10_mbl">
          <label for="hsn" class="">HSN Code
            <sub class="txt_red f_size_25">*</sub>
          </label>
          <div class="">
            <input type="number" class="form-control" id="hsn" name="hsn" [(ngModel)]="masterData.hsncode" #hsn="ngModel" required placeholder="Enter HSN Code">
            <div [hidden]="hsn.valid || hsn.untouched" class="validation_msg">
              hsn is required
            </div>
          </div>
        </div>
        <div class="col-sm-4 mar_b_10_mbl">
          <label for="brand" class="">Brand
            <sub class="txt_red f_size_25">*</sub>
          </label>
          <div class="">
            <input type="text" class="form-control" id="brand" name="brand" [(ngModel)]="masterData.brand" #brand="ngModel" required
              placeholder="Enter Brand">
            <div [hidden]="brand.valid || brand.untouched" class="validation_msg">
              brand is required
            </div>
          </div>
        </div>
        <div class="col-sm-4 mar_b_10_mbl">
          <label for="modelno" class="">Model No
            <sub class="txt_red f_size_25">*</sub>
          </label>
          <div class="">
            <input type="text" class="form-control" id="brand" name="modelno" [(ngModel)]="masterData.modelno" #modelno="ngModel" required
              placeholder="Enter Model No">
            <div [hidden]="modelno.valid || modelno.untouched" class="validation_msg">
              model no is required
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="">
        <div class="col-sm-4 mar_b_10_mbl">
          <label for="barcode" class="">MRP
            <sub class="txt_red f_size_25">*</sub>
          </label>
          <div class="">
            <div class="input-group-prepend">
              <div class="input-group-btn">
                <select class="form-control" [(ngModel)]="masterData.pur_curr_code" #currency="ngModel" name="currency" required>
                  <option value="undefined" disabled selected>-Select-</option>
                  <option value="INR">INR</option>
                  <option value="RMB">RMB</option>
                </select>
              </div>
              <div class="input-group-btn w-1">
                <input type="number" class="form-control mar_l_10 w-92" [(ngModel)]="masterData.mrp" #unitprice="ngModel" name="unitprice"
                  required placeholder="Enter Currency">
              </div>
            </div>
            <div [hidden]="(unitprice.valid || unitprice.untouched) && (currency.valid || currency.untouched)" class="validation_msg">
              currency / unitprice is required
            </div>
          </div>
        </div>
        <div class="col-sm-4 mar_b_10_mbl">
          <label for="gst" class="">Tax-GST %
            <sub class="txt_red f_size_25">*</sub>
          </label>
          <div class="">
            <input type="number" class="form-control" id="gst" name="gst" [(ngModel)]="masterData.gst" #gst="ngModel" required placeholder="Enter Tax">
            <div [hidden]="gst.valid || gst.untouched" class="validation_msg">
              GST percentage is required
            </div>
          </div>
        </div>
        <div class="col-sm-4 mar_b_10_mbl">
          <label for="description" class="">Description
            <sub class="txt_red f_size_25">*</sub>
          </label>
          <div class="">
            <textarea class="form-control rounded-0" id="description" rows="3" name="description" [(ngModel)]="masterData.long_name"
              #description="ngModel" required placeholder="Enter Description"></textarea>
            <div [hidden]="description.valid || description.untouched" class="validation_msg">
              description is required
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="">
        <div class="col-sm-4 mar_b_10_mbl">
          <label for="sku" class="">SKU
            <sub class="txt_red f_size_25">*</sub>
          </label>
          <div class="">
            <input type="number" class="form-control" id="sku" name="sku" [(ngModel)]="masterData.sku_no" #sku="ngModel" required placeholder="Enter SKU">
            <div [hidden]="sku.valid || sku.untouched" class="validation_msg">
              sku is required
            </div>
          </div>
        </div>
        <div class="col-sm-4 mar_b_10_mbl">
          <label for="barcode" class="">Barcode
            <sub class="txt_red f_size_25">*</sub>
          </label>
          <div class="">
            <input type="text" class="form-control" id="barcode" name="barcode" [(ngModel)]="masterData.barcode" #barcode="ngModel" required
              placeholder="Enter Barcode">
            <div [hidden]="barcode.valid || barcode.untouched" class="validation_msg">
              barcode is required
            </div>
          </div>
        </div>
        <div class="col-sm-4 mar_b_10_mbl">
          <label for="unitwt" class="">Unit Wgt (kg)
            <sub class="txt_red f_size_25">*</sub>
          </label>
          <div class="">
            <input type="text" class="form-control" id="unitwt" name="unitwt" [(ngModel)]="masterData.unitwt" #unitwt="ngModel" required
              placeholder="Enter Unit Wt">
            <div [hidden]="unitwt.valid || unitwt.untouched" class="validation_msg">
              unit wgt is required
            </div>
          </div>
        </div>
      </div>
    </div>

    <h4 class="f_wt_600 txt_decr_undl txt_black pad_t_b_10">Business Discounts(%):</h4>


    <div class="form-group row">
      <div class="">
        <div class="col-sm-4 mar_b_10_mbl">
          <label for="adisc" class="">A Disc %
            <sub class="txt_red f_size_25">*</sub>
          </label>
          <div class="">
            <input type="number" class="form-control" id="adisc" name="adisc" [(ngModel)]="masterData.discount_a" #adisc="ngModel" required
              placeholder="Enter A Discount">
            <div [hidden]="adisc.valid || adisc.untouched" class="validation_msg">
              required
            </div>
          </div>
        </div>
        <div class="col-sm-4 mar_b_10_mbl">
          <label for="bdisc" class="">B Disc%
            <sub class="txt_red f_size_25">*</sub>
          </label>
          <div class="">
            <input type="number" class="form-control" id="bdisc" name="bdisc" [(ngModel)]="masterData.discount_b" #bdisc="ngModel" required
              placeholder="Enter B Discount">
            <div [hidden]="bdisc.valid || bdisc.untouched" class="validation_msg">
              required
            </div>
          </div>
        </div>
        <div class="col-sm-4 mar_b_10_mbl">
          <label for="cdisc" class="">C Disc %
            <sub class="txt_red f_size_25">*</sub>
          </label>
          <div class="">
            <input type="number" class="form-control" id="cdisc" name="cdisc" [(ngModel)]="masterData.discount_c" #cdisc="ngModel" required
              placeholder="Enter C Discount">
            <div [hidden]="cdisc.valid || cdisc.untouched" class="validation_msg">
              required
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="">
        <div class="col-sm-4 mar_b_10_mbl">
          <label for="ddisc" class="">D Disc %
            <sub class="txt_red f_size_25">*</sub>
          </label>
          <div class="">
            <input type="number" class="form-control" id="ddisc" name="ddisc" [(ngModel)]="masterData.discount_d" #ddisc="ngModel" required
              placeholder="Enter D Discount">
            <div [hidden]="ddisc.valid || ddisc.untouched" class="validation_msg">
              required
            </div>
          </div>
        </div>
        <div class="col-sm-4 mar_b_10_mbl">
          <label for="edisc" class="">E Disc %
            <sub class="txt_red f_size_25">*</sub>
          </label>
          <div class="">
            <input type="number" class="form-control" id="edisc" name="edisc" [(ngModel)]="masterData.discount_e" #edisc="ngModel" required
              placeholder="Enter E Discount">
            <div [hidden]="edisc.valid || edisc.untouched" class="validation_msg">
              required
            </div>
          </div>
        </div>
        <!-- <div class="col-sm-4 mar_b_10_mbl">
            <label for="fdisc" class="">F Disc % <sub class="txt_red f_size_25">*</sub></label>
            <div class="">
              <input type="text" class="form-control" id="fdisc" name="fdisc" [(ngModel)]="masterData.discount_f" #fdisc="ngModel" required>
              <div [hidden]="fdisc.valid || fdisc.untouched" class="validation_msg">
                required
              </div>
            </div>
          </div> -->
      </div>
    </div>

    <h4 class="f_wt_600 txt_decr_undl txt_black pad_t_b_10">End User Discounts(%):</h4>

    <div class="form-group row">
      <div class="">
        <div class="col-sm-4 mar_b_10_mbl">
          <label for="eu1disc" class="">EU1 Disc %
            <sub class="txt_red f_size_25">*</sub>
          </label>
          <div class="">
            <input type="number" class="form-control" id="eu1disc" name="eu1disc" [(ngModel)]="masterData.discount_eu1" #eu1disc="ngModel"
              required placeholder="Enter EU1 Discount">
            <div [hidden]="eu1disc.valid || eu1disc.untouched" class="validation_msg">
              required
            </div>
          </div>
        </div>
        <div class="col-sm-4 mar_b_10_mbl">
          <label for="eu2disc" class="">EU2 Disc %
            <sub class="txt_red f_size_25">*</sub>
          </label>
          <div class="">
            <input type="number" class="form-control" id="eu2disc" name="eu2disc" [(ngModel)]="masterData.discount_eu2" #eu2disc="ngModel"
              required placeholder="Enter EU2 Discount">
            <div [hidden]="eu2disc.valid || eu2disc.untouched" class="validation_msg">
              required
            </div>
          </div>
        </div>
        <div class="col-sm-4 mar_b_10_mbl">
          <label for="eu3disc" class="">EU3 Disc %
            <sub class="txt_red f_size_25">*</sub>
          </label>
          <div class="">
            <input type="number" class="form-control" id="eu3disc" name="eu3disc" [(ngModel)]="masterData.discount_eu3" #eu3disc="ngModel"
              required placeholder="Enter EU3 Discount">
            <div [hidden]="eu3disc.valid || eu3disc.untouched" class="validation_msg">
              required
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="">
        <div class="col-sm-4 mar_b_10_mbl">
          <label for="eu3disc" class="">EU4 Disc %
            <sub class="txt_red f_size_25">*</sub>
          </label>
          <div class="">
            <input type="number" class="form-control" id="eu4disc" name="eu4disc" [(ngModel)]="masterData.discount_eu4" #eu4disc="ngModel"
              required placeholder="Enter EU4 Discount">
            <div [hidden]="eu4disc.valid || eu4disc.untouched" class="validation_msg">
              required
            </div>
          </div>
        </div>
      </div>
    </div>

    <h4 class="f_wt_600 txt_decr_undl txt_black pad_t_b_10" *ngIf="attrshow">Attributes</h4>

    <div class="form-group row">
      <div class="col-sm-4 mar_b_10 mar_b_10_mbl" *ngFor="let item of attrList;let i=index;">
        <label for="attribute" class="">{{item.attribute}}
          <sub class="txt_red f_size_25">*</sub>
        </label>
        <div class="">
          <input type="text" class="form-control" id="attribute" name="{{item.attribute}}" [(ngModel)]="attrData[item.attribute]" #attr="ngModel"
            (blur)="myMethod(item,attrData[item.attribute])">
        </div>
      </div>
    </div>

    <!-- <div [hidden]="unitwt1.valid || unitwt1.untouched" class="validation_msg">
              unit weight is required
            </div> 
     {{i}}{{masterData[item.attribute]}} -
       <input type="text" class="form-control"  id="seq_no" name="{{item.seq_no}}"     
          [(ngModel)]="item.seq_no" value="{{item.seq_no}}" > 
       {{attrData.value}}  
       <label for="seqno" class="col-sm-3 col-form-label" >{{item.seq_no}}</label>
          <input type="text" class="form-control" id="seq_no" name="{{item.sr_no}}"     
          [(ngModel)]="attrData[item.sr_no]"> -->

    <div class="form-group row pad_t_b_10">
      <div class="col-sm-12">
        <div class="pull-left">
          <button type="submit" class="btn btn-primary brdr_radius_50 btn_w bg_red border_red" (click)="masterDataForm.reset()">
            <i class="fa fa-long-arrow-left" aria-hidden="true"></i> Clear</button>
        </div>
        <div class="pull-right">
          <button type="submit" class="btn btn-primary brdr_radius_50 btn_w bg_green border_green">Submit
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>

  </form>
  <!-- </div> -->
</div>
<ngx-spinner class="loader_spinner"></ngx-spinner>
<!-- Modal popup start here -->
<div id="successModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"></button>
        <h4 class="modal-title text-center">PRODUCTS</h4>
      </div>
      <div class="modal-body text-center">
        <p>
          <span>{{productname}}</span>
          is updated and sent for review. Please Click on Ok button to view anotherProduct</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal popup end here -->