    /* mobile styles start here */
    @media screen and (min-width: 320px) and (max-width: 480px){
        .mar_b_10_mbl{
            margin-bottom: 10px;
        }
      }
      
      /* tablets styles start here */
      @media screen and (min-width: 481px) and (max-width: 767px){
        .mar_b_10_mbl{
            margin-bottom: 10px;
        }
      }
      
      /* desktops styles start here */
      @media screen and (min-width: 768px) and (max-width: 991px){
      
      }
      
      /* desktops styles start here */
      @media screen and (min-width: 992px) and (max-width: 1023px){
       
      }
      
        /* lg-desktops styles start here */
      @media screen and (min-width: 1024px) and (max-width: 1200px){
       
      }