<div class="container pad_t_5per pad_b_5per">
    <p class="bread-crumb1">
        <span>
          <a href="javascript.void(0)" routerLink="/dashboard" style="color: #878787 !important;">Dashboard</a>
        </span>&nbsp;>&nbsp;
        <span>Status</span>
      </p>
  <div class="row" style="margin:0px;box-shadow: 1px 1px 1px 1px lightgray;border-top-left-radius: 20px;border-top-right-radius: 20px;">
    <div class="row bg-theme dash_status" style="margin:0px">
      <div class="col-md-3 status_align"><a href="javascript:void(0)" [ngClass]="{'active_tab':POhidden == true}"
          (click)="po()">Packing List</a></div>
      <div class="col-md-3 status_align"><a href="javascript:void(0)" [ngClass]="{'active_tab':DOhidden == true}"
          (click)="do()">Generated Invoice</a></div>
      <div class="col-md-3 status_align"><a href="javascript:void(0)" [ngClass]="{'active_tab':PENhidden == true}"
          (click)="grn()">Pending Orders</a></div>
      <div class="col-md-3 status_align"><a href="javascript:void(0)" [ngClass]="{'active_tab':GRNhidden == true}"
          (click)="grn()">Generated GRN'S</a></div>
    </div>
    <!-- <button class="btn btn-primary" (click)="po()">Placed Orders</button><button class="btn btn-primary" (click)="do()">Delivered Orders</button><button class="btn btn-primary" (click)="grn()">Generated GRN'S</button> -->
    <div style="padding:20px">
      <div *ngIf="POhidden">
        <div class="row" style="margin:0px">
          <div>
            <div>
              <div class="row" style="padding: 10px;">

                <div class="col-md-12 mar_t_20">
                  <div class="row" style="padding: 0 24px;margin-left: 0px;margin-right: 0px;background: #0fa497;">
                    <div class="col-md-1 text-center" style="padding: 0px;">
                      <h4 style="color:#ffff !important;font-size:12px !important;">Packing Number</h4>
                    </div>
                    <div class="col-md-2  text-center">
                      <h4 style="color:#ffff !important;font-size:12px !important;">Packing Date</h4>
                    </div>
                    <div class="col-md-2  text-center">
                      <h4 style="color:#ffff !important;font-size:12px !important;">Ordered Company Name(Code)</h4>
                    </div>
                     <div class="col-md-2  text-center">
                      <h4 style="color:#ffff !important;font-size:12px !important;">Business Name</h4>
                    </div> 
                    <div class="col-md-2  text-center">
                      <h4 style="color:#ffff !important;font-size:12px !important;">City/State</h4>
                    </div>
                    <div class="col-md-1  text-center" style="padding: 0px;">
                      <h4 style="color:#ffff !important;font-size:12px !important;">Packed Product Line</h4>
                    </div>
                    <div class="col-md-2  text-center">
                      <h4 style="color:#ffff !important;font-size:12px !important;">Total Packing Value</h4>
                    </div>
                  </div>

                  <mat-accordion *ngFor="let p of orders | filter:searchText| paginate: { itemsPerPage: 10, currentPage: page }; let i=index">
                    <!-- <div *ngIf="p.detail[0].status!=='Delivered'"> -->
                    <div>
                      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            <div class="col-md-1  text-center">
                              <p class="txt_black" style="margin-bottom: 0px;">{{p.packing_no }}</p>
                            </div>
                            <div class="col-md-2  text-center">
                              <p class="txt_black" style="margin-bottom: 0px;">{{p.packing_date | date:'mediumDate'}}</p>
                            </div>
                            <div class="col-md-2  text-center">
                              <p class="txt_black" style="margin-bottom: 0px;">{{p.company_code}}</p>
                            </div>
                             <div class="col-md-2  text-center">
                              <p class="txt_black" style="margin-bottom: 0px;">{{p.business_name}}</p>
                            </div> 
                            <div class="col-md-2  text-center">
                              <p class="txt_black" style="margin-bottom: 0px;">{{p.city}}</p>
                            </div>
                            <div class="col-md-1  text-center">
                              <p class="txt_black" style="margin-bottom: 0px;">{{p.detail.length}}</p>
                            </div>
                            <div class="col-md-2  text-center">
                              <p class="txt_black" style="margin-bottom: 0px;"><span style="position: absolute;right: 30%;">{{p.amount}}</span></p>
                            </div>
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <h4>Packed Details:</h4>

                        <div style="max-height: 380px;overflow: auto;">
                          <table class="table">
                            <thead>
                              <tr>
                                <th>S.No</th>
                                <th>Product </th>
                                <th>Product Description</th>
                                <th>Price</th>
                                <th>Qty</th>
                                <th>Net Amount</th>
                                <th>GST</th>
                                <th>Total Amount</th>
                                <!-- <th>Status</th> -->
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let pd of p.detail ; let i=index;">
                                <td>{{i + 1}} </td>

                                <td style="width:10%;">
                                  <div><img src="{{pd.image}}" onError="this.src='https://i5.walmartimages.com/asr/f752abb3-1b49-4f99-b68a-7c4d77b45b40_1.39d6c524f6033c7c58bd073db1b99786.jpeg';"
                                      class="img-thumbnail" style="width:70%;height: 30px;"></div>
                                </td>
                                <td>
                                  <h4 style="margin-top:0px; font-size: 13px !important;">{{pd.name}}</h4>
                                </td>
                                <td>
                                  <div style="margin:0px;"> <span class="f_wt_600">{{pd.net_price}}</span></div>
                                </td>
                                <td>
                                  <div>
                                    <p><span class=" f_wt_600">{{pd.qty }}</span></p>
                                  </div>
                                </td>
                                <td>
                                  <div>
                                    <p style="margin-bottom: 0px"><span class=" f_wt_600">{{pd.qty * pd.net_price}}</span></p>
                                    <p style="font-size:10px; color:#a5a4a4;margin-top: -8px;text-align:center;">(Excluding
                                      GST)</p>
                                  </div>
                                </td>
                                <td>
                                  <div>
                                    <p><span class=" f_wt_600">18% </span></p>
                                  </div>
                                </td>
                                <td>
                                  <div>

                                    <span class="f_wt_600">{{pd.tot_value}}</span>&nbsp;
                                    <p style="font-size:10px; color:#a5a4a4;margin-top: -8px;text-align:center;">(Including
                                      GST)</p>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <!-- <div style="text-align:right;padding:20px;">
                        <pagination-controls (pageChange)="Page = $event"></pagination-controls>
                      </div> -->
                        </div>
                      </mat-expansion-panel>
                    </div>
                  </mat-accordion>
                  <div class="pull-left mar_t_30">
                    <pagination-controls (pageChange)="page = $event"></pagination-controls>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="DOhidden">
        <div class="row" style="margin:0px">
          <div>
            <div>
              <div class="row" style="padding: 10px;">
                <div class="col-md-12 mar_t_20">
                  <div class="row" style="padding: 0 24px;margin-left: 0px;margin-right: 0px;background: #0fa497;">
                    <div class="col-md-1 text-center">
                      <h4 style="color:#ffff !important;font-size:12px !important;">Invoice No</h4>
                    </div>
                    <!-- <div class="col-md-1 text-center">
                      <h4 style="color:#ffff !important;font-size:12px !important;">Packing No</h4>
                    </div> -->
                    <div class="col-md-2  text-center">
                      <h4 style="color:#ffff !important;font-size:12px !important;">Packing Date</h4>
                    </div>
                    <div class="col-md-2  text-center" style="padding: 0px;">
                      <h4 style="color:#ffff !important;font-size:12px !important;">Ordered Company Name(Code)</h4>
                    </div>
                    <div class="col-md-2  text-center">
                      <h4 style="color:#ffff !important;font-size:12px !important;">Business Name</h4>
                    </div>
                    <div class="col-md-2  text-center">
                      <h4 style="color:#ffff !important;font-size:12px !important;">City</h4>
                    </div>
                    <div class="col-md-1  text-center" style="padding: 0px;">
                      <h4 style="color:#ffff !important;font-size:12px !important;">Packed Product Line</h4>
                    </div>
                    <div class="col-md-2  text-center">
                      <h4 style="color:#ffff !important;font-size:12px !important;">Total Packing Value</h4>
                    </div>
                  </div>
                  <mat-accordion *ngFor="let pi of inv_data | filter:searchText| paginate: { itemsPerPage: 10, currentPage: page1 }; let i=index">
                    <!-- <div *ngIf="p.detail[0].status!=='Delivered'"> -->
                    <div>
                      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            <div class="col-md-1  text-center">
                              <p class="txt_black" style="margin-bottom: 0px;">{{pi.inv_no }}</p>
                            </div>
                            <!-- <div class="col-md-1  text-center">
                              <p class="txt_black" style="margin-bottom: 0px;">{{pi.packing_no }}</p>
                            </div> -->
                            <div class="col-md-2  text-center">
                              <p class="txt_black" style="margin-bottom: 0px;">{{pi.inv_date | date:'mediumDate'}}</p>
                            </div>
                            <div class="col-md-2  text-center">
                              <p class="txt_black" style="margin-bottom: 0px;">{{pi.company_code}}</p>
                            </div>
                            <div class="col-md-2  text-center">
                              <p class="txt_black" style="margin-bottom: 0px;">{{pi.business_name}}</p>
                            </div>
                            <div class="col-md-2  text-center">
                              <p class="txt_black" style="margin-bottom: 0px;">{{pi.city}}</p>
                            </div>
                            <div class="col-md-1  text-center">
                              <p class="txt_black" style="margin-bottom: 0px;">{{pi.detail.length}}</p>
                            </div>
                            <div class="col-md-2  text-center">
                              <p class="txt_black" style="margin-bottom: 0px;"><span style="position: absolute;right: 30%;">{{pi.amount
                                  | currency: 'INR':true}}</span></p>
                            </div>
                          </mat-panel-title>
                          <!-- <mat-panel-description>
                          Currently I am {{panelOpenState ? 'open' : 'closed'}}
                        </mat-panel-description> -->
                        </mat-expansion-panel-header>
                        <h4>Order Details:</h4>

                        <div>
                          <table class="table">
                            <thead>
                              <tr>
                                <th>S.No</th>
                                <th>Product </th>
                                <th>Product Description</th>
                                <th>Price</th>
                                <th>Qty</th>
                                <th>Net Price</th>
                                <th>GST</th>
                                <th>Total Price</th>

                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let pd of pi.detail; let i=index;">
                                <td>{{i + 1}} </td>

                                <td style="width:10%;">
                                  <div><img src="{{pd.image}}" onError="this.src='https://i5.walmartimages.com/asr/f752abb3-1b49-4f99-b68a-7c4d77b45b40_1.39d6c524f6033c7c58bd073db1b99786.jpeg';"
                                      class="img-thumbnail" style="width:70%;height: 30px;"></div>
                                </td>
                                <td>
                                  <h4 style="margin-top:0px; font-size: 13px !important;">{{pd.name}}</h4>
                                </td>
                                <td>
                                  <div style="margin:0px;"> <span class="f_wt_600">{{pd.net_price}}</span></div>
                                </td>
                                <td>
                                  <div class="mar_b_10">
                                    <p><span class=" f_wt_600">{{pd.inv_qty }}</span></p>
                                  </div>
                                </td>
                                <td>
                                  <div class="mar_b_10">
                                    <p style="margin-bottom: 0px"><span class=" f_wt_600">{{pd.inv_qty * pd.net_price}}</span></p>
                                    <p style="font-size:10px; color:#a5a4a4;margin-top: -8px;text-align:center;">(Excluding
                                      GST)</p>
                                  </div>
                                </td>
                                <td>
                                  <div class="mar_b_10">
                                    <p><span class=" f_wt_600">18% </span></p>
                                  </div>
                                </td>
                                <td>
                                  <div class="mar_b_10">
                                    <span class=""></span>
                                    <span class="">&#8377;&nbsp;</span>
                                    <span class="f_wt_600">{{pd.tot_value}}</span>&nbsp;
                                    <p style="font-size:10px; color:#a5a4a4;margin-top: -8px;text-align:center;">(Including
                                      GST)</p>
                                  </div>
                                </td>

                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </mat-expansion-panel>
                    </div>
                  </mat-accordion>
                  <div class="pull-left mar_t_30">
                    <pagination-controls (pageChange)="page1 = $event"></pagination-controls>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="GRNhidden">

      </div>
    </div>
  </div>
  <ngx-spinner class="loader_spinner"></ngx-spinner>
</div>
