<div class="container pad_t_5per">
  <p class="bread-crumb1">
    <span>
      <a href="javascript.void(0)" routerLink="/dashboard">Dashboard</a>
    </span>&nbsp;>&nbsp;
    <span>Invoice</span>
  </p>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
      <h3 class="shopee_name">
        <span>{{loginUserData.content}}</span>
      </h3>
    </div>
  </div>
  <div class="reg_form mar_b_30 pad_15">

    <div class="row mar_b_15">
      <div class="col-sm-12" *ngIf="proformaList.length>0">
        <div class="fl">
          <h4>Invoice</h4>
        </div>
        <div class="fr">
          <input type="text" [(ngModel)]="searchText" placeholder="Search Here..." class="search_style">
          <button type="submit" class="input_btn">Search</button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 list">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>S.No</th>
                <th>Packing No</th>
                <th>Packing Date</th>
                <th>Ship to Company Code</th>
                <th>Financial Year</th>
                <th>Make Invoice</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of proformaList |filter:searchText | paginate: { itemsPerPage: 10, currentPage: p }; let i=index">
                <td>{{10*(p-1)+(i+1)}}</td>
                <td>{{item.packing_l_no}}</td>
                <td>{{item.packing_l_date}}</td>
                <td>{{item.ship_to_company_code}}</td>
                <td>{{item.financial_year}}</td>
                <td>
                  <span class="f_size_15 padd_right_10 orange_clr cursor_pointer" (click)="makeInvoice(item)">
                    <i class="fa fa-edit" aria-hidden="true" title="Edit"></i>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>

    <div class="row" *ngIf="proformaList.length==0">
      <!-- <div class="col-md-12">
        <div class="nodata_txt">
          <span>No Data is Avialble</span>
        </div>
        <div class="no_data">
          <img class="no_data_cnter" src="../assets/emptyicon.png" />
        </div>
      </div> -->
      <div class="col-md-12">
        <div class="no_data">
          <img class="no_data_cnter" src="../assets/emptyicon.png" />
          <span class="nodata_txt">No Data is Availble</span>
        </div>
      </div>
    </div>

  </div>
</div>

<ngx-spinner class="loader_spinner"></ngx-spinner>