<div class="container pad_t_5per pad_b_5per">

  <div class="row">
    <div class="col-sm-12">
      <div class="reg_form pad_15 mar_b_30">

        <h4 class="f_wt_600 txt_decr_undl txt_black pad_t_b_10">Basic Info:</h4>

        <div class="form-group row">
          <div class="col-sm-12">
            <div class="col-sm-4 mar_b_10_mbl">
              <label for="saltation" class="col-form-label">salatation</label>
              <div class="">
                <input type="text" class="form-control" [(ngModel)]="profileData.salatation" name="salatation">
              </div>
            </div>
            <div class="col-sm-4 mar_b_10_mbl">
              <label for="fname" class="col-form-label">First Name</label>
              <div class="">
                <input type="text" class="form-control" [(ngModel)]="profileData.first_name" name="fname">
              </div>
            </div>
            <div class="col-sm-4 mar_b_10_mbl">
              <label for="lname" class="col-form-label">Last Name</label>
              <div class="">
                <input type="text" class="form-control" [(ngModel)]="profileData.last_name" name="lname">
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-12">
            <div class="col-sm-4 mar_b_10_mbl">
              <label for="email" class="col-form-label">Email</label>
              <div class="">
                <input type="text" class="form-control" [(ngModel)]="profileData.email" name="email">
              </div>
            </div>
            <div class="col-sm-4 mar_b_10_mbl">
              <label for="mobile" class="col-form-label">Mobile</label>
              <div class="">
                <input type="text" class="form-control" [(ngModel)]="profileData.mobile" name="mobile">
              </div>
            </div>
          </div>
        </div>

        <h4 class="f_wt_600 txt_decr_undl txt_black pad_t_b_10">Bussiness Info:</h4>

        <div class="form-group row">
          <div class="col-sm-12">
            <div class="col-sm-4 mar_b_10_mbl">
              <label for="type" class="col-form-label">Type</label>
              <div class="">
                <input type="text" class="form-control" [(ngModel)]="profileData.user_type" name="type">
              </div>
            </div>
            <div class="col-sm-4 mar_b_10_mbl" *ngIf="profileData.user_type=='Dealer'">
              <label for="zone" class="col-form-label">Zone</label>
              <div class="">
                <input type="text" class="form-control" [(ngModel)]="profileData.zone" name="zone">
              </div>
            </div>
            <div class="col-sm-4 mar_b_10_mbl">
              <label for="shopname" class="col-form-label">Firm/Shop Name</label>
              <div class="">
                <input type="text" class="form-control" [(ngModel)]="profileData.business_name" name="shopname">
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-12">
            <div class="col-sm-4 mar_b_10_mbl">
              <label for="shopaddr" class="col-form-label">Firm/Shop Address 1</label>
              <div class="">
                <textarea class="form-control" [(ngModel)]="profileData.address1" name="shopaddr"></textarea>
              </div>
            </div>
            <div class="col-sm-4 mar_b_10_mbl">
              <label for="shopaddr" class="col-form-label">Address 2</label>
              <div class="">
                <textarea class="form-control" [(ngModel)]="profileData.address2" name="shopaddr"></textarea>
              </div>
            </div>
            <div class="col-sm-4 mar_b_10_mbl">
              <label for="country" class="col-form-label">Country</label>
              <div class="">
                <input type="text" class="form-control" [(ngModel)]="profileData.country" name="country">
              </div>
            </div>
          </div>
        </div>


        <div class="form-group row">
          <div class="col-sm-12">
            <div class="col-sm-4 mar_b_10_mbl">
              <label for="state" class="col-form-label">State</label>
              <div class="">
                <input type="text" class="form-control" [(ngModel)]="profileData.state" name="state">
              </div>
            </div>
            <div class="col-sm-4 mar_b_10_mbl">
              <label for="state" class="col-form-label">City</label>
              <div class="">
                <input type="text" class="form-control" [(ngModel)]="profileData.city" name="state">
              </div>
            </div>
            <div class="col-sm-4 mar_b_10_mbl">
              <label for="zip" class="col-form-label">Postal Code</label>
              <div class="">
                <input type="text" class="form-control" [(ngModel)]="profileData.pin" name="zip">
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-12">
            <div class="col-sm-4 mar_b_10_mbl" *ngIf="profileData.user_type=='Dealer'">
              <label for="gst" class="col-form-label">GST IN</label>
              <div class="">
                <input type="text" class="form-control" [(ngModel)]="profileData.gst" name="gst">
              </div>
            </div>
            <div class="col-sm-4 mar_b_10_mbl">
              <label for="emails" class="col-form-label">Office Email</label>
              <div class="">
                <input type="text" class="form-control" name="emails" id="emails" [(ngModel)]="profileData.off_email" placeholder="Enter Email"
                  #emails="ngModel" required>
              </div>
            </div>
            <div class="col-sm-4 mar_b_10_mbl">
              <label for="offnum" class="col-form-label">Office Number</label>
              <div class="">
                <input type="text" class="form-control" name="offnum" id="offnum" [(ngModel)]="profileData.off_mobile" placeholder="Enter Office Number"
                  #offnum="ngModel" required>
              </div>
            </div>
          </div>
        </div>
        <h4 class="f_wt_600 txt_decr_undl txt_black pad_t_b_10">Activation Info:
          <span class="glyphicon glyphicon-pencil theem_color pad_l_10"></span>
        </h4>

        <form #updateForm="ngForm">
          <div class="form-group row">
            <div class="col-sm-12">
              <div class="col-sm-4 mar_b_10_mbl">
                <label for="turnover" class="col-form-label">Turnover</label>
                <div class="">
                  <input type="text" required class="form-control" name="turnover" id="turnover" [(ngModel)]="activatedDataModel.turnover"
                    placeholder="Enter Dealer Code" #turnover="ngModel">
                </div>
              </div>
              <div class="col-sm-4 mar_b_10_mbl">
                <label for="category" class="col-form-label">Category</label>
                <div class="">
                  <select class='select-option form-control' required [(ngModel)]="activatedDataModel.category_profile" name="category" #category="ngModel">
                    <option [ngValue]="undefined" disabled selected>--Select--</option>
                    <option class='option' *ngFor="let data of categoryList | async" [ngValue]="data.User_category">{{data.User_category_desc}}</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-4 mar_b_10_mbl">
                <label for="zone" class="col-form-label">Company Code</label>
                <div class="">
                  <select class='select-option form-control' required [(ngModel)]="activatedDataModel.company_code" name="company_code" #company_code="ngModel">
                    <option [ngValue]="undefined" disabled selected>--Select--</option>
                    <option class='option' *ngFor="let data of comapnyCodesList | async" [ngValue]="data.company_code">{{data.companyname}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </form>
        <br>
        <div class="form-group row pad_t_b_10">
          <div class="col-sm-12">
            <!-- <div class="pull-left">
              <button type="submit" class="btn red_btn" (click)="regProfileSave('R')">
                <i class="fa fa-long-arrow-right" aria-hidden="true"> Reject</i></button>
            </div> -->

            <div class="pull-left">
              <button type="submit" class="btn green_btn" [disabled]="updateForm.invalid" (click)="regProfileSave('UP')">
                <i class="fa fa-long-arrow-left" aria-hidden="true"></i> Save</button>
            </div>

            <div class="pull-right">
              <!-- style="margin-top: -36px;" -->
              <button type="submit" class="btn red_btn" [disabled]="updateForm.invalid" (click)="regProfileSave('A')">
                <i class="fa fa-long-arrow-left" aria-hidden="true"></i> Approve</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<ngx-spinner class="loader_spinner"></ngx-spinner>

<!-- modal pop up start here -->
<div class="modal fade" id="editApproveModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" style="padding:0;">
        <div class="row">
          <div class="col-md-12">
            <h4 class="alert_heading">
              <button type="button" class="close" data-dismiss="modal"></button>
            </h4>
            <div class="right_mark">
              <i class="fa fa-check" aria-hidden="true"></i>
            </div>
            <div class="pad_15 text-center content_msg" style="padding: 10% 0;">
              <span>{{message}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger fl" data-dismiss="modal" (click)="gotoUsers()">Close</button>
        <button type="button" class="btn btn-success fr" data-dismiss="modal"  (click)="gotoUsers()">OK</button>
      </div>
    </div>
  </div>
</div>