  /* zoom and side div styles start here  */
img {
    max-width: 100%; }
  
  .preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media screen and (max-width: 996px) {
      .preview {
        margin-bottom: 20px; } }
  
  .preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  
  .preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px; }
    .preview-thumbnail.nav-tabs li {
      width: 18%;
      margin-right: 2.5%; }
      .preview-thumbnail.nav-tabs li img {
        max-width: 100%;
        display: block; }
      .preview-thumbnail.nav-tabs li a {
        padding: 0;
        margin: 0; }
      .preview-thumbnail.nav-tabs li:last-of-type {
        margin-right: 0; }
  
  .tab-content {
    overflow: hidden; }
    .tab-content img {
      width: 100%;
      -webkit-animation-name: opacity;
              animation-name: opacity;
      -webkit-animation-duration: .3s;
              animation-duration: .3s; }
  
  .card {
    margin-top: 50px;
    background: #eee;
    padding: 3em;
    line-height: 1.5em; }
  
  @media screen and (min-width: 997px) {
    .wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }
  
  .details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  
  .colors {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  
   .price, .sizes, .colors {
    text-transform: UPPERCASE;
    font-weight: bold; }
  
  // .checked, .price span {
  //   color: #ff9f1a; }
  
  .product-title, .rating, .product-description, .price, .vote, .sizes {
    margin-bottom: 15px; }
  
  .product-title {
    margin-top: 0; }
  
  .size {
    margin-right: 10px; }
    .size:first-of-type {
      margin-left: 40px; }
  
  .color {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 2em;
    width: 2em;
    border-radius: 2px; }
    .color:first-of-type {
      margin-left: 20px; }
  
  .add-to-cart, .like {
    background: #ff9f1a;
    padding: 1.2em 1.5em;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: #fff;
    -webkit-transition: background .3s ease;
            transition: background .3s ease; }
    .add-to-cart:hover, .like:hover {
      background: #b36800;
      color: #fff; }
  
  .not-available {
    text-align: center;
    line-height: 2em; }
    .not-available:before {
      font-family: fontawesome;
      content: "\f00d";
      color: #fff; }
  
  .orange {
    background: #ff9f1a; }
  
  .green {
    background: #85ad00; }
  
  .blue {
    background: #0076ad; }
  
  .tooltip-inner {
    padding: 1.3em; }
  
  @-webkit-keyframes opacity {
    0% {
      opacity: 0;
      -webkit-transform: scale(3);
              transform: scale(3); }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1); } }
  
  @keyframes opacity {
    0% {
      opacity: 0;
      -webkit-transform: scale(3);
              transform: scale(3); }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1); } }
  



  /* carosel styles start here */
  .carousel {
    margin-bottom: 0;
    padding: 0 40px 0 40px !important;
}
.carousel-control {
	left: none !important;
    height: 40px;
	width: 40px;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    margin-top: 55px;
}
.carousel-control.right {
	right: none !important;
}
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: -10px;
	margin-right: -19px;
}
.carousel-indicators li {
	background: #cecece;
}
.carousel-indicators .active {
background: #428bca;
}
.table > tbody > tr > td {
  border: none !important;
}

//alert styles start here
.alert_heading{
  background: #0da550;
  margin-top: 0;
  padding: 50px;
  text-align: center;
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.alert_heading span{
  color:#fff;
}
.right_mark{
  background: #fff;
  width: 100px;
  height: 100px;
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 40%;
  top: 50px;
  box-shadow: 3px 5px 10px #ddd;
}
.right_mark i{
  font-size: 60px;
  color: #0da550;
}
.content_msg span{
  font-size: 18px;
  font-weight: 550;
}
.close{
  color: #fff !important;
   opacity: 0 !important;
  margin-top: -40px !important;
  margin-right: -30px !important;
}
.modal-content{
  border-radius: 15px !important;
}
.high_image {
  width:400px;height:400px;padding:20px;
  transition: padding 0.4s;
}
.c_u_r_n{
    padding-left: 10px;
    vertical-align: super;
    font-size: 14px;
    text-transform: capitalize;
}
.fa-user-circle{
  font-size:24px;color:lightgray;
}
// .high_image:hover {
//   padding: 5px;
//   transition: all 0.4s ease-in-out;
// }



// .bannerStyle div {
//   background-color: #ccc;
//   background-size: cover !important;
//   height: 100%;
// }

// .bannerStyle img {
//   width: 100%;
//   height: 100%;
// }

// .bannerStyle h1 {
//   text-align: center;
//   background: rgba(0, 0, 0, 0.32);
//   color: white;
//   margin: 0;
//   height: 100%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// .tile {
//   min-height: 200px;
//   background-repeat: no-repeat !important;
//   background-position: center !important;
// }

// .tile h1 {
//   text-align: center;
//   line-height: 200px;
//   background: rgba(0, 0, 0, 0.32);
//   color: white;
//   margin: 0;
// }

// h4 {
//   margin: 0;
//   padding: 10px 15px;
//   text-align: center;
// }

// p {
//   margin: 0;
//   padding: 0 15px 10px;
//   text-align: center;
// }

// .wBg {
//   background: white;
// }

// .container {
//   max-width: 1200px;
//   margin: 0 auto;
// }

// nav {
//   border-bottom: 1px solid #ccc;
//   position: fixed;
//   width: 100%;
//   top: 0;
//   background: white;
//   z-index: 12;
// }

// nav h1 {
//   margin: 0;
//   padding: 10px;
//   text-align: center;
// }

// .carBtn {
//   position: absolute;
//   margin: auto;
//   top: 0;
//   bottom: 0;
//   width: 50px;
//   height: 50px;
//   box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.3);
//   border-radius: 999px;
// }

// .leftRs {
//   position: absolute;
//   margin: auto;
//   top: 0;
//   bottom: 0;
//   width: 50px;
//   height: 50px;
//   box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.3);
//   border-radius: 999px;
//   left: 0;
// }

// .rightRs {
//   position: absolute;
//   margin: auto;
//   top: 0;
//   bottom: 0;
//   width: 50px;
//   height: 50px;
//   box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.3);
//   border-radius: 999px;
//   right: 0;
// }

// .leftRs1 {
//   position: absolute;
//   margin: auto;
//   top: 0;
//   bottom: 0;
//   width: 50px;
//   height: 50px;
//   box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.3);
//   border-radius: 999px;
//   right: 0;
// }

// .rightRs1 {
//   position: absolute;
//   margin: auto;
//   top: 0;
//   bottom: 0;
//   width: 50px;
//   height: 50px;
//   box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.3);
//   border-radius: 999px;
//   left: 0;
// }

// .myPoint {
//   list-style-type: none;
//   text-align: center;
//   padding: 12px;
//   margin: 0;
//   white-space: nowrap;
//   overflow: auto;
//   box-sizing: border-box;
//   li {
//     display: inline-block;
//     border-radius: 50%;
//     border: 2px solid rgba(0, 0, 0, 0.55);
//     padding: 4px;
//     margin: 0 3px;
//     transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
//     transition: 0.4s;
//     &.active {
//       background: #6b6b6b;
//       transform: scale(1.2);
//     }
//   }
// }

// .carouselHoved {
//   opacity: 0.4;
// }

// .myBannerPoint {
//   position: absolute;
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   width: 100%;
//   left: 0;
//   bottom: 0;
//   padding: 0;
//   color: beige;
//   justify-content: center;
//   list-style-type: none;
//   background: rgba(0, 0, 0, 0.34);
//   margin: 0;
//   padding: 10px;
//   box-sizing: border-box;
//   li {
//     background: #6b6b6b;
//     width: 50px;
//     height: 50px;
//     margin-right: 10px;
//     &.active {
//       transform: translateY(-10px);
//       transition: .3s ease all;
//     }
//   }
// }

.v_d{
  margin: 0px;
  padding-left: 5px;
  font-weight: 700;
  color: #20978c;
}