<div class="container pad_t_5per pad_b_5per">

  <div class="reg_form pad_15">
    <div class="row">
      <div class="container-fliud">
        <div class="wrapper row" *ngFor="let d of details">
          <div class="preview col-md-6">
            <div class="row" style="margin:0px;">
                <div class="col-md-3" >
                    <img  id="zoom_01" src="{{d.low_image_1}}" [attr.data-zoom-image]="d.high_image_1" onError="this.src='https://i5.walmartimages.com/asr/f752abb3-1b49-4f99-b68a-7c4d77b45b40_1.39d6c524f6033c7c58bd073db1b99786.jpeg';"
                    alt="image" >
                    <hr style="margin:0px"/>
                    <img  id="zoom_01"  src="{{d.low_image_1}}" [attr.data-zoom-image]="d.high_image_1" onError="this.src='https://i5.walmartimages.com/asr/f752abb3-1b49-4f99-b68a-7c4d77b45b40_1.39d6c524f6033c7c58bd073db1b99786.jpeg';"
                    alt="image" >
                    <hr style="margin:0px"/>
                    <img  id="zoom_01"  src="{{d.low_image_1}}" [attr.data-zoom-image]="d.high_image_1" onError="this.src='https://i5.walmartimages.com/asr/f752abb3-1b49-4f99-b68a-7c4d77b45b40_1.39d6c524f6033c7c58bd073db1b99786.jpeg';"
                    alt="image" >
                </div>
                <div class="col-md-9"> <div class="preview-pic ">
                  <div class="text-center" id="pic-1">
                    <img  id="zoom_01" class="high_image" src="{{d.high_image_1}}" [attr.data-zoom-image]="d.high_image_1" onError="this.src='https://i5.walmartimages.com/asr/f752abb3-1b49-4f99-b68a-7c4d77b45b40_1.39d6c524f6033c7c58bd073db1b99786.jpeg';"
                      alt="image" >
                  </div>
                </div></div>
            </div>
            
           


          </div>
          <div class="details col-md-6">
            <div>
              <p style="color:#878787;padding: 3px 5px; font-size:13px;"><span><a href="javascript.void(0)" routerLink="/home"
                    style="
                    color: #878787 !important;
                ">Home</a></span>&nbsp;>&nbsp;<span
                  (click)="catg_crumb(category)">{{category}}</span>&nbsp;>&nbsp;<span (click)="sub_catg_crumb(sub_c)">{{sub_c}}</span>&nbsp;>&nbsp;<span>{{model}}</span></p>
            </div>
            <h3 class="product-title">{{d.subcategory }} {{ d.modelno}}</h3>
            

            <h4>
              <span style="font-size:xx-large;padding: 0px 4px;">
                <b> &#8377; {{d.net_price }}</b>
              </span>
              <span style="text-decoration:line-through; color: #9e8f8f;padding: 0px 3px;"> &#8377;{{ d.mrp}}</span>
              <span style="color: #0da550"> {{d.discount}}% Off <span style="color: #9e8f9d;font-size: small;text-transform: capitalize;">(Excluding
                  GST)</span></span>
            </h4>
            <p style="margin:0px;"><a class="v_d" href="#details">View Details</a></p>
            <div class="action" *ngIf="token!=undefined && token!='' && (loginUserData.user_type=='Customer')">
              <button class="btn btn-primary" (click)="addToCart()"> Add To Cart</button>&nbsp;&nbsp;
              <button class="btn btn-danger" (click)="buyNow(d)"> Buy Now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="reg_form pad_15 mar_t_10">
    <div class="row" id="details">


      <mat-tab-group>
        <mat-tab label="Specifications">
          <div class="pad_15" style="width: 50%">
            <table class="table">
              <tr *ngFor="let a of attributes">
                <td>{{a.attribute}}</td>
                <td>:</td>
                <td>{{a.actual_value}}</td>
              </tr>
            </table>
            <div *ngIf="attributes.length<1">
              <p>Data Not available</p>
            </div>

          </div>


        </mat-tab>
        <mat-tab label="Reviews & Ratings">
          <div class="row" style="margin:0px !important;padding:12px;" *ngIf="review.length==0">
            No Reviews
          </div>
          <div *ngFor="let r of review;let i=index;">

            <div class="row" style="margin:0px !important;padding:12px;">
              <div><span><i class="fa fa-user-circle"></i></span><span class="c_u_r_n">{{r.username}}</span> &nbsp;
                <span class="c_u_r_n" *ngIf="r.permission==0">{{r.title}}</span> </div>
              <div style="pointer-events:none;">
                <app-rating [rating]="r.review"></app-rating>
              </div>
              <br>
              <br>
              <div class="row" style="margin:0px !important;padding:4px;pointer-events:none;" *ngIf="r.permission==1">{{r.comments}}</div>

              <div class="row" style="margin:0px !important;padding:4px;pointer-events:none;color: #c5c2c2;">{{r.updatedate
                | date:'mediumDate'}}</div>
            </div>
          </div>

        </mat-tab>
        
      </mat-tab-group>
    </div>
  </div>


  <!-- modal pop up start here -->
  <div class="modal fade" id="alrdyItemAddedModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body" style="padding:0;">
          <div class="row">
            <div class="col-md-12">
              <h4 class="alert_heading">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </h4>
              <div class="right_mark">
                <i class="fa fa-check" aria-hidden="true"></i>
              </div>
              <div class="pad_15 text-center content_msg" style="padding: 10% 0;">
                <span>This Item Already Added to Cart.</span>
                <br>
                <span>Increase Quantity from Cart.</span>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger fl" data-dismiss="modal" (click)="gotoPrevious()">Close</button>
          <button type="button" class="btn btn-success fr" data-dismiss="modal" (click)="gotoPrevious()">OK</button>
        </div>
      </div>
    </div>
  </div>
  <ngx-spinner class="loader_spinner"></ngx-spinner>
  <!-- modal pop up start here -->
  <div class="modal fade" id="insertItemModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body" style="padding:0;">
          <div class="row">
            <div class="col-md-12">
              <h4 class="alert_heading">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </h4>
              <div class="right_mark">
                <i class="fa fa-check" aria-hidden="true"></i>
              </div>
              <div class="pad_15 text-center content_msg" style="padding: 10% 0;">
                <span>Item added to cart successfully</span>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger fl" data-dismiss="modal" (click)="gotoPreviousInsert()">Close</button>
          <button type="button" class="btn btn-success fr" data-dismiss="modal" (click)="gotoPreviousInsert()">OK</button>
        </div>
      </div>
    </div>
  </div>