<div class="form-group">
  <div class="row mar_b_15" *ngIf="regList.length>0">
    <div class="col-sm-12">
      <div class="fl">
        <h4>Pending Users</h4>
      </div>
      <div class="fr">
        <input type="text" [(ngModel)]="searchText" placeholder="Search Product" class="search_style">
        <button type="submit" class="input_btn">Search</button>
      </div>
    </div>
  </div>


  <div *ngIf="(regList | filter :searchText) as regList">
    <div class="row">
      <div class="col-sm-12 list" *ngIf="regList.length>0">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>S.No</th>
                <!-- <th>User ID</th> -->
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Mobile No</th>
                <th>User Type</th>
                <th>Status</th>
                <th>Options</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let reg of regList | paginate: { itemsPerPage: 10, currentPage: p }; let i=index">
                <td>{{10*(p-1)+(i+1)}}</td>
                <!-- <td>{{reg.user_id}}</td> -->
                <td>{{reg.first_name}}</td>
                <td>{{reg.last_name}}</td>
                <td>{{reg.email}}</td>
                <td>{{reg.mobile}}</td>
                <td>{{reg.user_type}}</td>
                <td>{{reg.status}}</td>
                <td>
                  <span class="f_size_15 blue_clr padd_right_10 cursor_pointer" (click)="viewMore(reg)">
                    <i class="fa fa-eye" aria-hidden="true" title="View More"></i>
                  </span>
                  <span class="f_size_15 green_clr padd_right_10 cursor_pointer" (click)="approve(reg)">
                    <i class="fa fa-check" aria-hidden="true" title="Approved"></i>
                  </span>
                  <span class="f_size_15 red_clr padd_right_10 cursor_pointer" (click)="reject(reg)">
                    <i class="fa fa-close" aria-hidden="true" title="Reject"></i>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
      <div *ngIf="regList.length==0">
        <div class="col-md-12">
          <div class="no_data">
            <img class="no_data_cnter" src="../assets/emptyicon.png" />
            <span class="nodata_txt">No Data is Availble</span>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- success small alert -->
  <div class="smallSuccess_alert" *ngIf="alert" style="bottom:23%;">
    <strong>
      <i class="fa fa-check add_icon" *ngIf="icon"></i>
      <i class="fa fa-close remove_icon" *ngIf="!icon"></i>
      {{wish_alert}} </strong>
  </div>

  <!-- Modal pop-up start here -->
  <div id="confirmModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header view_header">
          <button type="button" class="close" data-dismiss="modal"></button>
          <h4 class="modal-title text-center">Delete</h4>
        </div>
        <div class="modal-body text-center">
          <p>Are you Sure?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success fr" (click)="confirm()">Yes</button>
          <button type="button" class="btn btn-danger fl" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal pop-up end here -->
  <ngx-spinner class="loader_spinner"></ngx-spinner>
</div>
<app-view-more></app-view-more>