// fieldset.scheduler-border {
//     border: 1px groove #ddd !important;
//     padding: 0 1.4em 1.4em 1.4em !important;
//     margin: 0 0 1.5em 0 !important;
//     -webkit-box-shadow:  0px 0px 0px 0px #000;
//             box-shadow:  0px 0px 0px 0px #000;
// }

// legend.scheduler-border {
//     font-size: 1.2em !important;
//     font-weight: bold !important;
//     text-align: left !important;
//     width:auto;
//     padding:0 10px;
//     border-bottom:none;
// }




/* mobile styles start here */
@media screen and (min-width: 320px) and (max-width: 480px){
.mar_b_10_mbl{
  margin-bottom: 5px;
}
  }
  
  /* tablets styles start here */
  @media screen and (min-width: 481px) and (max-width: 767px){
    .mar_b_10_mbl{
      margin-bottom: 5px;
    }
  }
  
  /* desktops styles start here */
  @media screen and (min-width: 768px) and (max-width: 991px){
  
  }
  
  /* desktops styles start here */
  @media screen and (min-width: 992px) and (max-width: 1023px){
   
  }
  
    /* lg-desktops styles start here */
  @media screen and (min-width: 1024px) and (max-width: 1200px){
   
  }