<div class="container pad_t_5per pad_b_5per">
  <div class="row">
    <div class="col-sm-12">

      <div class="reg_form pad_15 mar_b_30">
        <form #profileDataForm="ngForm">

          <h4 class="f_wt_600 txt_decr_undl txt_black pad_t_b_10">Basic Info:</h4>

          <div class="form-group row">
            <div class="col-sm-12">
              <div class="col-sm-6 mar_b_10_mbl">
                <label for="saltation" class="col-form-label">salatation</label>
                <div class="">
                  <input type="text" class="form-control" [(ngModel)]="profileData.salatation" name="salatation">
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-12">
              <div class="col-sm-6 mar_b_10_mbl">
                <label for="fname" class="col-form-label">First Name</label>
                <div class="">
                  <input type="text" class="form-control" [(ngModel)]="profileData.first_name" name="fname">
                </div>
              </div>
              <div class="col-sm-6 mar_b_10_mbl">
                <label for="lname" class="col-form-label">Last Name</label>
                <div class="">
                  <input type="text" class="form-control" [(ngModel)]="profileData.last_name" name="lname">
                </div>
                <!-- <div [hidden]="lname.valid ||  lname.untouched" class="alert alert-danger">
                    Last Name Required
                  </div> -->
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-12">
              <div class="col-sm-6 mar_b_10_mbl">
                <label for="email" class="col-form-label">Email</label>
                <div class="">
                  <input type="text" class="form-control" [(ngModel)]="profileData.email" name="email">
                </div>
                <!-- <div [hidden]="email.valid ||  email.untouched" class="alert alert-danger">
                    Email Required
                  </div> -->
              </div>
              <div class="col-sm-6 mar_b_10_mbl">
                <label for="mobile" class="col-form-label">Mobile</label>
                <div class="">
                  <input type="text" class="form-control" [(ngModel)]="profileData.mobile" name="mobile">
                </div>
                <!-- <div [hidden]="mobile.valid ||  mobile.untouched" class="alert alert-danger">
                    Mobile Number Required
                  </div> -->
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-12">
              <div class="col-sm-6 mar_b_10_mbl">
                <label for="email" class="col-form-label">Designation</label>
                <span class="glyphicon glyphicon-pencil theem_color pad_l_10"></span>
                <div class="">
                  <select class='select-option form-control' required [(ngModel)]="updateDataModel.designation" name="designation" #designation="ngModel">
                    <option [ngValue]="undefined" disabled selected>--Select--</option>
                    <option class='option' *ngFor="let data of designationsList | async" [ngValue]="data.Designation">{{data.Designation}}</option>
                  </select>

                  <div [hidden]="designation.valid ||  designation.untouched" class="alert alert-danger">
                    designation is required
                  </div>
                </div>
              </div>
              <div class="col-sm-6 mar_b_10_mbl">
                <label for="mobile" class="col-form-label">Company Code</label>
                <span class="glyphicon glyphicon-pencil theem_color pad_l_10"></span>
                <div class="">
                  <select class='select-option form-control' required [(ngModel)]="updateDataModel.company_code" name="assignment" #assignment="ngModel">
                    <option [ngValue]="undefined" disabled selected>--Select--</option>
                    <option class='option' *ngFor="let company of companiesList | async" [ngValue]="company.company_code">{{company.companyname}}</option>
                  </select>
                  <div [hidden]="assignment.valid ||  assignment.untouched" class="alert alert-danger">
                    Company is required
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row pad_t_b_10">
            <div class="col-sm-12">
              <div class="col-sm-12">
                <div class="pull-left">
                  <button type="submit" class="btn btn-primary brdr_radius_50 btn_w bg_red border_red" (click)="resetForm(profileDataForm)">
                    <i class="fa fa-long-arrow-left" aria-hidden="true"></i> Clear</button>
                </div>
                <div class="pull-right">
                  <button type="submit" class="btn btn-primary brdr_radius_50 btn_w bg_green border_green" (click)="updateProfile()">
                    <i class="fa fa-long-arrow-right" aria-hidden="true">Update</i>
                  </button>
                </div>
              </div>
            </div>
          </div>

        </form>
      </div>

    </div>
  </div>
  <ngx-spinner class="loader_spinner"></ngx-spinner>
</div>