.nav-tabs {
  border-bottom: 2px solid #0fa497;
  background: #0fa497;
  }
  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:focus,
  .nav-tabs > li.active > a:hover {
    border-width: 0;
  }
  .nav-tabs > li > a {
    border: none;
    color: #fff;
  }
  .nav-tabs > li {
    float: left;
    margin-bottom: -3px;
  }
  .nav-tabs > li.active > a,
  .nav-tabs > li > a {
    margin-top: 10px;
    margin-left: 10px;
  }
  .nav-tabs > li.active > a,
  .nav-tabs > li > a:hover {
    border: none;
    color: #0da550 !important;
    background: #fff;
    // border-top-left-radius: 30px;
    // border-top-right-radius: 30px;
  }
  .nav-tabs > li > a::after {
    content: "";
    // background: #4285F4;
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -1px;
    transition: all 250ms ease 0s;
    transform: scale(0);
  }
  .nav-tabs > li.active > a::after,
  .nav-tabs > li:hover > a::after {
    transform: scale(1);
  }
  .tab-nav > li > a::after {
    background: #21527d none repeat scroll 0% 0%;
    color: #fff;
  }
  .tab-pane {
    padding: 15px 0;
  }
  .tab-content {
    padding: 20px
  }
  .card {
    background: #FFF none repeat scroll 0% 0%;
    box-shadow: none;
    // margin-bottom: 30px;
  }


      /* mobile styles start here */
@media screen and (min-width: 320px) and (max-width: 480px){
  .mar_b_10_mbl{
      margin-bottom: 10px;
  }
}

/* tablets styles start here */
@media screen and (min-width: 481px) and (max-width: 767px){
  .mar_b_10_mbl{
      margin-bottom: 10px;
  }
}

/* desktops styles start here */
@media screen and (min-width: 768px) and (max-width: 991px){

}

/* desktops styles start here */
@media screen and (min-width: 992px) and (max-width: 1023px){
 
}

  /* lg-desktops styles start here */
@media screen and (min-width: 1024px) and (max-width: 1200px){
 
}