<div class="container pad_t_5per pad_b_5per">
  <div class="reg_form mar_b_30">
    <div class="row">
      <div class="col-md-12">
        <!-- Nav tabs -->
        <div class="card">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
              <a href="#product" aria-controls="home" role="tab" data-toggle="tab">Product Upload
              </a>
            </li>
            <li role="presentation">
              <a href="#excel" aria-controls="profile" role="tab" data-toggle="tab">Excel Upload</a>
            </li>
            <!-- <li role="presentation"><a href="#view" aria-controls="profile" role="tab" data-toggle="tab">View</a></li> -->
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="product">
              <app-product-pricing></app-product-pricing>
            </div>
            <div role="tabpanel" class="tab-pane" id="excel">
              <app-product-excel-upload></app-product-excel-upload>
            </div>
            <!-- <div role="tabpanel" class="tab-pane" id="view">
            <app-view-products-data></app-view-products-data>
          </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <ngx-spinner class="loader_spinner"></ngx-spinner>
</div>