<div class="container pad_t_5per">
  <p class="bread-crumb1">
    <span>
      <a href="javascript.void(0)" routerLink="/dashboard" style="
                          color: #878787 !important;
                      ">Dashboard</a>
    </span>&nbsp;>&nbsp;
    <span>
      <a href="javascript.void(0)" routerLink="/challan-list" style="
                            color: #878787 !important;
                        ">Challan</a>
    </span>&nbsp;>&nbsp;
    <span>Challan Generation</span>
  </p>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
      <h3 class="shopee_name">
        <span>{{loginUserData.content}}</span>
      </h3>
    </div>
  </div>
  <div class="reg_form mar_b_30 pad_15">
    <div class="row text-center">
      <div class="col-sm-12">
        <span class="header_pages">Challan Generation</span>
      </div>
    </div>
    <div class="row mar_b_15">
      <div class="col-sm-12">
        <h4>Invoice Number : {{challanData.inv_no}}</h4>
        <h4>Invoice Date : {{challanData.inv_date}}</h4>
        <!-- <h4>Company Code : {{poData.po_origin_company_code}}</h4> -->
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 list">
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="txt_centr">S.No</th>
              <th class="txt_left">Product name</th>
              <th class="txt_left">Model No.</th>
              <th class="txt_right">Invoice Qty</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of challanListData | paginate: { itemsPerPage: 5, currentPage: p }; let i=index">
              <td class="txt_centr">{{10*(p-1)+(i+1)}}</td>
              <!-- <td>{{item.name1}} {{item.name2}}</td> -->
              <td class="txt_left">{{item.long_name}}</td>
              <td class="txt_left">{{item.modelno}}</td>

              <td class="txt_right">{{item.inv_qty}}</td>
            </tr>
          </tbody>
        </table>
        <div class="fr">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>

      </div>
    </div>

    <form #challanDataModalForm="ngForm">
      <div class="form-group row">
        <div class="col-sm-3">
          <label class="">Delivery Mode
            <sub class="txt_red f_size_25">*</sub>
          </label>
          <div class="">
            <select class="form-control" [(ngModel)]="challanDataModal.del_mode" #del_mode="ngModel" name="del_mode"
              required>
              <option [ngValue]="undefined" disabled selected>--Select--</option>
              <option value="Vehicle" selected>Vehicle</option>
              <option value="Courier" selected>Courier</option>
            </select>
            <div [hidden]="del_mode.valid || del_mode.untouched" class="validation_msg">
              please select Delivery Mode.
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <label for="del_consin_no" class="">Delivery Consin No
            <sub class="txt_red f_size_25">*</sub>
          </label>
          <div class="">
            <input type="text" class="form-control" id="del_consin_no" [(ngModel)]="challanDataModal.del_consin_no"
              name="del_consin_no" #del_consin_no="ngModel" required placeholder="Enter Consin No">
            <div [hidden]="del_consin_no.valid ||  del_consin_no.untouched" class="validation_msg">
              Delivery Consin No is required
            </div>
          </div>
        </div>

      </div>
      <div class="form-group row" *ngIf="challanDataModal.del_mode=='Vehicle'">
        <div class="col-sm-3">
          <label for="del_driver_name" class="">Driver Name
            <sub class="txt_red f_size_25">*</sub>
          </label>
          <div class="">
            <input type="text" class="form-control" id="del_driver_name" [(ngModel)]="challanDataModal.del_driver_name"
              name="del_driver_name" #del_driver_name="ngModel" required placeholder="Enter Driver Name">
            <div [hidden]="del_driver_name.valid ||  del_driver_name.untouched" class="validation_msg">
              Driver Name is required
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <label for="contact_num" class="">Contact Number
            <sub class="txt_red f_size_25">*</sub>
          </label>
          <div class="">
            <input type="text" class="form-control" id="contact_num" [(ngModel)]="challanDataModal.contact_num" name="contact_num"
              #contact_num="ngModel" required placeholder="Enter Driver Name">
            <div [hidden]="contact_num.valid ||  contact_num.untouched" class="validation_msg">
              Contact Number is required
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <label for="del_vehicle_no" class="">Vehicle Number
            <sub class="txt_red f_size_25">*</sub>
          </label>
          <div class="">
            <input type="text" class="form-control" id="del_vehicle_no" [(ngModel)]="challanDataModal.del_vehicle_no"
              name="del_vehicle_no" #del_vehicle_no="ngModel" required placeholder="Enter Driver Name">
            <div [hidden]="del_vehicle_no.valid ||  del_vehicle_no.untouched" class="validation_msg">
              Vehicle Number is required
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <label for="del_license_no" class="">Licence Number
            <sub class="txt_red f_size_25">*</sub>
          </label>
          <div class="">
            <input type="text" class="form-control" id="del_license_no" [(ngModel)]="challanDataModal.del_license_no"
              name="del_license_no" #del_license_no="ngModel" required placeholder="Enter Driver Name">
            <div [hidden]="del_license_no.valid ||  del_license_no.untouched" class="validation_msg">
              Vehicle Number is required
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row" *ngIf="challanDataModal.del_mode=='Courier'">
        <div class="col-sm-3">
          <label for="del_courier_name" class="">Courier Name
            <sub class="txt_red f_size_25">*</sub>
          </label>
          <div class="">
            <input type="text" class="form-control" id="del_courier_name" [(ngModel)]="challanDataModal.del_courier_name"
              name="del_courier_name" #del_courier_name="ngModel" required placeholder="Enter Driver Name">
            <div [hidden]="del_courier_name.valid ||  del_courier_name.untouched" class="validation_msg">
              Courier Name is required
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <label for="courier_per_name" class="">Courier Person Name
            <sub class="txt_red f_size_25">*</sub>
          </label>
          <div class="">
            <input type="text" class="form-control" id="courier_per_name" [(ngModel)]="challanDataModal.courier_per_name"
              name="courier_per_name" #courier_per_name="ngModel" required placeholder="Enter Driver Name">
            <div [hidden]="courier_per_name.valid ||  courier_per_name.untouched" class="validation_msg">
              Courier Person Name is required
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <label for="courier_wgt" class="">Courier Approx Wt
            <sub class="txt_red f_size_25">*</sub>
          </label>
          <div class="">
            <input type="text" class="form-control" id="courier_wgt" [(ngModel)]="challanDataModal.courier_wgt" name="courier_wgt"
              #courier_wgt="ngModel" required placeholder="Enter Driver Name">
            <div [hidden]="courier_wgt.valid ||  courier_wgt.untouched" class="validation_msg">
              Vehicle Number is required
            </div>
          </div>
        </div>

      </div>

      <div class="pull-right">
        <button type="submit" [disabled]="challanDataModalForm.invalid" class="btn btn-primary brdr_radius_50 btn_w bg_green border_green"
          (click)="generateChallan(challanDataModalForm)">Generate
          <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        </button>
      </div>
    </form>
  </div>
</div>

<ngx-spinner class="loader_spinner"></ngx-spinner>

<div class="modal fade" id="succModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" style="padding:0;">
        <div class="row">
          <div class="col-md-12">
            <h4 class="alert_heading">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </h4>
            <div class="right_mark">
              <i class="fa fa-check" aria-hidden="true"></i>
            </div>
            <div class="pad_15 text-center content_msg" style="padding: 15% 0;">
              <span>Challan Generated Successfully..!!</span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger fl" data-dismiss="modal" (click)="gotoPrevious()">Close</button>
        <button type="button" class="btn btn-success fr" data-dismiss="modal" (click)="gotoChallanPrint()">OK</button>
      </div>
    </div>
  </div>
</div>