<div class="container pad_t_5per">
  <p class="bread-crumb1">
    <span>
      <a href="javascript.void(0)" routerLink="/dashboard" style="
                      color: #878787 !important;
                  ">Dashboard</a>
    </span>&nbsp;>&nbsp;
    <span>
      <a href="javascript.void(0)" routerLink="/profomaList" style="color: #878787 !important;">Invoice</a>
    </span>
    &nbsp;>&nbsp;
    <span>Invoice Preparation</span>
  </p>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
      <h3 class="shopee_name">
        <span>{{loginUserData.content}}</span>
      </h3>
    </div>
  </div>
  <div class="reg_form mar_b_30 pad_15">
    <div class="row text-center">
      <div class="col-sm-12">
        <span class="header_pages">Invoice Preparation</span>
      </div>
    </div>
    <div class="row mar_b_15">
      <div class="col-sm-12">
        <h4>Proforma Number : {{proformaData.packing_l_no}}</h4>
        <h4>Proforma Date : {{proformaData.packing_l_date}}</h4>
        <!-- <h4>Company Code : {{poData.po_origin_company_code}}</h4> -->
      </div>
    </div>
    <form #invoiceform="ngForm">
      <div class="pad_t_b_20">
        <h4 style="background: #0fa497;padding: 10px;color: white !important;">Payment Terms</h4>

        <div class="row pad_t_20">
          <div class="form-group">
            <div class="col-md-12">
              <div class="col-md-2 mar_b_10_mbl">
                <label for="creditperiod" class="">Credit Period (days)
                  <sub class="txt_red f_size_25">*</sub>
                </label>
                <div class="">
                  <input type="text" class="form-control" name="creditperiod" [(ngModel)]="proformaData.credit_period"
                    #creditperiod="ngModel" required placeholder="Enter creditperiod">
                  <div [hidden]="creditperiod.valid ||  creditperiod.untouched" class="validation_msg">
                    credit period is required
                  </div>
                </div>
              </div>

              <div class="col-md-2 mar_b_10_mbl">
                <label for="paymentterms">Payment terms
                  <sub class="txt_red f_size_25">*</sub>
                </label>
                <input type="text" class="form-control" name="paymentterms" [(ngModel)]="proformaData.payment_terms"
                  #paymentterms="ngModel" required placeholder="Enter payment terms">
                <div [hidden]="paymentterms.valid ||  paymentterms.untouched" class="validation_msg">
                  Paymentterms is required
                </div>
              </div>

              <div class="col-md-2 mar_b_10_mbl">
                <label for="splinstr" class="">Special Instructions
                  <sub class="txt_red f_size_25">*</sub>
                </label>
                <div class="">
                  <textarea type="text" class="form-control" required name="splinstr" [(ngModel)]="proformaData.spl_instr"
                    #splinstr="ngModel" placeholder="Enter Special instructions"></textarea>
                  <div [hidden]="splinstr.valid ||  splinstr.untouched" class="validation_msg">
                    Instructions are required
                  </div>
                </div>
              </div>

              <div class="col-md-2 mar_b_10_mbl">
                <label for="remarks1">Remarks 1
                </label>
                <textarea type="text" class="form-control" name="remarks1" [(ngModel)]="proformaData.remarks1"
                  #remarks1="ngModel" placeholder="Enter remarks"></textarea>
                <div [hidden]="remarks1.valid ||  remarks1.untouched" class="validation_msg">
                  Remarks are required
                </div>
              </div>
              <!-- <div class="col-md-4">
              <label for="exchange_rate">exchange rate :</label>
              <input type="text" class="form-control" id="exchange_rate" name="exchange_rate" [(ngModel)]="paymentData.exchange_rate" #exchange_rate="ngModel" required
                        placeholder="Enter exchange rate">
            </div> -->
              <div class="col-md-2 mar_b_10_mbl">

                <label for="remarks2">Remarks 2 </label>
                <textarea type="text" class="form-control" name="remarks1" [(ngModel)]="proformaData.remarks2"
                  #remarks2="ngModel" placeholder="Enter remarks"></textarea>
                <!-- <div [hidden]="creditperiod.valid ||  creditperiod.untouched" class="validation_msg">
                                credit period is required
                            </div> -->
              </div>

            </div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-sm-12 list">

          <div class="table-responsive">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th class="txt_centr">S.No</th>
                  <th class="txt_left">Product name</th>
                  <th class="txt_left">Model No.</th>
                  <th class="txt_right">Mrp(&#8377;)</th>
                  <th class="txt_right">Discount(%)</th>
                  <th class="txt_right">Proforma Qty</th>
                  <th class="txt_right">Total Value(&#8377;)</th>
                  <th class="txt_right">Stock Qty</th>
                  <th class="txt_centr">Invoice Qty</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of invoiceListData | paginate: { itemsPerPage: 10, currentPage: p }; let i=index">
                  <td class="txt_centr">{{10*(p-1)+(i+1)}}</td>
                  <!-- <td>{{item.name1}} {{item.name2}}</td> -->
                  <td class="txt_left">{{item.long_name}}</td>
                  <td class="txt_left">{{item.modelno}}</td>
                  <td class="txt_right">{{item.mrp}}</td>
                  <td class="txt_right">{{item.discount_eff}}</td>
                  <!-- <td>{{item.net_price}}</td> -->
                  <!-- <td>{{item.packing_qty}}</td> -->
                  <td class="txt_right">{{item.balance_qty}}</td>
                  <td class="txt_right">{{item.balance_qty * item.net_price}}</td>
                  <td class="txt_right">{{item.stock_qty}}</td>
                  <td class="txt_centr">
                    <span class="f_size_15 blue_clr padd_right_10">
                      <input type="text" #invoice="ngModel" class="form-control txt_right" name="{{item.po_srl_no}}" required
                        [(ngModel)]="invoiceModel[item.po_srl_no]" (ngModelChange)="checkQty(item.balance_qty,invoiceModel[item.po_srl_no])">
                      {{invoiceModel[option]}}
                    </span>
                    <!-- <div *ngIf="invoice.invalid && (invoice.dirty || invoice.touched)" class="invalid-feedback">You need
                    to be older than</div> -->
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div style="text-align: right;margin-bottom: 20px;">
            <span *ngIf="approveBtn" class="text-center qty_error">
              Invoice Qty should not be grater than Packing Qty.
            </span>
          </div>
          <div class="pull-left">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>
          <div class="pull-right">
            <button type="submit" [disabled]="invoiceform.invalid" class="btn btn-primary brdr_radius_50 btn_w bg_green border_green"
              (click)="makeInvoice()">Approve
              <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            </button>
          </div>

        </div>
      </div>
    </form>
  </div>
</div>


<div class="modal fade" id="makeinvoiceModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" style="padding:0;">
        <div class="row">
          <div class="col-md-12">
            <h4 class="alert_heading">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </h4>
            <div class="right_mark">
              <i class="fa fa-check" aria-hidden="true"></i>
            </div>
            <div class="pad_15 text-center content_msg" style="padding: 15% 0;">
              <span>Invoice Prepared Sucessfully..!!</span>
              <br>
              <span>Your Invoice No : {{invoice_No}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-danger fl" data-dismiss="modal" (click)="gotoPrevious()">Close</button> -->
        <button type="button" class="btn btn-success fr" data-dismiss="modal" (click)="invoice_cnfm()">OK</button>
      </div>
    </div>
  </div>
</div>

<ngx-spinner class="loader_spinner"></ngx-spinner>