.qty_error{
    background: #d72429;
    padding: 10px;
    border-radius: 3px;
    color: #fff;
}







//alert styles start here
.alert_heading{
    background: #0da550;
    margin-top: 0;
    padding: 50px;
    text-align: center;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.alert_heading span{
    color:#fff;
}
.right_mark{
    background: #fff;
    width: 100px;
    height: 100px;
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 40%;
    top: 50px;
    box-shadow: 3px 5px 10px #ddd;
}
.right_mark i{
    font-size: 60px;
    color: #0da550;
}
.content_msg span{
    font-size: 18px;
    font-weight: 550;
}
.close{
    color: #fff !important;
     opacity: 0 !important;
    margin-top: -40px !important;
    margin-right: -30px !important;
}
.modal-content{
    border-radius: 15px !important;
}



/* mobile styles start here */
@media screen and (min-width: 320px) and (max-width: 480px){
    .mar_b_10_mbl{
        margin-bottom: 10px;
    }
  }

/* tablets styles start here */
@media screen and (min-width: 481px) and (max-width: 767px){
    .mar_b_10_mbl{
        margin-bottom: 10px;
    }
  }

/* desktops styles start here */
@media screen and (min-width: 768px) and (max-width: 991px){
 
  }

  /* desktops styles start here */
@media screen and (min-width: 992px) and (max-width: 1023px){
   
  }

    /* lg-desktops styles start here */
@media screen and (min-width: 1024px) and (max-width: 1200px){
   
  }