.box{
    background: #fff !important;
    box-shadow: 0px 0px 12px #a2a1a1;
    margin-right: 34px;
    width: 17%;
    height: 130px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}
.inner_box img{ 
    width: 40%;
    position: absolute;
    border-radius: 5px;
    margin-top: -30px;
}
.inner_text{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #757575;
    bottom: 0;
    text-align: center;
    margin-bottom: 20px;
    position: absolute;
}