<div class="container pad_t_5per pad_b_5per">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 mar_t_50">
      <div class="col-sm-3 col-md-2 col-lg-3 col-xs-12 box" routerLink="/purchase-orders-list">
        <div class="inner_box">
          <img src="./assets/dashboard_icons/report1.png" />
        </div>
        <span class="inner_text">Proforma</span>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12 box" routerLink="/challan-list">
        <div class="inner_box">
          <img src="./assets/dashboard_icons/report1.png" />
        </div>
        <span class="inner_text">Challan</span>
      </div>
    </div>
  </div>

</div>