.testimonial{
    background-image: url(../../assets/home_feedback.jpg);
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.abt_head{
    font-size: 18px;
    font-weight: 600;
}