<div class="container pad_t_5per pad_b_5per">
  <p class="bread-crumb1">
    <span><a href="javascript.void(0)" routerLink="/dashboard" style="color: #878787 !important;">Dashboard</a>
    </span>&nbsp;>&nbsp;
    <span>GRN</span>
  </p>
  <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
    <h3 class="shopee_name">
      <span>{{loginUserData.content}}</span>
    </h3>
  </div>
  <div class="reg_form mar_b_30 pad_15">

    <div class="row mar_b_15">
      <div class="col-sm-12">
        <div class="fl">
          <h4>GRN Details</h4>
        </div>
        <div class="fr">
          <input type="text" placeholder="Search Product" [(ngModel)]="searchText" class="search_style">
          <button type="submit" class="input_btn">Search</button>
        </div>
      </div>
    </div>

    <div class="row pad_15">
      <table class="table">
        <thead>
          <tr>
            <th>Sr.No</th>
            <th>Invoice. No</th>
            <th>Invoice. Date</th>
            <th>Company Code</th>
            <th>packing Date</th>

            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of inw_details|filter:searchText  | paginate: { itemsPerPage: 10, currentPage: p };let j = index">
            <td>{{10*(p-1)+(j+1)}}</td>
            <td>{{data.inv_no}}</td>
            <td>{{data.inv_date}}</td>
            <td>{{data.ship_to_company_code}}</td>
            <td>{{data.packing_l_date}}</td>
            <td>
              <span class="f_size_15 blue_clr padd_right_10 cursor_pointer">
                <i class="fa fa-eye" aria-hidden="true" title="View Details" (click)="invoice_data(data)"></i>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>

  </div>
  <ngx-spinner class="loader_spinner"></ngx-spinner>
</div>