button.qty-change{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #0fa497;
}
.qty-input{
    height: 30px;
    width: 80px;
    text-align: center;
}
.qty-align{
    padding-right: 32px;
    border: none;
    padding-top: 10px;
}
.delivery-txt-color{
    color: #0fa497;
    font-weight: 600 !important;
}
.border_styles{
    border-bottom: 3px solid #e8e6e6;
    padding: 30px 0 20px 0;
    box-shadow: 3px 3px 8px #e8e6e6;
}
.pad_l_40{
    padding-left: 40px !important;
}
.mar_b_40{
    margin-bottom: 40px;
}

.product_image11{
    max-width: 100%;
    max-height: 100%;
}

.order_block{
    border: 1px solid #eee8e8;
    overflow: hidden;
    margin-bottom: 10px;
}
.oder_header{
    background: #ececec;
    padding: 5px 0;
    border: 1px solid #d6d5d5;
}
.ordr_no{
    background: #0da550;
    padding: 3px 15px;
    color: #fff;
    border: none;
    margin-left: 30px;
}
.ordr_trk{
    background: #0fa497;
    padding: 3px 10px;
    color: #fff;
    border: none;
    margin-right: 30px;
}   
.ordr_body{
    padding: 15px 5px 5px 5px;
    overflow: hidden;
    border-bottom: 1px solid #f0f0f0;
}
.ordr_fotr{
    padding: 10px 0;
}
.ordr_status{
    font-weight: 600;
    font-size: 14px;
    margin-left: 30px;
    color: #949292;
}
.order_ttl{
    font-size: 16px;
    margin-right: 30px;
    font-weight: 600;
    color: #505050;
}
.oder_header p{
    padding-left: 15px;
    font-weight: 600;
    font-size: 15px;
    margin-bottom:0px;
}
.oder_header p span:nth-child(2){
    color: #d9534f;
}
.rev_cl{
    font-size: small;
    font-weight: 600;
    color: #0fa497;
    cursor:pointer;
}
//alert styles start here
.alert_heading{
    background: #0fa497;
    margin-top: 0;
    padding: 25px;
    text-align: center;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.alert_heading span{
    color:#fff;
}
.right_mark{
    background: #fff;
    width: 100px;
    height: 100px;
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 40%;
    top: 50px;
    box-shadow: 3px 5px 10px #ddd;
}
.right_mark i{
    font-size: 60px;
    color: #0da550;
}
.content_msg span{
    font-size: 18px;
    font-weight: 550;
}
.close{
    color: #fff !important;
     opacity: 0 !important;
    margin-top: -40px !important;
    margin-right: -30px !important;
}
.modal-content{
    border-radius: 15px !important;
}
 
.btn-theme{
    background: #0fa497;
    border-color: #0fa497;
    color: #fff! important;
}
.content_rev{
    padding:3%;
}