<div class="container pad_t_5per pad_b_5per">
    <p class="bread-crumb1">
        <span>
          <a href="javascript.void(0)" routerLink="/home" style="
          color: #878787 !important;
      ">Home</a>
        </span>&nbsp;>&nbsp;
        <span>My Orders</span>
       
      </p>
  <div class="reg_form pad_15 mar_b_30">

    <div class="row">
      <div class="col-sm-12 head_header">
        <div class="fl">
          <h4>MY ORDERS
            <span *ngIf="myOrders.length>0">({{myOrders.length}})</span>
          </h4>
        </div>
        <div class="fr">
          <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Search by Order-ID..." class="search_style">
          <button type="submit" class="input_btn">Search</button>
        </div>
      </div>
    </div>
    <div class="row" *ngFor="let orders of myOrders | filter:searchText | paginate: { itemsPerPage: 5, currentPage: Page };">
      <div class="col-md-12">

        <div class="order_block">
          <div class="oder_header">
            <p><span class="">Order ID : </span><span class="">{{orders.po_no}}</span></p>
            <!-- <button class="ordr_no">{{orders.po_no}}</button> -->
            <!-- <button type="submit" class="fr ordr_trk">
              <i class="fa fa-map-marker" aria-hidden="true"></i> Track</button> -->
          </div>

          <div class="ordr_body" *ngFor="let order of orders.detail ">
            <div class="col-md-12">
              <div class="col-md-2 product_image" (click)="get_detail(order)">
                <!-- <img src="./assets/logo.png" class="product_image"> -->
                <img [src]="order.image" class="product_image11">
              </div>

              <div class="col-md-3 pad_l_40">
                <div class="mar_b_10 prod_name" (click)="get_detail(order)">{{order.name}}</div>
                <div class="mar_b_10">
                  <span class="">Price : </span>
                  <span class="">&#8377;&nbsp;</span>
                  <span class="f_wt_600">{{order.net_price}}</span>&nbsp;
                </div>
                <div class="mar_b_10">
                  <span class="">Qty : </span>
                  <span class="f_wt_600">{{order.qty}}</span>
                </div>
              </div>
              <div class="col-md-1">
                <div class="mar_b_10">
                  <span class="">GST : </span>
                  <span class="">&nbsp;</span>
                  <span class="f_wt_600">18%</span>&nbsp;
                </div>
              </div>
              <div class="col-md-2 text-center">
                <div class="mar_b_10">
                  <span class="">Total : </span>
                  <span class="">&#8377;&nbsp;</span>
                  <span class="f_wt_600">{{order.tot_value}}</span>&nbsp;
                  <p style="font-size: 9px;text-align: center;margin-top: -4px;">(Including GST)</p>
                </div>
              </div>
              
              <div class="col-md-2">
                <div class="mar_b_10">
                  <p class="txt_gray f_wt_600">{{order.status}}</p>
                 
                  <div *ngIf="order.status ==='Delivered'">
                    
                  </div>
                 
                  <!-- <span class="txt_gray">Status.</span> -->
                </div>
              </div>
              <div *ngIf="order.status ==='Delivered'" class="col-md-2">
                <div class="rating">
                 Rating:
                  <div><app-rating [rating]="order.rating" [order]="order" [loginUserData]="loginUserData"></app-rating></div>
                  <div class="rev_cl" (click)="feedback(order)">Write a Review</div>
                </div> 
              </div>
              <div *ngIf="order.status !=='Delivered'" class="col-md-2">
                  <div >
                      <button>Track</button>
                    </div>
                </div>

            </div>
          </div>
          <hr style="margin-top:0px !important;margin-bottom: 0px !important;">

          <div class="ordr_fotr">
            <span class="ordr_status">Ordered On <span style="color:#333333 !important;">{{orders.po_date | date : 'E, d LLL, y' }}</span> </span>
            <span type="submit" class="fr">Order Total :
              <span class="order_ttl">&#8377;&nbsp;{{orders.amount}}</span>
            </span>
          </div>
        </div>

      </div>
    </div>
    <pagination-controls *ngIf="myOrders.length>0" (pageChange)="Page = $event"></pagination-controls>

    <div class="row" *ngIf="myOrders.length==0">
      <div class="col-md-12">
        <div class="no_data">
          <img class="no_data_cnter" src="../assets/empty_shopping_cart.png" />
          <!-- <span class="nodata_txt">No Products are Availble</span> -->
        </div>
      </div>
      <!-- <div class="col-md-12">
        <div class="continue_shop txt_center">
          <button type="submit" class="btn btn-success" routerLink="/home" style="margin-top: -35px;">Continue Shopping</button>
        </div>
      </div> -->
    </div>

  </div>
  <ngx-spinner class="loader_spinner"></ngx-spinner>
</div>

<!-- success small alert -->
<div class="smallSuccess_alert" *ngIf="alert">
  <strong>
    <i class="fa fa-close remove_icon"></i> {{wish_alert}} </strong>
</div>

<div class="modal fade" id="reviewfulModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" style="padding:0;">
        <div class="row">
          <div class="col-md-12">
            <h4 class="alert_heading">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </h4>
            <!-- <div class="right_mark">
              <i class="fa fa-check" aria-hidden="true"></i>
            </div> -->
            <div class="content_rev">
              <div class="form-group">
                <label for="usr"><b>Title:</b>
                  <sub class="txt_red f_size_25">*</sub></label>
                <input type="text" class="form-control" [(ngModel)]="review.title" id="usr">
              </div>
              <div class="form-group">
                <label for="comment"><b>Description:</b></label>
                <textarea class="form-control" rows="5" [(ngModel)]="review.comment" id="comment"></textarea>
              </div>
            </div>
            
            <!-- <div class="pad_15 text-center content_msg" style="padding: 10% 0;">
              <span>In-Progress</span>
            </div> -->
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-danger fl" data-dismiss="modal" (click)="gotoPrevious()">Close</button> -->
        <button type="button" class="btn btn-theme fr" data-dismiss="modal" (click)="submit_review(review)">Submit</button>
      </div>
    </div>
  </div>
</div>