<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<div>
    <!-- <div style="margin-top: 5%;">
        <app-breadcrumb></app-breadcrumb>
    </div> -->
    <!-- <div style="margin-top: 5%;">
            <breadcrumb [allowBootstrap]="true"></breadcrumb>
    </div> -->

    <router-outlet></router-outlet>
    <app-error-modal></app-error-modal>
</div>
<app-footer></app-footer>