<div style="margin-top:50px">
  <app-catg-menu></app-catg-menu>
</div>
<div class="container-fluid" style="padding:30px 25px; ">
  <div class="row">
    <div class="col-md-2 cat_filter">
      <div class="pad_t_b_5 cat_filter rangePrice">
        <h4>Price</h4>
        <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" (valueChange)="price_min(minValue,maxValue)" [options]="options" ></ng5-slider>
        <div class="col-md-6"  style="padding-left:4px!important;padding-right:4px!important;">
          <p>Min value:
            <input type="number" class="form-control" (change)="price_min(minValue,maxValue)" [(ngModel)]="minValue" min="0"  oninput="validity.valid||(value='');" style="padding:4px!important;">
          </p>
        </div>
        <div class="col-md-6"  style="padding-left:4px!important;padding-right:4px!important;">
          <p>Max value:
            <input type="number" class="form-control" (change)="price_min(minValue,maxValue)" [(ngModel)]="maxValue"  min="0"  oninput="validity.valid||(value='');" style="padding:4px!important;">
          </p>
        </div>
      </div>
      <div></div>
      <div class="pad_t_b_5">
        <div>
          <h4>Discount</h4>
          <ul class="list-unstyled">
            <li style="padding-bottom: 5px;">
              <span>
                <input type="checkbox" (change)="disc(10)" [checked]="selected_disc === 10" style="width:20px;height:20px;margin-top: 0px;">
              </span>
              <span style="vertical-align: super;padding-left: 12px;">10% or More</span>
            </li>
            <li style="padding-bottom: 5px;">
              <span>
                <input type="checkbox" (change)="disc(20)" [checked]="selected_disc === 20" style="width:20px;height:20px;margin-top: 0px;">
              </span>
              <span style="vertical-align: super;padding-left: 12px;">20% or More</span>
            </li>
            <li style="padding-bottom: 5px;">
              <span>
                <input type="checkbox" (change)="disc(30)" [checked]="selected_disc === 30" style="width:20px;height:20px;margin-top: 0px;">
              </span>
              <span style="vertical-align: super;padding-left: 12px;">30% or More</span>
            </li>
            <li style="padding-bottom: 5px;">
              <span>
                <input type="checkbox" (change)="disc(40)" [checked]="selected_disc === 40" style="width:20px;height:20px;margin-top: 0px;">
              </span>
              <span style="vertical-align: super;padding-left: 12px;">40% or More</span>
            </li>
            <li style="padding-bottom: 5px;">
              <span>
                <input type="checkbox" (change)="disc(50)" [checked]="selected_disc === 50" style="width:20px;height:20px;margin-top: 0px;">
              </span>
              <span style="vertical-align: super;padding-left: 12px;">50% or More</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <div class="row" style="padding: 10px 0px;border-radius:4px;border: 1px solid #1d0e0e1c;margin-left: 0px;margin-right: 0px;box-shadow: 2px 2px 2px 2px #8080804a;">
          <div>
            <p class="b_c"><span ><a href="javascript.void(0)" routerLink="/home" style="color: #878787 !important;">Home</a></span>&nbsp;>&nbsp;<span  class="b_d"(click)="catg_crumb(d)">{{d}}</span>&nbsp;>&nbsp;<span *ngFor="let p of resources2|unique">{{p.subcategory}}</span></p>
          </div>
          <div class="col-md-12" style="border-bottom: 1px solid #00000014;margin-bottom: 5px;">
            <h3 style="margin-top: 0px;" *ngFor="let p of resources2|unique">{{p.subcategory}} </h3>
            <div class="col-md-1">
              <b>Sort By</b>
            </div>
            <div class="col-md-5">
              <span style="padding: 7px;">Popularity</span>
              <span style="padding: 7px;cursor: pointer;" (click)="Ascend()">Price--Low to High</span>
              <span style="padding: 7px; cursor: pointer;" (click)="Descend()">Price--High to Low</span>
            </div>
          </div>
          <div *ngFor="let p of resources2 | paginate: { itemsPerPage: 12, currentPage: Page };let i=index ">
            <div class="col-md-3">
              <div class="cat_style pad_15">

                <i *ngIf="p.wishlist == '1'" class="fa fa-heart wishlist_styles fr cursor_pointer" style="color: #ff6161" aria-hidden="true"
                  (click)="wish_list(p,'0')"></i>
                <i *ngIf="p.wishlist != '1'" class="fa fa-heart wishlist_styles fr cursor_pointer" style="color:#cac7c7;" aria-hidden="true"
                  (click)="wish_list(p,'1')"></i>

                <div (click)="sub_cat(p)">
                  <img  src="{{p.low_image_1}}" width="200" onError="this.src='../../assets/emty_img.png';">
                  <h5 class="C_s">{{p.subcategory}}</h5>
                  <p class="C_m">{{p.modelno}}</p>
                  <p style="margin:0px;">
                    <span class="C_np"> Rs.{{p.net_price}}</span>&nbsp;
                    <span style="text-decoration:line-through; color: #9e8f8f;font-size:14px">Rs.{{p.mrp}}</span>
                    &nbsp;
                    <span style="color: #0da550"> {{p.discount}}% Off</span>
                  </p>
                  <p class="gst">(Excluding GST)</p>
                </div>
              </div>
            </div>
            <div class="smallSuccess_alert" *ngIf="alert">
              <strong>
                <i class="fa fa-check add_icon" *ngIf="icon"></i>
                <i class="fa fa-close remove_icon" *ngIf="!icon"></i> {{wish_alert}} </strong>
            </div>
        </div>
      </div>
      <div style="text-align:right;padding:20px;">
        <pagination-controls (pageChange)="Page = $event"></pagination-controls>
      </div>
    </div>
  </div>

  <ngx-spinner class="loader_spinner"></ngx-spinner>

</div>