.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
   
    height: 120px;
    // padding: 10px
}
// .center img{
//     width:50%;
//     height: 120px;
// }

// .center:hover {
//     padding: 5px;
//     transition: all 0.2s ease-in-out;
// }
.cat_style{
    text-align: center;
    // box-shadow: 1px 1px 1px 1px #8080804a;

}

.cat_style:hover {
    box-shadow: 1px 1px 1px 1px #8080804a;
    // img {
    //     width:61%;
    //     // transition: 1s;
    //     // transition-timing-function: ease;
    // }
}

.cat_filter{
    padding: 10px;
    box-shadow: 2px 1px 1px 2px #8080804a;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}
.btn_cat{
    font-weight: 600;
    letter-spacing: 2px;
    color: white;
    font-size: larger;
    background: #0da550 !important;
    border-color:#0da550;
}
.gst{
    margin: 0px !important;
    font-size: 11px;
    margin-top: -7px !important;
    color: #293271;
    font-weight: bold;
}

.alert-success {
    background-color: #444444;
    border-color: #9E9E9E;
    color: #fff;
}
.wish_alert{
    margin: 0 auto !important;
width: 20% !important;
text-align: center;
}

.C_s{
    font-size:14px;
    font-weight: 600;
    color: #5c5b5b;
}

.C_m{
    font-size:14px;
    margin: 0px;
}
.C_np{
    font-size:16px;color: #000806;
}
 .b_c {
    color:#878787;
    padding: 3px 5px; 
    font-size:13px;
    .b_d {
        cursor: pointer;
    }
 }




