<!-- Error modal start here -->
<div class="error_modal_content">
  <ngx-smart-modal identifier="errorModal" #errorModal>

    <div class="modal-body" style="padding:0;">
      <div class="row">
        <div class="col-md-12">

          <div class="error_modal">
            <span class="glyphicon glyphicon-warning-sign"></span>
            <h3>Something went wrong.</h3>
            <h5>Please check after some time.</h5>
            <button class="btn btn-success" routerLink="/home" (click)="errorModal.close()">OK, Got it</button>
          </div>

        </div>
      </div>
    </div>

  </ngx-smart-modal>
</div>
<!-- Error modal end here -->