// .login_text {
//     color: #fff;
//     font-size: 29px;
//     font-weight: 500;
// }

// .login_texttt {
//     font-size: 18px;
//     margin-top: 16px;
//     line-height: 150%;
//     color: #dcdcdc;
// }
.error_modal{
    text-align: center;
    padding: 30px;
    background: #eaeaea;
}
.error_modal span{
    font-size: 80px;
    color: #cdcdcd;
}
.error_modal h3{
    color: #d9534f;
}
.error_modal h5{
    color: #545454;
    padding-bottom: 20px;
}
