<div class="container pad_t_5per">
  <div class="reg_form mar_b_30">
    <div class="row">
      <div class="col-md-12">
        <!-- Nav tabs -->
        <div class="card">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active" (click)="activate('Pending')">
              <a href="" aria-controls="list" role="tab" data-toggle="tab">Pending Users List
              </a>
            </li>
            <li role="presentation" (click)="activate('underProcess')">
              <a href="" aria-controls="underProcess" role="tab" data-toggle="tab">Under Process Users List
              </a>
            </li>
            <li role="presentation" (click)="activate('Active')">
              <a href="" aria-controls="registrtion" role="tab" data-toggle="tab">Active User List
              </a>
            </li>
            <li role="presentation" (click)="activate('reject')">
              <a href="" aria-controls="reject" role="tab" data-toggle="tab">reject Users List
              </a>
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div *ngIf="openTab=='Pending'">
              <div role="tabpanel" class="tab-pane active">
                <app-register-profile></app-register-profile>
              </div>
            </div>
            <div *ngIf="openTab=='underProcess'">
              <div role="tabpanel" class="tab-pane active">
                <app-register-profile [underProcessId]=1></app-register-profile>
              </div>
            </div>
            <div *ngIf="openTab=='Active'">
              <div role="tabpanel" class="tab-pane">
                <app-active-users [styleId]=1></app-active-users>
              </div>
            </div>
            <div *ngIf="openTab=='reject'">
              <div role="tabpanel" class="tab-pane">
                <app-reject-users [id]=1></app-reject-users>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner class="loader_spinner"></ngx-spinner>