<div class="container pad_t_5per pad_b_5per">
  <div class="row">
    <div class="col-sm-12">
        <h4 class="f_wt_600 txt_black pad_t_b_10 bussinesInfo">Business Info</h4>
      <div class="reg_form pad_15 mar_b_30">
        <form #masterCompanyForm="ngForm">
          <!-- <fieldset class="scheduler-border">
          <legend class="scheduler-border">Bussiness Info:</legend> -->
          <div class="form-group row">
            <div class="col-sm-12">
              <div class="col-sm-4 mar_b_10_mbl">
                <label for="company_code" class="col-form-label">Company Code
                  <sub class="txt_red f_size_25">*</sub>
                </label>
                <div class="">
                  <input type="text" class="form-control" [(ngModel)]="regProfileInfo.company_code" name="company_code" id="company_code" placeholder="Enter Company Code"
                    #comcode="ngModel" required>
                </div>
                <div [hidden]="comcode.valid ||  comcode.untouched" class="validation_msg">
                  Company Code Required
                </div>
              </div>
              <div class="col-sm-4 mar_b_10_mbl">
                <label for="companyname" class="col-form-label">Company Name
                  <sub class="txt_red f_size_25">*</sub>
                </label>
                <div class="">
                  <input type="text" class="form-control" [(ngModel)]="regProfileInfo.companyname" name="companyname" id="companyname" placeholder="Enter Company Name"
                    #companyname="ngModel" required>
                </div>
                <div [hidden]="companyname.valid ||  companyname.untouched" class="validation_msg">
                  Company Name Required
                </div>
              </div>
              <div class="col-sm-4 mar_b_10_mbl">
                <label for="gstin" class="col-form-label">GSTIN
                  <sub class="txt_red f_size_25">*</sub>
                </label>
                <div class="">
                  <input type="text" class="form-control" [(ngModel)]="regProfileInfo.gstin" name="gstin" id="gstin" placeholder="Enter GSTIN"
                    #gstin="ngModel" required>
                </div>
                <div [hidden]="gstin.valid ||  gstin.untouched" class="validation_msg">
                  GSTIN Required
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-12">
              <div class="col-sm-4 mar_b_10_mbl">
                <label for="pan" class="col-form-label">PAN
                  <sub class="txt_red f_size_25">*</sub>
                </label>
                <div class="">
                  <input type="text" class="form-control" [(ngModel)]="regProfileInfo.pan" name="pan" id="pan" placeholder="Enter PAN" #pan="ngModel"
                    required>
                </div>
                <div [hidden]="pan.valid ||  pan.untouched" class="validation_msg">
                  PAN Required
                </div>
              </div>
              <div class="col-sm-4 mar_b_10_mbl">
                <label for="cin" class="col-form-label">CIN
                  <sub class="txt_red f_size_25">*</sub>
                </label>
                <div class="">
                  <input type="text" class="form-control" [(ngModel)]="regProfileInfo.cin" name="cin" id="cin" placeholder="Enter CIN" #cin="ngModel"
                    required>
                </div>
                <div [hidden]="cin.valid ||  cin.untouched" class="validation_msg">
                  CIN Required
                </div>
              </div>
              <div class="col-sm-4 mar_b_10_mbl">
                <label for="online_display_name" class="col-form-label">Dispaly Name
                  <sub class="txt_red f_size_25">*</sub>
                </label>
                <div class="">
                  <input type="text" class="form-control" name="online_display_name" id="online_display_name" [(ngModel)]="regProfileInfo.online_display_name"
                    placeholder="Enter Dispaly Name" #disName="ngModel" required>
                </div>
                <div [hidden]="disName.valid ||  disName.untouched" class="validation_msg">
                  Dispaly Name Required
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-12">
              <div class="col-sm-3 mar_b_10_mbl">
                <label for="address1" class="col-form-label">Address 1
                  <sub class="txt_red f_size_25">*</sub>
                </label>
                <div class="">
                  <textarea class="form-control" [(ngModel)]="regProfileInfo.address1" name="address1" id="address1" placeholder="Enter Address 1"
                    #address1="ngModel" required></textarea>
                </div>
                <div [hidden]="address1.valid ||  address1.untouched" class="validation_msg">
                  Address 1 Required
                </div>
              </div>
              <div class="col-sm-3 mar_b_10_mbl">
                <label for="address2" class="col-form-label">Address 2
                  <sub class="txt_red f_size_25">*</sub>
                </label>
                <div class="">
                  <textarea class="form-control" [(ngModel)]="regProfileInfo.address2" name="address2" id="address2" placeholder="Enter Address 2"
                    #address2="ngModel" required></textarea>
                </div>
                <div [hidden]="address2.valid ||  address2.untouched" class="validation_msg">
                  Address 2 Required
                </div>
              </div>
              <div class="col-sm-3 mar_b_10_mbl">
                <label for="address3" class="col-form-label">Address 3
                  <sub class="txt_red f_size_25">*</sub>
                </label>
                <div class="">
                  <textarea class="form-control" [(ngModel)]="regProfileInfo.address3" name="address3" id="address3" placeholder="Enter Address 3"
                    #address3="ngModel" required></textarea>
                </div>
                <div [hidden]="address3.valid ||  address3.untouched" class="validation_msg">
                  Address 3 Required
                </div>
              </div>
              <div class="col-sm-3 mar_b_10_mbl">
                <label for="address4" class="col-form-label">Address 4
                  <sub class="txt_red f_size_25">*</sub>
                </label>
                <div class="">
                  <textarea class="form-control" [(ngModel)]="regProfileInfo.address4" name="address4" id="address4" placeholder="Enter Address 4"
                    #address4="ngModel" required></textarea>
                </div>
                <div [hidden]="address4.valid ||  address4.untouched" class="validation_msg">
                  Address 4 Required
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-12">
              <div class="col-sm-3 mar_b_10_mbl">
                <label for="country" class="col-form-label">Country
                  <sub class="txt_red f_size_25">*</sub>
                </label>
                <div class="">
                  <select class='select-option form-control' required [(ngModel)]="regProfileInfo.country" name="country" #country="ngModel"
                    (change)="onSelectCountry(regProfileInfo.country)">
                    <option [ngValue]="undefined" disabled selected>--Select Country--</option>
                    <option class='option' *ngFor="let countries of countriesList | async" [ngValue]="countries.country">{{countries.country}}</option>
                  </select>
                  <div [hidden]="country.valid ||  country.untouched" class="validation_msg">
                    Country is required
                  </div>
                </div>
              </div>
              <div class="col-sm-3 mar_b_10_mbl">
                <label for="state" class="col-form-label">State
                  <sub class="txt_red f_size_25">*</sub>
                </label>
                <div class="">
                  <select class='select-option form-control' [(ngModel)]="regProfileInfo.state" required name="state" #state="ngModel" (change)="onSelectState(regProfileInfo.state)">
                    <option [ngValue]="undefined" disabled selected>--Select State--</option>
                    <option class='option' *ngFor="let states of response1" [ngValue]="states.state">{{states.state}}</option>
                  </select>
                  <div [hidden]="state.valid ||  state.untouched" class="validation_msg">
                    State is required
                  </div>
                </div>
              </div>
              <div class="col-sm-3 mar_b_10_mbl">
                <label for="district" class="col-form-label">District
                  <sub class="txt_red f_size_25">*</sub>
                </label>
                <div class="">
                  <select class='select-option form-control' [(ngModel)]="regProfileInfo.district" required name="district" #district="ngModel"
                    (change)="onSelectDistrict(regProfileInfo.district)">
                    <option [ngValue]="undefined" disabled selected>--Select District--</option>
                    <option class='option' *ngFor="let districts of response2" [ngValue]="districts.district">{{districts.district}}</option>
                  </select>
                  <div [hidden]="district.valid ||  district.untouched" class="validation_msg">
                    District is required
                  </div>
                </div>
              </div>
              <div class="col-sm-3 mar_b_10_mbl">
                <label for="city" class="col-form-label">City/Region
                  <sub class="txt_red f_size_25">*</sub>
                </label>
                <div class="">
                  <select class='select-option form-control' [(ngModel)]="regProfileInfo.city" required name="city" #city="ngModel">
                    <option [ngValue]="undefined" disabled selected>--Select City--</option>
                    <option class='option' *ngFor="let cities of response3" [ngValue]="cities.city">{{cities.city}}</option>
                  </select>
                  <div [hidden]="city.valid ||  city.untouched" class="validation_msg">
                    City is required
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-12">
              <div class="col-sm-4 mar_b_10_mbl">
                <label for="pin" class="col-form-label">Postal Code
                  <sub class="txt_red f_size_25">*</sub>
                </label>
                <div class="">
                  <input type="text" class="form-control" name="pin" id="pin" [(ngModel)]="regProfileInfo.pin" placeholder="Enter Postal Code"
                    #pin="ngModel" required>
                </div>
                <div [hidden]="pin.valid ||  pin.untouched" class="validation_msg">
                  Postal Code Required
                </div>
              </div>
              <div class="col-sm-4 mar_b_10_mbl">
                <label for="handling_company_code" class="col-form-label">Handling Company Code
                  <sub class="txt_red f_size_25">*</sub>
                </label>
                <div class="">
                  <input type="text" class="form-control" [(ngModel)]="regProfileInfo.handling_company_code" name="handling_company_code" id="handling_company_code"
                    placeholder="Enter Handling Company Code" #handlcomcode="ngModel" required>
                </div>
                <div [hidden]="handlcomcode.valid ||  handlcomcode.untouched" class="validation_msg">
                  Handling Company Code Required
                </div>
              </div>
              <div class="col-sm-4 mar_b_10_mbl">
                <label for="owner_type" class="col-form-label">Owner Type
                  <sub class="txt_red f_size_25">*</sub>
                </label>
                <div class="">
                  <input type="text" class="form-control" name="owner_type" id="owner_type" [(ngModel)]="regProfileInfo.owner_type" placeholder="Enter Owner Type"
                    #ownType="ngModel" required>
                </div>
                <div [hidden]="ownType.valid ||  ownType.untouched" class="validation_msg">
                  Owner Type Required
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-12">
              <div class="col-sm-4 mar_b_10_mbl">
                <label for="company_email" class="col-form-label">Email (Official)
                  <sub class="txt_red f_size_25">*</sub>
                </label>
                <div class="">
                  <input type="text" class="form-control" name="company_email" id="company_email" [(ngModel)]="regProfileInfo.company_email"
                    placeholder="Enter Email" #email="ngModel" required>
                </div>
                <div [hidden]="email.valid ||  email.untouched" class="validation_msg">
                  Email Required
                </div>
              </div>
              <div class="col-sm-4 mar_b_10_mbl">
                <label for="shop_type" class="col-form-label">Shop Type
                  <sub class="txt_red f_size_25">*</sub>
                </label>
                <div class="">
                  <input type="text" class="form-control" name="shop_type" id="shop_type" [(ngModel)]="regProfileInfo.shop_type" placeholder="Enter Shop Type"
                    #shoptype="ngModel" required>
                </div>
                <div [hidden]="shoptype.valid ||  shoptype.untouched" class="validation_msg">
                  Shop Type Required
                </div>
              </div>
              <div class="col-sm-4 mar_b_10_mbl">
                <label for="location_href" class="col-form-label">Location href
                  <sub class="txt_red f_size_25">*</sub>
                </label>
                <div class="">
                  <input type="text" class="form-control" name="location_href" id="location_href" [(ngModel)]="regProfileInfo.location_href"
                    placeholder="Enter Location" #location="ngModel" required>
                </div>
                <div [hidden]="location.valid ||  location.untouched" class="validation_msg">
                  Location Required
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-12">
              <div class="col-sm-4 mar_b_10_mbl">
                <label for="latitude" class="col-form-label">Latitude
                  <sub class="txt_red f_size_25">*</sub>
                </label>
                <div class="">
                  <input type="text" class="form-control" name="latitude" id="latitude" [(ngModel)]="regProfileInfo.latitude" placeholder="Enter Latitude"
                    #latitude="ngModel" required>
                </div>
                <div [hidden]="latitude.valid ||  latitude.untouched" class="validation_msg">
                  Latitude Required
                </div>
              </div>
              <div class="col-sm-4 mar_b_10_mbl">
                <label for="longtitude" class="col-form-label">Longtitude
                  <sub class="txt_red f_size_25">*</sub>
                </label>
                <div class="">
                  <input type="text" class="form-control" name="longtitude" id="longtitude" [(ngModel)]="regProfileInfo.longtitude" placeholder="Enter Longtitude"
                    #longtitude="ngModel" required>
                </div>
                <div [hidden]="longtitude.valid ||  longtitude.untouched" class="validation_msg">
                  Longtitude Required
                </div>
              </div>
              <div class="col-sm-4 mar_b_10_mbl">
                <label for="category_profile" class="col-form-label">Category Profile
                  <sub class="txt_red f_size_25">*</sub>
                </label>
                <div class="">
                  <input type="text" class="form-control" name="category_profile" id="category_profile" [(ngModel)]="regProfileInfo.category_profile"
                    placeholder="Enter Category Profile" #catPro="ngModel" required>
                </div>
                <div [hidden]="catPro.valid ||  catPro.untouched" class="validation_msg">
                  Category Profile Required
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-12">
              <div class="col-sm-4 mar_b_10_mbl">
                <label for="handling_company_acc_manager" class="col-form-label">ACC Manager Name
                  <sub class="txt_red f_size_25">*</sub>
                </label>
                <div class="">
                  <select class='select-option form-control' required [(ngModel)]="regProfileInfo.handling_company_acc_manager" name="handling_company_acc_manager"
                    #ACC="ngModel" (change)="onSelectAccunt(regProfileInfo.handling_company_acc_manager)">
                    <option [ngValue]="undefined" disabled selected>--Select Account Manager--</option>
                    <option *ngFor="let accManagers of accManagersList | async" [ngValue]="accManagers.handling_company_acc_manager">{{accManagers.ACC}}</option>
                  </select>
                  <div [hidden]="ACC.valid || ACC.untouched" class="validation_msg">
                    Account Manager is required
                  </div>
                </div>
              </div>
              <div class="col-sm-4 mar_b_10_mbl">
                <label for="handling_company_sales_manager" class="col-form-label">Sales Manager Name
                  <sub class="txt_red f_size_25">*</sub>
                </label>
                <div class="">
                  <select class='select-option form-control' required [(ngModel)]="regProfileInfo.handling_company_sales_manager" name="handling_company_sales_manager"
                    #SM="ngModel" (change)="onSelectSales(regProfileInfo.handling_company_sales_manager)">
                    <option [ngValue]="undefined" disabled selected>--Select Sales Manager--</option>
                    <option class='option' *ngFor="let salesMangers of salesManagersList | async" [ngValue]="salesMangers.handling_company_sales_manager">{{salesMangers.SM}}</option>
                  </select>
                  <div [hidden]="SM.valid || SM.untouched" class="validation_msg">
                    Sales Manager is required
                  </div>
                </div>
              </div>
              <div class="col-sm-4 mar_b_10_mbl">
                <label for="pur_mgr_id" class="col-form-label">Purchase Manager Name
                  <sub class="txt_red f_size_25">*</sub>
                </label>
                <div class="">
                  <input type="text" class="form-control" name="pur_mgr_id" id="pur_mgr_id" [(ngModel)]="regProfileInfo.pur_mgr_id" placeholder="Enter Purchase Manager Name"
                    #purManName="ngModel" required>
                </div>
                <div [hidden]="purManName.valid ||  purManName.untouched" class="validation_msg">
                  Purchase Manager Name Required
                </div>
              </div>
            </div>
          </div>

          <br>

          <div class="form-group row pad_t_b_10">
            <div class="col-sm-12">
              <div class="col-sm-12">
                <div class="pull-left">
                  <button type="submit" class="btn btn-primary brdr_radius_50 btn_w bg_red border_red">
                    <i class="fa fa-long-arrow-left" aria-hidden="true"></i> cancel</button>
                </div>
                <div class="pull-right">
                  <button type="submit" class="btn btn-primary brdr_radius_50 btn_w bg_green border_green" (click)="masterCompanySubmit()">Submit
                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- </fieldset> -->
        </form>
      </div>
    </div>
  </div>
  <ngx-spinner class="loader_spinner"></ngx-spinner>
</div>