.txt_center{
    text-align: center;
}
.marg_l_r_10{
    margin: 0 10px;
}
fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

    legend.scheduler-border {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width:auto;
        padding:0 10px;
        border-bottom:none;
    }

    .bussinesInfo{
        background: #0fa497;
        margin-bottom: 0;
        padding: 10px;
        color: #fff !important;
    }    


    