<!--login new start here -->
<div class="viewmore_modal_content">
  <ngx-smart-modal identifier="viewmoreModal" #viewmoreModal>
    <div class="modal-header view_header">
      <h4>VIEW DETAILS</h4>
    </div>
    <div class="modal-body view_body" *ngIf="viewmoreModal.hasData()">
      <div class="row" *ngIf="viewmoreModal.getData(); let data">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">

          <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
              <p class="view_headings" *ngIf="data.user_id!='' && data.user_id!=undefined">User ID</p>
              <p class="view_headings" *ngIf="data.user_type!='' && data.user_type!=undefined">User Type</p>
              <p class="view_headings" *ngIf="data.salatation!='' && data.salatation!=undefined">Salatation</p>
              <p class="view_headings" *ngIf="data.first_name!='' && data.first_name!=undefined">First Name</p>
              <p class="view_headings" *ngIf="data.last_name!='' && data.last_name!=undefined">Last Name</p>
              <p class="view_headings" *ngIf="data.business_name!='' && data.business_name!=undefined">Firm/Shop Name</p>
              <p class="view_headings" *ngIf="data.email!='' && data.email!=undefined">Email </p>
              <p class="view_headings" *ngIf="data.mobile!='' && data.mobile!=undefined">Mobile</p>
              <p class="view_headings" *ngIf="data.off_email!='' && data.off_email!=undefined">Office Email</p>
              <p class="view_headings" *ngIf="data.off_mobile!='' && data.off_mobile!=undefined">Office No</p>
              <p class="view_headings" *ngIf="data.pan!='' && data.pan!=undefined">PAN</p>
              <p class="view_headings" *ngIf="data.gst!='' && data.gst!=undefined">GST IN</p>
              <p class="view_headings" *ngIf="data.address1!='' && data.address1!=undefined">Address1</p>
              <p class="view_headings" *ngIf="data.address2!='' && data.address2!=undefined">Address2</p>
            </div>
            <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
              <p class="mar_b_15" *ngIf="data.user_id!='' && data.user_id!=undefined">
                <span class="pad_r_15">: </span>
                <span class="view_key">{{data.user_id}}</span>
              </p>
              <p class="mar_b_15" *ngIf="data.user_type!='' && data.user_type!=undefined">
                <span class="pad_r_15">: </span>
                <span class="view_key">{{data.user_type}}</span>
              </p>
              <p class="mar_b_15" *ngIf="data.salatation!='' && data.salatation!=undefined">
                <span class="pad_r_15">: </span>
                <span class="view_key">{{data.salatation}}</span>
              </p>
              <p class="mar_b_15" *ngIf="data.first_name!='' && data.first_name!=undefined">
                <span class="pad_r_15">: </span>
                <span class="view_key">{{data.first_name}}</span>
              </p>
              <p class="mar_b_15" *ngIf="data.last_name!='' && data.last_name!=undefined">
                <span class="pad_r_15">: </span>
                <span class="view_key">{{data.last_name}}</span>
              </p>
              <p class="mar_b_15" *ngIf="data.business_name!='' && data.business_name!=undefined">
                <span class="pad_r_15">: </span>
                <span class="view_key">{{data.business_name}}</span>
              </p>
              <p class="mar_b_15" *ngIf="data.email!='' && data.email!=undefined">
                <span class="pad_r_15">: </span>
                <span class="view_key">{{data.email}}</span>
              </p>
              <p class="mar_b_15" *ngIf="data.mobile!='' && data.mobile!=undefined">
                <span class="pad_r_15">: </span>
                <span class="view_key">{{data.mobile}}</span>
              </p>
              <p class="mar_b_15" *ngIf="data.off_email!='' && data.off_email!=undefined">
                <span class="pad_r_15">: </span>
                <span class="view_key">{{data.off_email}}</span>
              </p>
              <p class="mar_b_15" *ngIf="data.off_mobile!='' && data.off_mobile!=undefined">
                <span class="pad_r_15">: </span>
                <span class="view_key">{{data.off_mobile}}</span>
              </p>
              <p class="mar_b_15" *ngIf="data.pan!='' && data.pan!=undefined">
                <span class="pad_r_15">: </span>
                <span class="view_key">{{data.pan}}</span>
              </p>
              <p class="mar_b_15" *ngIf="data.gst!='' && data.gst!=undefined">
                <span class="pad_r_15">: </span>
                <span class="view_key">{{data.gst}}</span>
              </p>
              <p class="mar_b_15" *ngIf="data.address1!='' && data.address1!=undefined">
                <span class="pad_r_15">: </span>
                <span class="view_key">{{data.address1}}</span>
              </p>
              <p class="mar_b_15" *ngIf="data.address2!='' && data.address2!=undefined">
                <span class="pad_r_15">: </span>
                <span class="view_key">{{data.address2}}</span>
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
              <p class="view_headings" *ngIf="data.zone!='' && data.zone!=undefined">Zone</p>
              <p class="view_headings" *ngIf="data.country!='' && data.country!=undefined">Country</p>
              <p class="view_headings" *ngIf="data.state!='' && data.state!=undefined">State</p>
              <p class="view_headings" *ngIf="data.city!='' && data.city!=undefined">City</p>
              <p class="view_headings" *ngIf="data.pin!='' && data.pin!=undefined">Pincode</p>
              <p class="view_headings" *ngIf="data.business_code!='' && data.business_code!=undefined">Bussiness Code</p>
              <p class="view_headings" *ngIf="data.business_name!='' && data.business_name!=undefined">Bussiness Name</p>
              <p class="view_headings" *ngIf="data.category_profile!='' && data.category_profile!=undefined">Category Profile</p>
              <p class="view_headings" *ngIf="data.company_code!='' && data.company_code!=undefined">Company Code</p>
              <p class="view_headings" *ngIf="data.created_date!='' && data.created_date!=undefined">Created Date</p>
              <p class="view_headings" *ngIf="data.createdby!='' && data.createdby!=undefined">Created By</p>
              <p class="view_headings" *ngIf="data.designation!='' && data.designation!=undefined">Designation</p>
              <p class="view_headings" *ngIf="data.status!='' && data.status!=undefined">Status</p>
              <p class="view_headings" *ngIf="data.turnover!='' && data.turnover!=undefined">Turn Over</p>
            </div>
            <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
              <p class="mar_b_15" *ngIf="data.zone!='' && data.zone!=undefined">
                <span class="pad_r_15">: </span>
                <span class="view_key">{{data.zone}}</span>
              </p>
              <p class="mar_b_15" *ngIf="data.country!='' && data.country!=undefined">
                <span class="pad_r_15" >: </span>
                <span class="view_key">{{data.country}}</span>
              </p>
              <p class="mar_b_15" *ngIf="data.state!='' && data.state!=undefined">
                <span class="pad_r_15" >: </span>
                <span class="view_key">{{data.state}}</span>
              </p>
              <p class="mar_b_15" *ngIf="data.city!='' && data.city!=undefined">
                <span class="pad_r_15">: </span>
                <span class="view_key">{{data.city}}</span>
              </p>
              <p class="mar_b_15" *ngIf="data.pin!='' && data.pin!=undefined">
                <span class="pad_r_15">: </span>
                <span class="view_key">{{data.pin}}</span>
              </p>
              <p class="mar_b_15" *ngIf="data.business_code!='' && data.business_code!=undefined">
                <span class="pad_r_15">: </span>
                <span class="view_key">{{data.business_code}}</span>
              </p>
              <p class="mar_b_15" *ngIf="data.business_name!='' && data.business_name!=undefined">
                <span class="pad_r_15">: </span>
                <span class="view_key">{{data.business_name}}</span>
              </p>
              <p class="mar_b_15" *ngIf="data.category_profile!='' && data.category_profile!=undefined">
                <span class="pad_r_15">: </span>
                <span class="view_key">{{data.category_profile}}</span>
              </p>
              <p class="mar_b_15" *ngIf="data.company_code!='' && data.company_code!=undefined">
                <span class="pad_r_15">: </span>
                <span class="view_key">{{data.company_code}}</span>
              </p>
              <p class="mar_b_15" *ngIf="data.created_date!='' && data.created_date!=undefined">
                <span class="pad_r_15" >: </span>
                <span class="view_key">{{data.created_date}}</span>
              </p>
              <p class="mar_b_15" *ngIf="data.createdby!='' && data.createdby!=undefined">
                <span class="pad_r_15">: </span>
                <span class="view_key">{{data.createdby}}</span>
              </p>
              <p class="mar_b_15" *ngIf="data.designation!='' && data.designation!=undefined">
                <span class="pad_r_15">: </span>
                <span class="view_key">{{data.designation}}</span>
              </p>
              <p class="mar_b_15" *ngIf="data.status!='' && data.status!=undefined">
                <span class="pad_r_15">: </span>
                <span class="view_key">{{data.status}}</span>
              </p>
              <p class="mar_b_15" *ngIf="data.turnover!='' && data.turnover!=undefined">
                <span class="pad_r_15">: </span>
                <span class="view_key">{{data.turnover}}</span>
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </ngx-smart-modal>
</div>
<!-- login new end here -->