<div class="container">
    <br><br><br><br><br><br><br><br>
 
  <div>
    <form ngNoForm action="https://secure.payu.in/_payment" method="post">
      <input type="hidden" name="key" value="{{ test.key }}" />
      <input type="hidden" name="hash" value="{{ hash }}" />
      <input type="hidden" name="txnid" value="{{ test.txnid }}" />
      <input type="hidden" name="amount" value="{{ test.amount }}" />
      <input type="hidden" name="email" value="{{ test.email }}" />
      <input type="hidden" name="firstname" value="{{ test.firstname }}" />
      <input type="hidden" name="phone" value="{{ test.phone }}" />
      <input type="hidden" name="productinfo" value="{{ test.productinfo }}" />
      <input type="hidden" name="surl" value="http://localhost:4200/home" />
      <input type="hidden" name="furl" value="http://localhost:4200/viewcart" />
      <input type="hidden" name="curl" value="http://localhost:4200/viewcart" />


      <br><br><br><br><br><br><br><br>
      <div class="form-group">
          <div class="col-md-12 col-sm-12">
            hash : {{hash}}
          </div>
        </div>
     
      <div class="form-group">
        <div class="col-md-12 col-sm-12">
          Amount : {{test.amount}}
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-12 col-sm-12">
          Purpose : {{test.productinfo}}
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-12 col-sm-12">
          Name : {{test.firstname}}
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-12 col-sm-12">
          Email : {{test.email}}
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-12 col-sm-12">
          Mobile : {{test.phone}}
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-12 col-sm-12">
          Transaction ID : {{test.txnid}}
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-12 col-sm-12" style="padding-bottom:20px;padding-top:20px;">
          After clicking 'Pay Now' button, you will be redirected to PayUMoney Secure Gateway.
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-12 col-sm-12">
          <input type="submit" class="btn btn-success btn-sm" value="Pay Now">
        </div>
      </div>
    </form>
  </div>
</div>