<div class="container pad_t_5per pad_b_5per">
  <p class="bread-crumb1">
    <span><a href="javascript.void(0)" routerLink="/dashboard" style="color: #878787 !important;">Dashboard</a>
    </span>&nbsp;>&nbsp;
    <span>Dealer Status</span>
  </p>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
      <h3 class="shopee_name">
        <span>{{loginUserData.content}}</span>
      </h3>
    </div>
  </div>

  <div class="row" style="margin:0px;box-shadow: 1px 1px 1px 1px lightgray;border-top-left-radius: 20px;border-top-right-radius: 20px;">
    <div class="row bg-theme dash_status" style="margin:0px">
      <div class="col-md-3 status_align"><a href="javascript:void(0)" [ngClass]="{'active_tab':POhidden == true}"
          (click)="po()">Placed Orders</a></div>
      <div class="col-md-3 status_align"><a href="javascript:void(0)" [ngClass]="{'active_tab':DOhidden == true}"
          (click)="do()">Delivered Orders</a></div>
      <div class="col-md-3 status_align"><a href="javascript:void(0)" [ngClass]="{'active_tab':PENhidden == true}"
          (click)="grn()">Pending Orders</a></div>
      <div class="col-md-3 status_align"><a href="javascript:void(0)" [ngClass]="{'active_tab':GRNhidden == true}"
          (click)="grn()">Generated GRN'S</a></div>
    </div>

    <div style="padding:20px">
      <div *ngIf="POhidden">
        <div class="row" style="margin:0px">
          <div>
            <div>
              <div class="row" style="padding: 10px;">

                <div>
                  
                  <div class="row" style="padding: 0 24px;margin-left: 0px;margin-right: 0px;background: #0fa497;">
                    <div class="col-md-2 text-center">
                      <h4 style="color:#ffff !important">Srl. No</h4>
                    </div>
                    <div class="col-md-2 text-center">
                      <h4 style="color:#ffff !important">Order No</h4>
                    </div>
                    <div class="col-md-2  text-center">
                      <h4 style="color:#ffff !important">Ordered On</h4>
                    </div>
                    <div class="col-md-2  text-center">
                      <h4 style="color:#ffff !important">Product Line</h4>
                    </div>
                    <div class="col-md-2  text-center">
                      <h4 style="color:#ffff !important">Ordered Total</h4>
                    </div>
                    <div class="col-md-2  text-center">
                      <h4 style="color:#ffff !important">Company Name</h4>
                    </div>
                  </div>

                  <mat-accordion *ngFor="let p of orders | filter:searchText| paginate: { itemsPerPage: 10, currentPage: page }; let i=index">

                    <div *ngIf="check_status(p.detail)">
                      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            <div class="col-md-2  text-center">
                              <p class="txt_black" style="
                                  margin-bottom: 0px;
                              "><span>&nbsp;&nbsp;{{10*(page-1)+(i+1)}}</span></p>
                            </div>
                            <div class="col-md-2  text-center">
                              <p class="txt_black" style="
                        margin-bottom: 0px;
                    "><span>&nbsp;&nbsp;{{p.po_no
                                  }}</span></p>
                            </div>
                            <div class="col-md-2  text-center">
                              <p class="txt_black" style="
                        margin-bottom: 0px;
                    "><span>&nbsp;&nbsp;{{p.po_date
                                  | date:'mediumDate'}}</span></p>
                            </div>
                            <div class="col-md-2  text-center">
                              <p class="txt_black" style="
                        margin-bottom: 0px;
                    "><span>&nbsp;&nbsp;{{p.detail.length}}</span></p>
                            </div>
                            <div class="col-md-2 text-center">
                              <p class="txt_black" style="margin-bottom: 0px;"><span style="position: absolute;right: 30%;">&#8377;
                                  {{p.amount}}</span></p>
                            </div>
                            <div class="col-md-2  text-center">
                              <p class="txt_black" style="
                        margin-bottom: 0px;
                    "><span>&nbsp;&nbsp;{{p.company_name
                                  }}</span></p>
                            </div>
                          </mat-panel-title>


                        </mat-expansion-panel-header>
                        <h4>Order Details:</h4>

                        <div style="max-height: 380px;overflow: auto;">
                          <table class="table">
                            <thead>
                              <tr>
                                <th>S.No</th>
                                <th>Product </th>
                                <th>Product Description</th>
                                <th>Price</th>
                                <th>Qty</th>
                                <th>Net Amount</th>
                                <th>GST</th>
                                <th>Total Amount</th>
                                <th>Status</th>

                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let pd of p.detail ; let i=index;">
                                <td>{{i + 1}} </td>

                                <td style="width:10%;">
                                  <div><img src="{{pd.image}}" onError="this.src='https://i5.walmartimages.com/asr/f752abb3-1b49-4f99-b68a-7c4d77b45b40_1.39d6c524f6033c7c58bd073db1b99786.jpeg';"
                                      class="img-thumbnail" style="width:70%;height: 30px;"></div>
                                </td>
                                <td>
                                  <h4 style="margin-top:0px; font-size: 13px !important;">{{pd.name}}</h4>
                                </td>
                                <td>
                                  <div style="margin:0px;"> <span class="f_wt_600">{{pd.net_price}}</span></div>
                                </td>
                                <td>
                                  <div>
                                    <p><span class=" f_wt_600">{{pd.qty }}</span></p>
                                  </div>
                                </td>
                                <td>
                                  <div>
                                    <p style="margin-bottom: 0px"><span class=" f_wt_600">{{pd.qty * pd.net_price}}</span></p>
                                    <p style="font-size:10px; color:#a5a4a4;margin-top: -8px;text-align:center;">(Excluding
                                      GST)</p>
                                  </div>
                                </td>
                                <td>
                                  <div>
                                    <p><span class=" f_wt_600">18% </span></p>
                                  </div>
                                </td>
                                <td>
                                  <div>

                                    <span class="f_wt_600">{{pd.tot_value}}</span>&nbsp;
                                    <p style="font-size:10px; color:#a5a4a4;margin-top: -8px;text-align:center;">(Including
                                      GST)</p>
                                  </div>
                                </td>
                                <td>
                                  <div>
                                    <p><span class=" f_wt_600">{{pd.status}} &nbsp; <button class="track_btn">Track</button></span></p>

                                  </div>

                                </td>
                              </tr>
                            </tbody>
                          </table>

                        </div>
                      </mat-expansion-panel>
                    </div>
                  </mat-accordion>
                  <div class="pull-left mar_t_30">
                    <pagination-controls (pageChange)="page = $event"></pagination-controls>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="DOhidden">

        <div class="row" style="margin:0px">
          <div>
            <div>
              <div class="row" style="padding: 10px;">

                <div class="col-md-12 mar_t_20">

                  <mat-accordion *ngFor="let p of orders | filter:searchText">
                    <!-- <div *ngIf="p.detail[0].status!=='Delivered'"> -->
                    <div *ngIf="check_status1(p.detail)">
                      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            <div class="col-md-2">
                              <p class="txt_black" style="
                        margin-bottom: 0px;
                    ">Order
                                No:<span class="f_wt_600">{{p.po_no }}</span></p>
                            </div>
                            <div class="col-md-3">
                              <p class="txt_black" style="
                        margin-bottom: 0px;
                    ">Ordered
                                On:<span class="f_wt_600">{{p.po_date | date:'mediumDate'}}</span></p>
                            </div>
                            <div class="col-md-3">
                              <p class="txt_black" style="
                        margin-bottom: 0px;
                    ">Product
                                Line:<span class="f_wt_600">{{p.detail.length}}</span></p>
                            </div>
                            <div class="col-md-3">
                              <p class="txt_black" style="
                        margin-bottom: 0px;
                    ">Ordered
                                Total:<span class="f_wt_600">&#8377; {{p.amount}}</span></p>
                            </div>

                          </mat-panel-title>
                          <!-- <mat-panel-description>
                          Currently I am {{panelOpenState ? 'open' : 'closed'}}
                        </mat-panel-description> -->
                        </mat-expansion-panel-header>
                        <h4>Order Details:</h4>

                        <div>
                          <table class="table">
                            <thead>
                              <tr>
                                <th>S.No</th>
                                <th>Product </th>
                                <th>Product Description</th>
                                <th>Price</th>
                                <th>Qty</th>
                                <th>Net Price</th>
                                <th>GST</th>
                                <th>Total Price</th>
                                <th>Status</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let pd of p.detail; let i=index;">
                                <td>{{i + 1}} </td>

                                <td style="width:10%;">
                                  <div><img src="{{pd.image}}" onError="this.src='https://i5.walmartimages.com/asr/f752abb3-1b49-4f99-b68a-7c4d77b45b40_1.39d6c524f6033c7c58bd073db1b99786.jpeg';"
                                      class="img-thumbnail" style="width:70%;height: 30px;"></div>
                                </td>
                                <td>
                                  <h4 style="margin-top:0px; font-size: 13px !important;">{{pd.name}}</h4>
                                </td>
                                <td>
                                  <div style="margin:0px;"> <span class="f_wt_600">{{pd.net_price}}</span></div>
                                </td>
                                <td>
                                  <div class="mar_b_10">
                                    <p><span class=" f_wt_600">{{pd.qty }}</span></p>
                                  </div>
                                </td>
                                <td>
                                  <div class="mar_b_10">
                                    <p style="margin-bottom: 0px"><span class=" f_wt_600">{{pd.qty * pd.net_price}}</span></p>
                                    <p style="font-size:10px; color:#a5a4a4;margin-top: -8px;text-align:center;">(Excluding
                                      GST)</p>
                                  </div>
                                </td>
                                <td>
                                  <div class="mar_b_10">
                                    <p><span class=" f_wt_600">18% </span></p>
                                  </div>
                                </td>
                                <td>
                                  <div class="mar_b_10">
                                    <span class=""></span>
                                    <span class="">&#8377;&nbsp;</span>
                                    <span class="f_wt_600">{{pd.tot_value}}</span>&nbsp;
                                    <p style="font-size:10px; color:#a5a4a4;margin-top: -8px;text-align:center;">(Including
                                      GST)</p>
                                  </div>
                                </td>
                                <td>
                                  <div class="mar_b_10">
                                    <p><span class=" f_wt_600">{{pd.status}} </span></p>
                                  </div>
                                  <button class="track_btn">Track</button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </mat-expansion-panel>
                    </div>
                  </mat-accordion>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="GRNhidden">
        <div class="row" style="margin:0px">
          <div>
            <div>
              <div class="row" style="padding: 10px;">

                <div>
                  
                  <div class="row" style="padding: 0 24px;margin-left: 0px;margin-right: 0px;background: #0fa497;">
                    <div class="col-md-2 text-center">
                      <h4 style="color:#ffff !important">Srl. No</h4>
                    </div>
                    <div class="col-md-2 text-center">
                      <h4 style="color:#ffff !important">GRN No</h4>
                    </div>
                    <div class="col-md-2  text-center">
                      <h4 style="color:#ffff !important">GRN Date</h4>
                    </div>
                    <div class="col-md-2  text-center">
                      <h4 style="color:#ffff !important">Product Line</h4>
                    </div>
                    <div class="col-md-2  text-center">
                      <h4 style="color:#ffff !important">Purchased From</h4>
                    </div>
                    <div class="col-md-2  text-center">
                      <h4 style="color:#ffff !important">Financial Year</h4>
                    </div>
                  </div>

                  <mat-accordion *ngFor="let g of grn_data | filter:searchText| paginate: { itemsPerPage: 10, currentPage: page }; let i=index">

                    <div *ngIf="check_status(g.detail)">
                      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            <div class="col-md-2  text-center">
                              <p class="txt_black" style="
                                  margin-bottom: 0px;
                              "><span>&nbsp;&nbsp;{{10*(page-1)+(i+1)}}</span></p>
                            </div>
                            <div class="col-md-2  text-center">
                              <p class="txt_black" style="
                        margin-bottom: 0px;
                    "><span>&nbsp;&nbsp;{{g.grn_no
                                  }}</span></p>
                            </div>
                            <div class="col-md-2  text-center">
                              <p class="txt_black" style="
                        margin-bottom: 0px;
                    "><span>&nbsp;&nbsp;{{g.grn_date
                                  | date:'mediumDate'}}</span></p>
                            </div>
                            <div class="col-md-2  text-center">
                              <p class="txt_black" style="
                        margin-bottom: 0px;
                    "><span>&nbsp;&nbsp;{{g.detail.length}}</span></p>
                            </div>
                            <div class="col-md-2 text-center">
                              <p class="txt_black" style="margin-bottom: 0px;"><span style="position: absolute;right: 30%;">
                                  {{g.purchase_from_company_code}}</span></p>
                            </div>
                            <div class="col-md-2  text-center">
                              <p class="txt_black" style="
                        margin-bottom: 0px;
                    "><span>&nbsp;&nbsp;{{g.financial_year
                                  }}</span></p>
                            </div>
                          </mat-panel-title>


                        </mat-expansion-panel-header>
                        <h4>Order Details:</h4>

                        <div style="max-height: 380px;overflow: auto;">
                          <table class="table">
                            <thead>
                              <tr>
                                <th>S.No</th>
                                <th>INV.No </th>
                                <th>Product Description</th>
                                <th>Price</th>
                                <th>Qty</th>
                                <th>Net Amount</th>
                                <th>GST</th>
                                <th>Total Amount</th>
                                

                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let pd of g.detail ; let i=index;">
                                <td>{{i + 1}} </td>

                                <td>
                                  <div style="margin:0px;"> <span class="f_wt_600">{{pd.inv_no}}</span></div>
                                </td>
                                <td>
                                  <h4 style="margin-top:0px; font-size: 13px !important;">{{pd.modelno}}</h4>
                                </td>
                                <td>
                                  <div style="margin:0px;"> <span class="f_wt_600">{{pd.net_price}}</span></div>
                                </td>
                                <td>
                                  <div>
                                    <p><span class=" f_wt_600">{{pd.receiving_qty }}</span></p>
                                  </div>
                                </td>
                                <td>
                                  <div>
                                    <p style="margin-bottom: 0px"><span class=" f_wt_600">{{pd.qty * pd.net_price}}</span></p>
                                    <p style="font-size:10px; color:#a5a4a4;margin-top: -8px;text-align:center;">(Excluding
                                      GST)</p>
                                  </div>
                                </td>
                                <td>
                                  <div>
                                    <p><span class=" f_wt_600">18% </span></p>
                                  </div>
                                </td>
                                <td>
                                  <div>

                                    <span class="f_wt_600">{{pd.tot_value}}</span>&nbsp;
                                    <p style="font-size:10px; color:#a5a4a4;margin-top: -8px;text-align:center;">(Including
                                      GST)</p>
                                  </div>
                                </td>
                                <!-- <td>
                                  <div>
                                    <p><span class=" f_wt_600">{{pd.status}} &nbsp; <button class="track_btn">Track</button></span></p>

                                  </div>

                                </td> -->
                              </tr>
                            </tbody>
                          </table>

                        </div>
                      </mat-expansion-panel>
                    </div>
                  </mat-accordion>
                  <div class="pull-left mar_t_30">
                    <pagination-controls (pageChange)="page = $event"></pagination-controls>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ngx-spinner class="loader_spinner"></ngx-spinner>
</div>