.prod_head {
    font-size: 15px !important;
}
.all_images_cat{
    width: 100%;
    height: auto;
}
.prod_head{
    height: 15px;
    font-size: 13px !important;
    letter-spacing: 1px;
    cursor: pointer;
    color: #525252 !important;
}
.prod_head:hover{
    color: #0fa497 !important;
}