<!-- <div style="margin-top:50px">
  <app-catg-menu></app-catg-menu>
</div> -->
<!-- <div class="container-fluid">
    <p class="bread-crumb"><span><a href="javascript.void(0)" routerLink="/home" style="
      color: #878787 !important;
  " >Home</a></span>&nbsp;>&nbsp;<span>{{category}}</span></p>
</div> -->
<div class="container" style="padding:30px 0px; margin-top:3%;">
  <p class="bread-crumb"><span><a href="javascript.void(0)" routerLink="/home" style="
      color: #878787 !important;
  ">Home</a></span>&nbsp;>&nbsp;<span>All
      Categories</span></p>
  <div class="row prod_catg" style="margin:0px;">
    <div class="col-md-2 col-sm-4 col-xs-6 text-center " style="padding:5px;" *ngFor="let p of resources;let i=index">
      <div class="img-thumbnail" (click)="selected_Cat(p.Category)">
        <div>
          <img  class="catg_img all_images_cat" src="../../assets/Product/{{p.Category}}.jpg" onError="this.src='https://i5.walmartimages.com/asr/f752abb3-1b49-4f99-b68a-7c4d77b45b40_1.39d6c524f6033c7c58bd073db1b99786.jpeg';"
            alt="{{p.subcategory}}" style="width:100%">
        </div>
        <h4 class="prod_head">{{p.Category}}</h4>
      </div>
    </div>
  </div>
  <!-- <div style="padding:20px;">
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div> -->

  <div>
    <!-- <p *ngFor="let p of resources2 | unique">
      {{p.subcategory}}- <img src="{{p.image}}" alt="{{p.subcategory}}">
    </p> -->
  </div>
  <ngx-spinner class="loader_spinner"></ngx-spinner>
</div>