.hr_line_botm{
    border-bottom: 1px dashed #37475a;
}
.company_address{
    font-weight: 700;
    font-size: 12px;
    padding-right: 5px;
    color: #232f3e;
    text-align: center;
}
.page_hdr{
    background: #0fa497;
    margin-top: -15px;
    padding: 10px;
    margin-bottom: 15px;
    text-align: center;
    color: #fff;
    font-weight: 600;
}   

.grn_header {
    p{
        margin:0px;
        font-size: 12px;
    }
}
.btn-primary {
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;
}

//alert styles start here
.alert_heading{
    background: #0da550;
    margin-top: 0;
    padding: 50px;
    text-align: center;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.alert_heading span{
    color:#fff;
}
.right_mark{
    background: #fff;
    width: 100px;
    height: 100px;
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 40%;
    top: 50px;
    box-shadow: 3px 5px 10px #ddd;
}
.right_mark i{
    font-size: 60px;
    color: #0da550;
}
.content_msg span{
    font-size: 18px;
    font-weight: 550;
}
.close{
    color: #fff !important;
     opacity: 0 !important;
    margin-top: -40px !important;
    margin-right: -30px !important;
}
.modal-content{
    border-radius: 15px !important;
}
