<div class="container pad_t_5per pad_b_5per">

  <div class="row " *ngIf="loginUserData.user_type=='Dealer'">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
      <h3 class="shopee_name">
        <span>{{loginUserData.content}}</span>
      </h3>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 mar_t_50 padd_t_b_79">
      <div class="col-sm-6 col-md-2 col-lg-2 col-xs-12 box" routerLink="/dealer-order">
        <div class="inner_box">
          <img src="./assets/dashboard_icons/orders.png" />
        </div>
        <span class="inner_text">Orders</span>
      </div>
      <div class="col-sm-6 col-md-2 col-lg-2 col-xs-12 box" routerLink="/pos">
        <div class="inner_box">
          <img src="./assets/dashboard_icons/redeem.png" />
        </div>
        <span class="inner_text">POS</span>
      </div>
      <div class="col-sm-6 col-md-2 col-lg-2 col-xs-12 box" routerLink="/grn">
        <div class="inner_box">
          <img src="./assets/dashboard_icons/sales.png" />
        </div>
        <span class="inner_text">GRN</span>
      </div>
      <div class="col-sm-6 col-md-2 col-lg-2 col-xs-12 box" routerLink="/dealer-status">
        <div class="inner_box">
          <img src="./assets/dashboard_icons/sales.png" />
        </div>
        <span class="inner_text">Status</span>
      </div>
      <!-- <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12 box" routerLink="/dealer-catg">
        <div class="inner_box">
          <img src="./assets/dashboard_icons/newproduct.png" />
        </div>
        <span class="inner_text">New Product</span>
      </div> -->
      <!-- <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12 box">
        <div class="inner_box">
          <img src="./assets/dashboard_icons/reviews.png" />
        </div>
        <span class="inner_text">Reviews</span>
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12 box">
        <div class="inner_box">
          <img src="./assets/dashboard_icons/newproduct.png" />
        </div>
        <span class="inner_text">New Product</span>
      </div> -->
    </div>
  </div>

  <div class="row" *ngIf="loginUserData.user_type=='Admin'">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
      <h3 class="shopee_name">
        <span>{{loginUserData.content}}</span>
      </h3>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 mar_t_50 padd_t_b_79">
      <div class="col-sm-6 col-md-2 col-lg-2 col-xs-12 box" routerLink="/users">
        <div class="inner_box">
          <img src="./assets/dashboard_icons/users1.png" />
        </div>
        <span class="inner_text">Users</span>
      </div>
      <div class="col-sm-6 col-md-2 col-lg-2 col-xs-12 box" routerLink="/internal-users">
        <div class="inner_box">
          <img src="./assets/dashboard_icons/internalusers1.png" />
        </div>
        <span class="inner_text">Internal Users</span>
      </div>
      <div class="col-sm-6 col-md-2 col-lg-2 col-xs-12 box" routerLink="/masters-company">
        <div class="inner_box">
          <img src="./assets/dashboard_icons/companymaster1.png" />
        </div>
        <span class="inner_text">Company Master</span>
      </div>
      <div class="col-sm-6 col-md-2 col-lg-2 col-xs-12 box" routerLink="/master-data-upload">
        <div class="inner_box">
          <img src="./assets/dashboard_icons/productmaster1.png" />
        </div>
        <span class="inner_text">Product Master</span>
      </div>
      <div class="col-sm-6 col-md-2 col-lg-2 col-xs-12 box" routerLink="/active-users">
        <div class="inner_box">
          <img src="./assets/dashboard_icons/activeusers1.png" />
        </div>
        <span class="inner_text">Active Users</span>
      </div>
      <div class="col-sm-6 col-md-2 col-lg-2 col-xs-12 box" routerLink="/user-review">
        <div class="inner_box">
          <img src="./assets/dashboard_icons/activeusers1.png" />
        </div>
        <span class="inner_text">User Reviews</span>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="loginUserData.designation=='Warehouse Manager'">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
      <h3 class="shopee_name">
        <span>{{loginUserData.content}}</span>
      </h3>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 mar_t_50 padd_t_b_79">
      <div class="col-sm-6 col-md-2 col-lg-2 col-xs-12 box" routerLink="/purchase-orders-list">
        <div class="inner_box">
          <img src="./assets/dashboard_icons/report1.png" />
        </div>
        <span class="inner_text">Proforma / PackingList</span>
      </div>
      <div class="col-sm-6 col-md-2 col-lg-2 col-xs-12 box" routerLink="/challan-list">
        <div class="inner_box">
          <img src="./assets/dashboard_icons/report1.png" />
        </div>
        <span class="inner_text">Challan</span>
      </div>
      <div class="col-sm-6 col-md-2 col-lg-2 col-xs-12 box" routerLink="/wh-status">
        <div class="inner_box">
          <img src="./assets/dashboard_icons/report1.png" />
        </div>
        <span class="inner_text">Status</span>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12 box" routerLink="/wh-stock">
        <div class="inner_box">
          <img src="./assets/dashboard_icons/report1.png" />
        </div>
        <span class="inner_text">Stock</span>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12 box" routerLink="/wh-reports">
        <div class="inner_box">
          <img src="./assets/dashboard_icons/report1.png" />
        </div>
        <span class="inner_text">Reports</span>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="loginUserData.designation=='Accounts Manager'">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
      <h3 class="shopee_name">
        <span>{{loginUserData.content}}</span>
      </h3>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 mar_t_50 padd_t_b_79">

      <div class="col-sm-6 col-md-2 col-lg-2 col-xs-12 box" routerLink="/profomaList">
        <div class="inner_box">
          <img src="./assets/dashboard_icons/report1.png" />
        </div>
        <span class="inner_text">Invoice</span>
      </div>
      <div class="col-sm-6 col-md-2 col-lg-2 col-xs-12 box" routerLink="/accounts-status">
        <div class="inner_box">
          <img src="./assets/dashboard_icons/report1.png" />
        </div>
        <span class="inner_text">Status</span>
      </div>
      <!-- <div class="col-sm-6 col-md-2 col-lg-2 col-xs-12 box" routerLink="/challan-list">
          <div class="inner_box">
            <img src="./assets/dashboard_icons/report1.png" />
          </div>
          <span class="inner_text">Challan</span>
        </div> -->
    </div>
  </div>

  <div class="row" *ngIf="loginUserData.designation=='Purchase Manager'">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
      <h3 class="shopee_name">
        <span>{{loginUserData.content}}</span>
      </h3>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 mar_t_50 padd_t_b_79">
      <div class="col-sm-6 col-md-2 col-lg-2 col-xs-12 box" routerLink="/product-manager-PO">
        <div class="inner_box">
          <img src="./assets/dashboard_icons/report1.png" />
        </div>
        <span class="inner_text">Import PO</span>
      </div>
      <div class="col-sm-6 col-md-2 col-lg-2 col-xs-12 box" routerLink="/product-manager-Invoice">
        <div class="inner_box">
          <img src="./assets/dashboard_icons/report1.png" />
        </div>
        <span class="inner_text">Import Invoice</span>
      </div>
      <div class="col-sm-6 col-md-2 col-lg-2 col-xs-12 box" routerLink="/product-manager-GRN">
        <div class="inner_box">
          <img src="./assets/dashboard_icons/report1.png" />
        </div>
        <span class="inner_text">Import GRN</span>
      </div>
      <div class="col-sm-6 col-md-2 col-lg-2 col-xs-12 box" routerLink="/product-manager-Status">
        <div class="inner_box">
          <img src="./assets/dashboard_icons/report1.png" />
        </div>
        <span class="inner_text">Status</span>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="loginUserData.designation=='Pos cleark'">
    <div class="col-md-12">
      <h3 class="shopee_name">
        <span>{{loginUserData.content}}</span>
      </h3>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 mar_t_50 padd_t_b_79">
      <div class="col-sm-3 col-md-2 col-lg-3 col-xs-12 box" routerLink="/pos">
        <div class="inner_box">
          <img src="./assets/dashboard_icons/report1.png" />
        </div>
        <span class="inner_text">POS</span>
      </div>

    </div>
  </div>


  <ngx-spinner class="loader_spinner"></ngx-spinner>

</div>