


//new box style
.box{
    background: #fff !important;
    box-shadow: 0px 0px 12px #a2a1a1;
    margin-right: 34px;
    // width: 17%;
    height: 130px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    margin-bottom: 50px;
}
.inner_box img{ 
    width: 40%;
    position: absolute;
    border-radius: 5px;
    margin-top: -30px;
}
.inner_text{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #757575;
    bottom: 0;
    text-align: center;
    margin-bottom: 20px;
    position: absolute;
}

.box_20{
width: 20%;
float: left;
padding-left: 15px;
padding-right: 15px;
    img {
        width: 100%
    }
}

.padd_t_b_79{
    padding: 79px 0;
}
.padd_t_b_20{
    padding: 20px 0;
}
.h_d{
    font-weight: 600;
    font-size: 20px;
    color: #056b5f;
}




/* mobile styles start here */
@media screen and (min-width: 320px) and (max-width: 480px){
    .padd_t_b_79{
        padding: 0px 20px;
    }
    .inner_box img {
        width: 25%;
    }
    .shopee_name {
        font-size: 20px;
        // margin-top: 50px;
    }
  }

/* tablets styles start here */
@media screen and (min-width: 481px) and (max-width: 767px){
    .padd_t_b_79{
        padding: 0px 20px;
    }
    .inner_box img {
        width: 15%;
    }
    .shopee_name {
        font-size: 20px;
        // margin-top: 50px;
    }
  }

/* desktops styles start here */
@media screen and (min-width: 768px) and (max-width: 991px){
    .box{
        margin-right: 0px;
    }
    .inner_box img {
        width: 25%;
    }
  }

  /* desktops styles start here */
@media screen and (min-width: 992px) and (max-width: 1023px){
   
  }

    /* lg-desktops styles start here */
@media screen and (min-width: 1024px) and (max-width: 1200px){
   
  }