.nav-tabs {
    border-bottom: 2px solid #0fa497;
    background: #0fa497;
    }
    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:focus,
    .nav-tabs > li.active > a:hover {
      border-width: 0;
    }
    .nav-tabs > li > a {
      border: none;
      color: #fff;
    }
    .nav-tabs > li {
      float: left;
      margin-bottom: -3px;
    }
    .nav-tabs > li.active > a,
    .nav-tabs > li > a {
      margin-top: 10px;
      margin-left: 10px;
    }
    .nav-tabs > li.active > a,
    .nav-tabs > li > a:hover {
      border: none;
      color: #0da550 !important;
      background: #fff;
    }
    
    .nav-tabs > li > a::after {
      content: "";
      height: 2px;
      position: absolute;
      width: 100%;
      left: 0px;
      bottom: -1px;
      transition: all 250ms ease 0s;
      transform: scale(0);
    }
    .nav-tabs > li.active > a::after,
    .nav-tabs > li:hover > a::after {
      transform: scale(1);
    }
    .tab-nav > li > a::after {
      background: #21527d none repeat scroll 0% 0%;
      color: #fff;
    }
    .tab-pane {
      padding: 15px 0;
    }
    .tab-content {
      padding: 20px
    }
    .card {
      background: #FFF none repeat scroll 0% 0%;
      box-shadow: none;
      margin-bottom: 30px;
    }

    //login tab styles start here...
    .signup [type='text'] {
        border: 0;
        border-radius: 3px;
        height: 30px;
        width: 35%;
        color: #232f3e;
        border-bottom: 1px solid #0fb475;
    }
    .signup [type='password'] {
        border: 0;
        border-radius: 3px;
        height: 30px;
        width: 35%;
        color: #232f3e;
        border-bottom: 1px solid #0fb475;
    }

    //order summery tab styles start here...
    button.qty-change{
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background: #fff;
        border: 1px solid #0fa497;
    }
    .qty-input{
        height: 30px;
        width: 80px;
        text-align: center;
    }
    .qty-align{
        padding-right: 32px;
        border: none;
        padding-top: 10px;
    }
    .delivery-txt-color{
        color: #0fa497;
        font-weight: 600 !important;
    }
    .border_styles{
        border-bottom: 3px solid #e8e6e6;
        padding: 30px 0 20px 0;
        box-shadow: 3px 3px 8px #e8e6e6;
    }
    .pad_l_40{
        padding-left: 40px !important;
    }
    .mar_b_40{
        margin-bottom: 40px;
    }
    .product_image{
        width: 100%;
    }

    //address styles start here...
    // .pad_t_r_l_b{
    //     padding: 7px 20px;
    // }
    .address_data{
      color: #545151;
      font-size: 14px;
    }

    //payment options start here...
    .custom-radios div {
        display: inline-block;
      }
      .custom-radios input[type="radio"] {
        display: none;
      }
      .custom-radios input[type="radio"] + label {
        color: #333;
        font-family: Arial, sans-serif;
        font-size: 23px;
      }
      .custom-radios input[type="radio"] + label span {
        display: inline-block;
        width: 30px;
        height: 30px;
        margin: 0px 10px 0 0;
        vertical-align: middle;
        cursor: pointer;
        border-radius: 50%;
        border: 2px solid #FFFFFF;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
        line-height: 44px;
      }
      .custom-radios input[type="radio"] + label span img {
        opacity: 0;
        transition: all .3s ease;
      }
      .custom-radios input[type="radio"]#color-1 + label span {
        background-color: #0da550;
      }
      .custom-radios input[type="radio"]#color-2 + label span {
        background-color: #0da550;
      }
      .custom-radios input[type="radio"]:checked + label span {
        opacity: 1;
        background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg) center center no-repeat;
        width: 30px;
        height: 30px;
        display: inline-block;
      }
      .radio_text{
        color: #525151;
        font-size: 14px;
        font-weight: 600;
      }
     