<div class="container pad_t_5per">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <ngx-tabset>
          <ngx-tab tabTitle="Login"  [disabled]="!showLogin" [active]="showLogin">
            <div class="signup pad_15">
              <form #loginForm="ngForm">
                <div class="">
                  <div class="">
                    <div class="username txt_center">
                      <input type="text" required class="" id="userId" placeholder="Enter Email / Mobile" name="userId">
                    </div>
                  </div>

                  <div class="mar_t_20">
                    <div class="user-login1111 txt_center">
                      <input type="password" required class="" id="password" placeholder="Enter Password" name="password">
                    </div>
                  </div>
                  <hr>
                  <div class="pull-right">
                    <button type="submit" class="btn btn-primary brdr_radius_50 btn_w bg_green border_green">Continue
                      <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>

          </ngx-tab>

          <ngx-tab tabTitle="Delivery Address"  [disabled]="!showAddress" [active]="showAddress">
            <div class="row pad_l_r_10">
              <div class="col-md-12">

                <div class="existedAddress" *ngIf="!newAddress && !guestAddress">
                  
                  <form #addForm="ngForm">
                    <div class="custom-radios">
                      <div class="fr">
                        <b>
                          <a href="javascript:void(0)" class="txt_greeen" (click)="addNewAdd()">Edit</a>
                        </b>
                      </div>
                      <div class="pad_b_30" style="display: flex;">
                        <input type="radio" required id="color-1" name="color" value="color-1" [(ngModel)]="checkout.selectAdd">
                        <label for="color-1">
                          <span></span>
                        </label>
                        <div class="pad_l_30">
                          <p>
                            <span>
                              <b>8978041215</b>
                            </span>
                          </p>
                          <p>
                            <span class="address_data">2/85A</span>,
                            <span class="address_data">Kothapudi</span>,
                            <span class="address_data">Machilipatnam</span>,
                            <span class="address_data">andhra pradesh</span> -
                            <span>
                              <b>521002</b>
                            </span>
                          </p>
                        </div>
                      </div>
                    </div>
                  </form>

                  <hr>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="fl">
                        <button type="submit" class="btn btn-primary brdr_radius_50 btn_w bg_green border_green"
                          (click)="addNewAdd()">
                          <i class="fa fa-map-marker" aria-hidden="true"></i> Add New Address
                        </button>
                      </div>
                      <div class="fr">
                        <button type="submit" [disabled]="addForm.invalid" (click)="gotoOrderSummary()" class="btn btn-primary brdr_radius_50 btn_w bg_green border_green">Continue
                          <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="newAddress" *ngIf="newAddress && guestAddress">
                  <h4 class="f_wt_600 txt_decr_undl txt_black pad_t_b_10">New Address:</h4>
                  <form #newAddForm="ngForm">
                    <div class="form-group row">
                      <div class="">
                        <div class="col-sm-4">
                          <label for="name" class="">Full Name
                            <sub class="txt_red f_size_25">*</sub>
                          </label>
                          <div class="">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Enter Full Name">
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <label for="mobile" class="">Mobile No
                            <sub class="txt_red f_size_25">*</sub>
                          </label>
                          <div class="">
                            <input type="text" class="form-control" id="mobile" name="mobile" placeholder="Enter Mobile Number">
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <label for="hno" class="">House No
                            <sub class="txt_red f_size_25">*</sub>
                          </label>
                          <div class="">
                            <input type="text" class="form-control" id="hno" name="hno" placeholder="Enter House Number">
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="">
                        <div class="col-sm-3">
                          <label for="street" class="">Street
                            <sub class="txt_red f_size_25">*</sub>
                          </label>
                          <div class="">
                            <input type="text" class="form-control" id="street" name="street" placeholder="Enter Street Name">
                          </div>
                        </div>
                        <div class="col-sm-3">
                          <label class="">State
                            <sub class="txt_red f_size_25">*</sub>
                          </label>
                          <div class="">
                            <select class="form-control" name="state">
                              <option selected>--Select--</option>
                              <option>andhra</option>
                              <option>telangana</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-sm-3">
                          <label class="">City
                            <sub class="txt_red f_size_25">*</sub>
                          </label>
                          <div class="">
                            <select class="form-control" name="city">
                              <option selected>--Select--</option>
                              <option>machilipatnam</option>
                              <option>Hyderabad</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-sm-3">
                          <label for="pincode" class="">Pincode
                            <sub class="txt_red f_size_25">*</sub>
                          </label>
                          <div class="">
                            <input type="text" class="form-control" id="pincode" name="pincode" placeholder="Enter Pincode">
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                  <hr>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="fl">
                        <button type="submit" class="btn btn-primary brdr_radius_50 btn_w bg_green border_green"
                          (click)="cancelNewAdd()">
                          <i class="fa fa-long-arrow-left" aria-hidden="true"></i> Cancel
                        </button>
                      </div>
                      <div class="fr">
                        <button type="submit" [disabled]="newAddForm.invalid" class="btn btn-primary brdr_radius_50 btn_w bg_green border_green">Continue
                          <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        </button>
                      </div>
                    </div>
                  </div>

                </div>

              </div>
            </div>
          </ngx-tab>

          <ngx-tab tabTitle="Order Summery" [disabled]="!showOrderSummary" [active]="showOrderSummary">

            <div class="row border_styles">
              <div class="col-md-12">

                <div class="col-md-8">
                  <div class="col-md-2">
                    <img src="../assets/logo.png" class="product_image">
                  </div>

                  <div class="col-md-8 pad_l_40">
                    <div class="mar_b_10 prod_name">fdsfdg</div>
                    <div class="mar_b_10">
                      <span class="f_size_18">&#8377;&nbsp;</span>
                      <span class="actual_price">456546</span>&nbsp;
                      <span class="end_user_price">&#8377;&nbsp;565445</span> &nbsp;
                      <span class="offer_price">56% off</span>
                    </div>
                    <div class="mar_b_10">
                      <span class="remove_btn">REMOVE</span>
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="qty-changer">
                      <button class="qty-change">+</button>
                      <input class="qty-input form-group qty-align f_wt_700" type="number" />
                      <button class="qty-change" >-</button>
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="mar_b_10">
                    <span class="txt_gray f_wt_600">Price(
                      <span>(5</span> items):</span>
                    <span class="fr f_size_13 txt_black">45435</span>
                  </div>
                  <div class="mar_b_10">
                    <span class="txt_gray f_wt_600">Tax (%):</span>
                    <span class="fr f_size_13 txt_black">18</span>
                  </div>
                  <div>
                    <span class="txt_gray f_wt_600">Delivery Charges:</span>
                    <span class="fr f_size_13 txt_black">Free</span>
                  </div>
                  <hr>
                  <div class="mar_b_10">
                    <span class="txt_gray f_wt_600">Amount Payable:</span>
                    <span class="fr f_size_13 txt_black">25642556</span>
                  </div>
                </div>

              </div>
            </div>

            <div class="row pad_15">
              <div class="fr pad_t_15">
                <span class="grand_total">GRAND TOTAL : </span>
                <span class="grand_price">765756856</span>
                <button type="submit" (click)="gotoPayment()" class="btn btn-primary brdr_radius_50 btn_w bg_green border_green mar_l_100">Continue
                  <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                </button>
              </div>
            </div>

          </ngx-tab>
          <ngx-tab tabTitle="Payment Options"  [disabled]="!showPayments" [active]="showPayments">
            <div class="row">
              <div class="custom-radios">
                <div class="col-md-12">
                  <div class="col-md-6 txt_center">
                    <input type="radio" id="color-1" name="color" value="color-1" checked>
                    <label for="color-1">
                      <span></span>
                    </label>
                    <span class="radio_text">Cash On Delivery</span>
                  </div>

                  <div class="col-md-6 txt_center">
                    <input type="radio" id="color-2" name="color" value="color-2">
                    <label for="color-2">
                      <span></span>
                    </label>
                    <span class="radio_text">Online Payment</span>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <hr>
            <div class="row">
              <div class="col-md-12">
                <div class="fr">
                  <button type="submit" class="btn btn-primary brdr_radius_50 btn_w bg_green border_green">Continue
                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
          </ngx-tab>
        </ngx-tabset>
      </div>
    </div>
  </div>

</div>