<div class="pad_b_5per" [ngClass]="{'container pad_t_5per':styleId!=1}">
  <div class="row">

    <div class="total_forms">
      <div class="col-sm-12 first" *ngIf="reg1">
        <div class="reg_form">
          <div class="col-sm-3 mar_l_n15">
            <div class="left_side_div">
              <img src="" class="img-responsive img-center" style="background:url('./assets/logins_bg.png') no-repeat left bottom; background-size:cover; min-height:500px;" />
              <span class="txt_onImg" style="margin-left:0px;">Customer Registration</span>
              <img src="./assets/reg_img.png" class="img_onImg" />
            </div>
          </div>
          <div class="col-sm-9 mar_r_n15">
            <div class="rht_side_div pad_t_15">
              <form #registerForm="ngForm">

                <!-- <div class="form-group row">
                  <div class="">
                    <div class="col-sm-6">
                      <label></label>
                      <br/>
                      <label class="radio-inline">
                        <input type="radio" [(ngModel)]="registerModel.salatation" value="Mr" required name="salatation" #salatation="ngModel">Mr
                      </label>
                    </div>
                    <div class="col-sm-6">
                      <label></label>
                      <br/>
                      <label class="radio-inline">
                        <input type="radio" value="Mrs" [(ngModel)]="registerModel.salatation" required name="salatation" #salatation="ngModel">Mrs
                      </label>
                    </div>
                  </div>
                </div> -->

                <div class="form-group row">
                  <div class="">
                    <div class="col-sm-6">
                      <label for="firstname" class="firstname">First Name
                        <sub class="txt_red f_size_25">*</sub>
                      </label>
                      <div class="">
                        <input type="text" required class="form-control" id="firstname" [(ngModel)]="registerModel.first_name"
                          placeholder="Enter First Name" name="firstname" #firstname="ngModel" pattern="[a-zA-Z ]*"
                          minlength="3" maxlength="20">
                        <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)" class="validation_msg">
                          <p *ngIf="firstname.errors.required">First Name is required</p>
                          <p *ngIf="firstname.errors.pattern">Enter Valid First Name</p>
                          <p *ngIf="firstname.errors.minlength">name should be minimum 3 characters</p>
                          <p *ngIf="firstname.errors.maxlength">name should be maximum 20 characters</p>
                        </div>

                      </div>
                    </div>
                    <div class="col-sm-6">
                      <label for="lastname" class="lastname">Last Name
                        <sub class="txt_red f_size_25">*</sub>
                      </label>
                      <div class="">
                        <input type="text" required class="form-control" id="lastname" [(ngModel)]="registerModel.last_name"
                          placeholder="Enter Last Name" name="lastname" #lastname="ngModel" pattern="[a-zA-Z ]*"
                          minlength="3" maxlength="20">
                        <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)" class="validation_msg">
                          <p *ngIf="lastname.errors.required">Last Name is required</p>
                          <p *ngIf="lastname.errors.pattern">Enter Valid Last Name</p>
                          <p *ngIf="lastname.errors.minlength">It should not be below 3 letters</p>
                          <p *ngIf="lastname.errors.maxlength">name should be maximum 20 characters</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="">
                    <div class="col-sm-6">
                      <label for="email" class="col-form-label">Email Id
                        <sub class="txt_red f_size_25">*</sub>
                      </label>
                      <div class="">
                        <input type="email" required class="form-control" id="email" [(ngModel)]="registerModel.email"
                          (blur)="verifyUser(registerModel.email,'email')" placeholder="Enter Email Id" name="email"
                          #email="ngModel" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$">
                        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="validation_msg">
                          <p *ngIf="email.errors.required && !mailValidation">Email Id is required</p>
                          <p *ngIf="email.errors.pattern">Enter Valid Email Id</p>
                        </div>
                        <div *ngIf="mailValidation" class="validation_msg">Email Id already exist.</div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <label for="companyname" class="col-form-label">Mobile Number
                        <span class="txt_red f_size_12">
                          <span style="color:#0fa497;font-weight: 600;">(Exclude Country Code)</span>
                        </span>
                        <sub class="txt_red f_size_25">*</sub>
                      </label>
                      <div class="">
                        <input type="text" required class="form-control" id="mobile" [(ngModel)]="registerModel.mobile"
                          (blur)="verifyUser(registerModel.mobile,'mobile')" placeholder="Enter Mobile Number" name="mobile"
                          #mobile="ngModel" maxlength="10" pattern="^[6-9][0-9]{9}$">
                        <div *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)" class="validation_msg">
                          <p *ngIf="mobile.errors.required && !mobileValidation">Mobile Number is required</p>
                          <p *ngIf="mobile.errors.pattern">Enter Valid Mobile Number</p>
                        </div>
                        <div *ngIf="mobileValidation" class="validation_msg">Mobile Number already exist.</div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="">
                    <div class="col-sm-6">
                      <label class="" for="password">Password
                        <sub class="txt_red f_size_25">*</sub>
                      </label>
                      <div class="">
                        <input type="password" required class="form-control"  [(ngModel)]="registerModel.password"
                          placeholder="Enter password" name="password" #password="ngModel" minlength="6">
                        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="validation_msg">
                          <p *ngIf="password.errors.required"> password is required</p>
                          <p *ngIf="password.errors.minlength">password minlength is 6</p>
                          <!-- pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$" -->
                          <!-- <p *ngIf="password.errors.pattern">Minimum eight characters, at least one letter, one number and one special character</p> -->
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <label class="" for="cnfPassword">Confirm Password
                        <sub class="txt_red f_size_25">*</sub>
                      </label>
                      <div class="">
                        <input type="password" required class="form-control" [(ngModel)]="registerModel.cnfPassword"
                          placeholder="Enter Confirm Password" name="cnfPassword" #cnfPassword="ngModel" validateEqual="password">

                        <!-- <div *ngIf="cnfPassword.invalid && (cnfPassword.dirty || cnfPassword.touched)" class="validation_msg">
                          <p *ngIf="cnfPassword.errors.required"> Confirm Password is required</p> -->
                        <p class="validation_msg" *ngIf="registerModel.cnfPassword!=registerModel.password && (cnfPassword.dirty || cnfPassword.touched)">Password
                          and Confirm Password should match</p>
                        <!-- </div> -->

                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-sm-12">
                    <span class="theme_green f_size_13 f_wt_600 txt_green">I am Willing to join as a</span>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="">
                    <div class="col-sm-6">
                      <label for="association" class="col-form-label">User Role
                        <sub class="txt_red f_size_25">*</sub>
                      </label>
                      <div class="">
                        <select class='select-option form-control' [(ngModel)]="registerModel.user_type" required name="association"
                          #association="ngModel">
                          <option [ngValue]="undefined" disabled selected>--select--</option>
                          <option class='option' *ngFor="let usertype of response" [ngValue]="usertype.User_type">{{usertype.User_type}}</option>
                        </select>
                        <div [hidden]="association.valid ||  association.untouched" class="validation_msg">
                          User Role is required
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <label for="salatation" class="col-form-label">Gender
                        <sub class="txt_red f_size_25">*</sub>
                      </label>
                      <select class="select-option form-control" [(ngModel)]="registerModel.salatation" required name="salatation"
                        #salatation="ngModel">
                        <option [ngValue]="undefined" selected>--Select--</option>
                        <option value="Mr">Male</option>
                        <option value="Ms">Female</option>
                      </select>
                      <div [hidden]="salatation.valid ||  salatation.untouched" class="validation_msg">
                        Gender is required
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-sm-12">
                    <span class="txt_black">
                      <strong>Note : </strong>The Email Id / Mobile Number will be your name which will be used to
                      login.</span>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-sm-12">
                    <div class="pull-left">
                      <button type="submit" class="btn btn-primary brdr_radius_50 btn_w bg_red border_red" (click)="resetForm(registerForm)">
                        <i class="fa fa-refresh" aria-hidden="true"></i> Clear
                      </button>
                    </div>
                    <!-- [disabled]="registerForm.invalid" -->
                    <div class="pull-right">
                      <button type="submit" [disabled]="(mobileValidation || mailValidation) || !registerForm.valid"
                        class="btn btn-primary brdr_radius_50 btn_w bg_green border_green" (click)="gotoNext()">Next
                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12 second" *ngIf="dealerReg">
        <div class="reg_form">
          <div class="col-sm-3 mar_l_n15">
            <div class="left_side_div">
              <img src="" class="img-responsive img-center" style=" background:url('./assets/logins_bg.png') no-repeat left bottom; background-size:cover; min-height:650px;" />
              <span class="txt_onImg" style="margin-left: 50px;">{{association}}</span>
              <br>
              <span class="txt_onImg" style="padding-top: 40px;margin-left: 50px;">Registration</span>
              <img src="./assets/reg_img.png" class="img_onImg" style="margin-bottom:50px;" />
            </div>
          </div>
          <div class="col-sm-9 mar_r_n15">
            <div class="rht_side_div pad_t_15">
              <form #dealerRegForm="ngForm">

                <div class="form-group row">
                  <div class="">
                    <div class="col-sm-6" *ngIf="association=='Employee' || association=='Branch'">
                      <label for="designation" class="">Designation
                        <sub class="txt_red f_size_25">*</sub>
                      </label>
                      <div class="">
                        <select class='select-option form-control' required [(ngModel)]="userRegModel.designation" name="designation"
                          #designation="ngModel">
                          <option [ngValue]="undefined" disabled selected>--Select--</option>
                          <option class='option' *ngFor="let data of designationsList | async" [ngValue]="data.Designation">{{data.Designation}}</option>
                        </select>
                        <div [hidden]="designation.valid ||  designation.untouched" class="validation_msg">
                          Designation is required
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6" *ngIf="association=='Employee'|| association=='Branch'">
                      <label for="assignment" class="">Assigned To
                        <sub class="txt_red f_size_25">*</sub>
                      </label>
                      <div class="">
                        <select class='select-option form-control' required [(ngModel)]="userRegModel.company_code"
                          name="assignment" #assignment="ngModel">
                          <option [ngValue]="undefined" disabled selected>--Select--</option>
                          <option class='option' *ngFor="let company of comapnyCodesList | async" [ngValue]="company.company_code">{{company.companyname}}</option>
                        </select>
                        <div [hidden]="assignment.valid ||  assignment.untouched" class="validation_msg">
                          Designation is required
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="">
                    <div class="col-sm-6">
                      <label class="" for="shopAddress" *ngIf="association=='Employee' || association=='Branch' || association=='Vendor'">Address
                        1
                        <sub class="txt_red f_size_25">*</sub>
                      </label>
                      <label class="" for="shopAddress" *ngIf="association=='Customer'">Shipping Address 1
                        <sub class="txt_red f_size_25">*</sub>
                      </label>
                      <label class="" for="shopAddress" *ngIf="association=='Dealer'|| association=='Sub Dealer'">Shop
                        Address 1
                        <sub class="txt_red f_size_25">*</sub>
                      </label>
                      <label class="" for="shopAddress" *ngIf="association=='Supplier'">Corporate Address 1
                        <sub class="txt_red f_size_25">*</sub>
                      </label>
                      <div class="">
                        <textarea type="text" required class="form-control" id="shopAddress" [(ngModel)]="userRegModel.address1"
                          placeholder="Enter Address 1" name="shopAddress" #shopAddress="ngModel" minlength="3"
                          maxlength="50"></textarea>
                        <div *ngIf="shopAddress.invalid && (shopAddress.dirty || shopAddress.touched)" class="validation_msg">
                          <p *ngIf="shopAddress.errors.required">Address is required</p>
                          <p *ngIf="shopAddress.errors.minlength">Address should be minimum 3 characters</p>
                          <p *ngIf="shopAddress.errors.maxlength">Address should be maximum 50 characters</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <label class="" for="address2">Address 2
                        <!-- <sub class="txt_red f_size_25">*</sub> -->
                      </label>
                      <div class="">
                        <textarea type="text" class="form-control" id="address2" [(ngModel)]="userRegModel.address2"
                          placeholder="Enter Address 2" name="address2" #address2="ngModel" minlength="3" maxlength="50"></textarea>
                        <div *ngIf="address2.invalid && (address2.dirty || address2.touched)" class="validation_msg">
                          <!-- <p *ngIf="address2.errors.required">Address is required</p> -->
                          <p *ngIf="address2.errors.minlength">Address should be minimum 3 characters</p>
                          <p *ngIf="address2.errors.maxlength">Address should be maximum 50 characters</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="form-group row" *ngIf="association=='Vendor'">
                  <div class="">
                    <div class="col-sm-6">
                      <label class="" for="address3">Address 3
                        <sub class="txt_red f_size_25">*</sub>
                      </label>
                      <div class="">
                        <textarea type="text" required class="form-control" id="address3" [(ngModel)]="userRegModel.address3" placeholder="Enter address3"
                          name="address3" #address3="ngModel"></textarea>
                        <div [hidden]="address3.valid ||  address3.untouched" class="validation_msg">
                          Address is required
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <label class="" for="address4">Vendor Code
                        <sub class="txt_red f_size_25">*</sub>
                      </label>
                      <div class="">
                          <input type="text" required class="form-control" id="address4" [(ngModel)]="userRegModel.address4"
                            placeholder="Enter Vendor Code" name="address4" #address4="ngModel" />
                          <div [hidden]="address4.valid ||  address4.untouched" class="validation_msg">
                            Vendor Code is required
                          </div>
                        </div>
                    </div>
                  </div>
                </div>

               

                <div class="form-group row">
                  <div class="">
                    <div class="col-sm-6">
                      <label class="" for="country">Country
                        <sub class="txt_red f_size_25">*</sub>
                      </label>
                      <div class="">
                        <select class='select-option form-control' required [(ngModel)]="userRegModel.country" name="country"
                          #country="ngModel" (change)="onSelectCountry(userRegModel.country)">
                          <option [ngValue]="undefined" disabled selected>--Select--</option>
                          <option class='option' *ngFor="let countries of countriesList" [ngValue]="countries.country">{{countries.country}}</option>
                        </select>
                        <div [hidden]="country.valid ||  country.untouched" class="validation_msg">
                          Country is required
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <label class="" for="shopAddress">State
                        <sub class="txt_red f_size_25">*</sub>
                      </label>
                      <div class="">
                        <select class='select-option form-control' [(ngModel)]="userRegModel.state" required name="state"
                          #state="ngModel" (change)="onSelectState(userRegModel.state)">
                          <option [ngValue]="undefined" disabled selected>--select--</option>
                          <option class='option' *ngFor="let states of response1" [ngValue]="states.state">{{states.state}}</option>
                        </select>
                        <div [hidden]="state.valid ||  state.untouched" class="validation_msg">
                          State is required
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="">
                    <div class="col-sm-6">
                      <label class="" for="city">District
                        <sub class="txt_red f_size_25">*</sub>
                      </label>
                      <div class="">
                        <select class='select-option form-control' [(ngModel)]="userRegModel.district" required name="district"
                          #district="ngModel" (change)="onSelectDistrict(userRegModel.district)">
                          <option [ngValue]="undefined" disabled selected>--select--</option>
                          <option class='option' *ngFor="let districts of response2" [ngValue]="districts.district">{{districts.district}}</option>
                        </select>
                        <div [hidden]="district.valid ||  district.untouched" class="validation_msg">
                          District is required
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <label class="" for="shopAddress">City/Region
                        <sub class="txt_red f_size_25">*</sub>
                      </label>
                      <div class="">
                        <select class='select-option form-control' [(ngModel)]="userRegModel.city" required name="city"
                          #city="ngModel">
                          <option [ngValue]="undefined" disabled selected>--select--</option>
                          <option class='option' *ngFor="let cities of response3" [ngValue]="cities.city">{{cities.city}}</option>
                        </select>
                        <div [hidden]="city.valid ||  city.untouched" class="validation_msg">
                          City is required
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group row" *ngIf="association=='Dealer' || association=='Sub Dealer' || association=='Supplier'">
                  <div class="">
                    <div class="col-sm-6">
                      <label class="" for="business_name" *ngIf="association=='Dealer' || association=='Sub Dealer'">Firm
                        / Shop Name
                        <sub class="txt_red f_size_25">*</sub>
                      </label>
                      <label class="" for="business_name" *ngIf="association=='Supplier'">Firm / Shop Name
                        <sub class="txt_red f_size_25">*</sub>
                      </label>
                      <div class="">
                        <input type="text" required class="form-control" id="business_name" [(ngModel)]="userRegModel.business_name"
                          placeholder="Enter Firm / Shop Name" name="business_name" #business_name="ngModel">
                        <div [hidden]="business_name.valid ||  business_name.untouched" class="validation_msg">
                          Firm / Shop Name is required
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <label class="" for="pincode">Pincode
                        <sub class="txt_red f_size_25">*</sub>
                      </label>
                      <div class="">
                        <input type="text" required class="form-control" id="pincode" maxlength="6" pattern="^[1-9][0-9]{5}$"
                          [(ngModel)]="userRegModel.Pin" placeholder="Enter Pincode" name="pincode" #pincode="ngModel">
                        <div *ngIf="pincode.invalid && (pincode.dirty || pincode.touched)" class="validation_msg">
                          <p *ngIf="pincode.errors.required"> pincode is required</p>
                          <p *ngIf="pincode.errors.pattern">Enter Valid pincode</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group row" *ngIf="association=='Dealer'">
                  <div class="">
                    <div class="col-sm-6">
                      <label class="" for="zone">Zone
                        <sub class="txt_red f_size_25">*</sub>
                      </label>
                      <div class="">
                        <input type="text" class="form-control" required id="zone" [(ngModel)]="userRegModel.zone"
                          placeholder="Enter zone" name="zone" #zone="ngModel">
                        <div [hidden]="zone.valid ||  zone.untouched" class="validation_msg">
                          zone is required
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <label class="" for="gst">GST-IN
                        <sub class="txt_red f_size_25">*</sub>
                      </label>
                      <div class="">
                        <input type="text" class="form-control" required id="gst" [(ngModel)]="userRegModel.gst"
                          pattern="^[0-9]{2}[a-zA-Z]{5}[0-9]{4}[a-zA-Z]{1}[0-9]{1}[a-zA-Z]{1}[0-9]{1}$" placeholder="Enter GST-IN"
                          name="gst" #gst="ngModel">
                        <div *ngIf="gst.invalid && (gst.dirty || gst.touched)" class="validation_msg">
                          <p *ngIf="gst.errors.required"> GST-IN is required</p>
                          <p *ngIf="gst.errors.pattern">Enter Valid GST-IN</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group row" *ngIf="association=='Supplier'">
                  <div class="col-sm-12">
                    <label class="" for="gst">Website URL
                      <sub class="txt_red f_size_25">*</sub>
                    </label>
                    <div class="">
                      <input type="text" class="form-control" id="url" [(ngModel)]="userRegModel.url" placeholder="Enter Website URL"
                        name="url" #url="ngModel" required pattern="https?://.+">
                      <div *ngIf="url.invalid && (url.dirty || url.touched)" class="validation_msg">
                        <p *ngIf="url.errors.required"> Website URL is required</p>
                        <p *ngIf="url.errors.pattern">Enter Valid Website URL</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group row" *ngIf="association!='Employee' && association!='Branch'">
                  <div class="">
                    <div class="col-sm-6">
                      <label class="" for="city" *ngIf="association=='Dealer'|| association=='Supplier'|| association=='Sub Dealer'|| association=='Vendor'">Official
                        Email Id
                        <!-- <sub class="txt_red f_size_25">*</sub> -->
                      </label>
                      <label class="" for="city" *ngIf="association=='Customer'">Alternate Email Id
                        <!-- <sub class="txt_red f_size_25">*</sub> -->
                      </label>
                      <div class="">
                        <input type="text" class="form-control" id="offcEmail" [(ngModel)]="userRegModel.Off_email"
                          placeholder="Enter Official Email Id" name="offcEmail" #offcEmail="ngModel" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                        <div *ngIf="offcEmail.invalid && (offcEmail.dirty || offcEmail.touched)" class="validation_msg">
                          <p *ngIf="offcEmail.errors.required"> Official Email Id is required</p>
                          <p *ngIf="offcEmail.errors.pattern">Enter Valid Official Email Id</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <label class="" for="ofcNo" *ngIf="association=='Dealer'|| association=='Supplier' || association=='Sub Dealer'|| association=='Vendor'">Office
                        Phone Number
                        <!-- <sub class="txt_red f_size_25">*</sub> -->
                      </label>
                      <label class="" for="ofcNo" *ngIf="association=='Customer'">Alternate Mobile Number.
                        <!-- <sub class="txt_red f_size_25">*</sub> -->
                      </label>
                      <div class="">
                        <input type="text" class="form-control" id="ofcNo" [(ngModel)]="userRegModel.Off_mobile"
                          placeholder="Enter Office Phone Number" name="ofcNo" #ofcNo="ngModel" maxlength="10" pattern="^[6-9][0-9]{9}$">
                        <div *ngIf="ofcNo.invalid && (ofcNo.dirty || ofcNo.touched)" class="validation_msg">
                          <p *ngIf="ofcNo.errors.required">Office Phone Number is required</p>
                          <p *ngIf="ofcNo.errors.pattern">Enter Valid Office Phone Number</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-sm-12" *ngIf="association=='Sub Dealer'">
                    <label class="" for="shopeeCode">Shopee Code
                      <sub class="txt_red f_size_25">*</sub>
                    </label>
                    <div class="">
                      <input type="tel" required class="form-control" id="shopeeCode" [(ngModel)]="userRegModel.shopeeCode"
                        placeholder="Enter Shopee Code" name="shopeeCode" #shopeeCode="ngModel">
                      <div [hidden]="shopeeCode.valid ||  shopeeCode.untouched" class="validation_msg">
                        Shopee Code is required
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-12">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" required [(ngModel)]="userRegModel.terms" name="terms">
                          <span>I Agree
                            <span class="txt_green">Terms & Conditions</span>
                          </span>
                        </label>
                      </div>
                    </div>
                  </div>

                <div class="form-group row">
                  <div class="col-sm-12">
                    <div class="pull-left">
                      <button type="submit" class="btn btn-primary brdr_radius_50 btn_w bg_red border_red" (click)="gotoPrevious()">
                        <i class="fa fa-long-arrow-left" aria-hidden="true"></i> Previous</button>
                    </div>
                    <div class="pull-right">
                      <button type="submit" [disabled]="dealerRegForm.invalid" class="btn btn-primary brdr_radius_50 btn_w bg_green border_green"
                        (click)="regSubmit(dealerRegForm)">Submit
                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <ngx-spinner class="loader_spinner"></ngx-spinner>
</div>

<!-- success small alert -->
<div class="smallSuccess_alert" *ngIf="alert" style="top:10%;margin-left: 50%;">
  <strong>
    <i class="fa fa-close remove_icon"></i> {{wish_alert}} </strong>
</div>

<!-- Modal pop-up start here -->
<div id="successModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"></button>
        <h4 class="modal-title text-center">Registration</h4>
      </div>
      <div class="modal-body text-center">
        <p>Dear User, Your Details submitted succesfully!!!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal pop-up end here -->

<!-- Modal pop-up start here -->
<div id="otpModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"></button>
        <h4 class="modal-title text-center">Enter OTP</h4>
      </div>
      <div class="modal-body text-center">
        <form #otpForm="ngForm">

          <div class="form-group pad_t_10per pad_b_10per">
            <label class="control-label col-md-3" for="otp">Enter OTP</label>
            <div class="col-md-9">
              <input type="text" required class="form-control" minlength="4" id="otp" [(ngModel)]="otpModal.otp"
                placeholder="Enter OTP" name="otp" #otp="ngModel">
              <div [hidden]="otp.valid ||  otp.untouched" class="alert alert-danger">
                otp is required
              </div>
            </div>

          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger fl" data-dismiss="modal">Cancel</button>
        <button type="submit" [disabled]="!otpForm.valid" (click)="submitOTP(otpModal.otp)" class="btn btn-success fr">Submit</button>
      </div>
    </div>
  </div>
</div>
<!-- <app-otp-modal></app-otp-modal> -->

<!-- Modal popup start here -->
<!-- <div id="otpStatusModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"></button>
        <h4 class="modal-title text-center">OTP Validation</h4>
      </div>
      <div class="modal-body text-center">
        <p>
          <span>{{message}}</span>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success btn-center" data-dismiss="modal">Okk</button>
      </div>
    </div>
  </div>
</div> -->
<!-- Modal popup end here -->

<!-- Modal popup start here -->
<!-- <div id="otpStatusokModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"></button>
        <h4 class="modal-title text-center"></h4>
      </div>
      <div class="modal-body text-center">
        <p>
          <span>You have Successfully Registered.</span>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success fr" data-dismiss="modal" (click)="gotoPreviousreg()">Ok</button>
      </div>
    </div>
  </div>
</div> -->

<!-- modal pop up start here -->
<div class="modal fade" id="otpStatusokModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" style="padding:0;">
        <div class="row">
          <div class="col-md-12">
            <h4 class="alert_heading">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </h4>
            <div class="right_mark">
              <i class="fa fa-check" aria-hidden="true"></i>
            </div>
            <div class="pad_15 text-center content_msg" style="padding: 10% 0;">
              <span>You have Successfully Registered.</span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger fl" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success fr" data-dismiss="modal" (click)="gotoPreviousreg()">OK</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal popup end here -->