<!--alerts modal start here -->
<div class="alerts_modal_content">
  <ngx-smart-modal identifier="alertModal" #alertModal >
    <div class="modal-body" style="padding:0;">
      <div class="row">
        <div class="col-md-12">
          <h4 class="alert_heading">
            <span></span>
          </h4>
          <div class="right_mark">
            <i class="fa fa-check" aria-hidden="true"></i>
          </div>
          <div class="pad_15 text-center content_msg" style="padding: 15% 0;">
            <span>Success !!!</span>
          </div>
        </div>
      </div>
    </div>
  </ngx-smart-modal>
</div>
<!-- alerts modal end here -->