<div class="form-group">
  <div class="row mar_b_15" *ngIf="internalRejectUsersList.length>0">
    <div class="col-sm-12">
      <div class="fl">
        <h4>Reject Users</h4>
      </div>
      <div class="fr">
        <input type="text" [(ngModel)]="searchText" placeholder="Search" class="search_style">
        <button type="submit" class="input_btn">Search</button>
      </div>
    </div>
  </div>


  <div *ngIf="(internalRejectUsersList | filter :searchText) as internalRejectUsersList">
    <div class="row">
      <div class="col-sm-12 list" *ngIf="internalRejectUsersList.length>0">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>S.No</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Mobile No</th>
                <th>City</th>
                <th>User Type</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of internalRejectUsersList | paginate: { itemsPerPage: 10, currentPage: p }; let i=index">
                <td>{{10*(p-1)+(i+1)}}</td>
                <td>{{data.first_name}}</td>
                <td>{{data.last_name}}</td>
                <td>{{data.email}}</td>
                <td>{{data.mobile}}</td>
                <td>{{data.city}}</td>
                <td>{{data.user_type}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
      <div *ngIf="internalRejectUsersList.length==0">
        <div class="col-md-12">
          <div class="no_data">
            <img class="no_data_cnter" src="../assets/emptyicon.png" />
            <span class="nodata_txt">No Data is Availble</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner class="loader_spinner"></ngx-spinner>
<app-alert-modals></app-alert-modals>