<div class="container pad_t_5per">
  <div class="reg_form mar_b_30">
    <div class="row">
      <div class="col-md-12">
        <!-- Nav tabs -->
        <div class="card">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active" (click)="activate('list')">
              <a href="" aria-controls="list" role="tab" data-toggle="tab">Users List
              </a>
            </li>
            <li role="presentation" (click)="activate('registrtion')">
              <a href="" aria-controls="registrtion" role="tab" data-toggle="tab">User Creation
              </a>
            </li>
            <li role="presentation" (click)="activate('reject')">
              <a href="" aria-controls="reject" role="tab" data-toggle="tab">reject Users List
              </a>
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="table-responsive">
          <div class="tab-content">
            <div *ngIf="openTab=='list'">
              <div role="tabpanel" class="tab-pane active">
                <app-internal-users-list></app-internal-users-list>
              </div>
            </div>
            <div *ngIf="openTab=='registrtion'">
              <div role="tabpanel" class="tab-pane">
                <app-register [styleId]=1></app-register>
              </div>
            </div>
            <div *ngIf="openTab=='reject'">
              <div role="tabpanel" class="tab-pane">
                <app-reject-users [id]="2"></app-reject-users>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>