<!-- 


<div class="container pad_t_5per pad_b_5per">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 mar_t_50">
      <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12 box" routerLink="/users">
        <div class="inner_box">
          <img src="./assets/dashboard_icons/users1.png" />
        </div>
        <span class="inner_text">Users</span>
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12 box" routerLink="/internal-users">
        <div class="inner_box">
          <img src="./assets/dashboard_icons/internalusers1.png" />
        </div>
        <span class="inner_text">Internal Users</span>
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12 box" routerLink="/masters-company">
        <div class="inner_box">
          <img src="./assets/dashboard_icons/companymaster1.png" />
        </div>
        <span class="inner_text">Company Master</span>
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12 box" routerLink="/master-data-upload">
        <div class="inner_box">
          <img src="./assets/dashboard_icons/productmaster1.png" />
        </div>
        <span class="inner_text">Product Master</span>
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12 box" routerLink="/active-users">
        <div class="inner_box">
          <img src="./assets/dashboard_icons/activeusers1.png" />
        </div>
        <span class="inner_text">Active Users</span>
      </div>
    </div>
  </div>

</div> -->