// .dashboard_box{
//     width: 15%;
//     height: 100px;
//     padding: 10px 10px;
//     font-size: 15px;
//     margin-right: 10px;
//     border-radius: 6px;
//     cursor: pointer;
// }

// .txt_center{
//     text-align: center;
// }
// .bg_green{
//     background:#398439;
// }
// .bg_red{
//     background:#d9534f;
// }
// .bg_orange{
//     background:#f0ad4e;
// }
// .bg_blue{
//     background:#337ab7;
// }
// .bg_maroon{
//     background:#1f7562;
// }
// .bg_violet{
//     background:#5bc0de;
// }
// .txt_white{
//     color:#fff;
// }
// .ext_cntr{
//     margin: 0;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     -ms-transform: translate(-50%, -50%);
//     transform: translate(-50%, -50%);
// }


//new box style
.box{
    background: #fff !important;
    box-shadow: 0px 0px 12px #a2a1a1;
    margin-right: 34px;
    width: 17%;
    height: 130px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}
.inner_box img{ 
    width: 40%;
    position: absolute;
    border-radius: 5px;
    margin-top: -30px;
}
.inner_text{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #757575;
    bottom: 0;
    text-align: center;
    margin-bottom: 20px;
    position: absolute;
}
