<!--<div class="container pad_t_10per pad_b_5per">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
      <div class="col-sm-6 col-md-2 col-lg-2 col-xs-12 dashboard_box bg_green txt_center">
       <a href="javascript.void(0)" routerLink="/dealer-order"> <div class=" txt_white ext_cntr">
          <span class="glyphicon glyphicon-list-alt"></span>
          <br />
          <span>Orders</span>
        </div></a>
      </div>
      <div class="col-sm-6 col-md-2 col-lg-2 col-xs-12 dashboard_box bg_red txt_center">
        <div class=" txt_white ext_cntr">
          <span class="glyphicon glyphicon-bookmark"></span>
          <br />
          <span>Sales</span>
        </div>
      </div>
      <div class="col-sm-6 col-md-2 col-lg-2 col-xs-12 dashboard_box bg_orange txt_center">
        <div class=" txt_white ext_cntr">
          <span class="glyphicon glyphicon-signal"></span>
          <br />
          <span>Performance</span>
        </div>
      </div>
      <div class="col-sm-6 col-md-2 col-lg-2 col-xs-12 dashboard_box bg_blue txt_center">
        <div class=" txt_white ext_cntr">
          <span class="glyphicon glyphicon-comment"></span>
          <br />
          <span>Reviews</span>
        </div>
      </div>
      <div class="col-sm-6 col-md-2 col-lg-2 col-xs-12 dashboard_box bg_maroon txt_center">
        <div class=" txt_white ext_cntr">
          <span class="glyphicon glyphicon-signal"></span>
          <br />
          <span>Service Centers</span>
        </div>
      </div>
      <div class="col-sm-6 col-md-2 col-lg-2 col-xs-12 dashboard_box bg_violet txt_center">
        <div class=" txt_white ext_cntr">
          <span class="glyphicon glyphicon-comment"></span>
          <br />
          <span>New Product</span>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 mar_t_20">
      <div class="col-sm-6 col-md-2 col-lg-2 col-xs-12 dashboard_box bg_green txt_center">
        <div class=" txt_white ext_cntr">
          <span class="glyphicon glyphicon-list-alt"></span>
          <br />
          <span>Redeem</span>
        </div>
      </div>
      <div class="col-sm-6 col-md-2 col-lg-2 col-xs-12 dashboard_box bg_red txt_center">
        <div class=" txt_white ext_cntr">
          <span class="glyphicon glyphicon-bookmark"></span>
          <br />
          <span>Payment</span>
        </div>
      </div>
      <div class="col-sm-6 col-md-2 col-lg-2 col-xs-12 dashboard_box bg_orange txt_center">
        <div class=" txt_white ext_cntr">
          <span class="glyphicon glyphicon-signal"></span>
          <br />
          <span>News</span>
        </div>
      </div>
      <div class="col-sm-6 col-md-2 col-lg-2 col-xs-12 dashboard_box bg_blue txt_center">
        <div class=" txt_white ext_cntr">
          <span class="glyphicon glyphicon-comment"></span>
          <br />
          <span>Clear Sale</span>
        </div>
      </div>
      <div class="col-sm-6 col-md-2 col-lg-2 col-xs-12 dashboard_box bg_maroon txt_center">
        <div class=" txt_white ext_cntr">
          <span class="glyphicon glyphicon-signal"></span>
          <br />
          <span>Support</span>
        </div>
      </div>
      <div class="col-sm-6 col-md-2 col-lg-2 col-xs-12 dashboard_box bg_violet txt_center">
        <div class=" txt_white ext_cntr">
          <span class="glyphicon glyphicon-comment"></span>
          <br />
          <span>Faq's</span>
        </div>
      </div>
    </div>
  </div>
</div> -->


<div class="container pad_t_5per pad_b_5per">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 mar_t_50">
      <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12 box" routerLink="/dealer-order">
        <div class="inner_box">
          <img src="./assets/dashboard_icons/orders.png" />
        </div>
        <span class="inner_text">Orders</span>
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12 box">
        <div class="inner_box">
          <img src="./assets/dashboard_icons/perfomance.png" />
        </div>
        <span class="inner_text">Performance</span>
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12 box" routerLink="/grn">
        <div class="inner_box">
          <img src="./assets/dashboard_icons/sales.png" />
        </div>
        <span class="inner_text">Sales</span>
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12 box">
        <div class="inner_box">
          <img src="./assets/dashboard_icons/reviews.png" />
        </div>
        <span class="inner_text">Reviews</span>
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12 box">
        <div class="inner_box">
          <img src="./assets/dashboard_icons/newproduct.png" />
        </div>
        <span class="inner_text">New Product</span>
      </div>
    </div>
   
  </div>
  <!-- <div class="row">
    
      <div class="col-md-3">
          <img src="../../../assets/Orders-193x103.png" style="width:100%" >
      </div>
      <div class="col-md-3">
          <img src="../../../assets/Orders-193x103.png" style="width:100%" >
      </div>
      <div class="col-md-3">
          <img src="../../../assets/Orders-193x103.png"  style="width:100%">
      </div>
      <div class="col-md-3">
          <img src="../../../assets/Orders-193x103.png"  style="width:100%">
      </div>
      <div class="box_20">
          <img src="../../../assets/Orders-193x103.png" style="width:100%">
      </div>
    </div> -->
  <!-- <div class="row">
    
    <div class="box_20">
        <img src="../../../assets/Orders-193x103.png" >
    </div>
    <div class="box_20">
        <img src="../../../assets/Orders-193x103.png" >
    </div>
    <div class="box_20">
        <img src="../../../assets/Orders-193x103.png" >
    </div>
    <div class="box_20">
        <img src="../../../assets/Orders-193x103.png" >
    </div>
    <div class="box_20">
        <img src="../../../assets/Orders-193x103.png" >
    </div>
  </div> -->
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 mar_t_50">
      <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12 box">
        <div class="inner_box">
          <img src="./assets/dashboard_icons/servicecenter.png" />
        </div>
        <span class="inner_text">Service Centers</span>
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12 box">
        <div class="inner_box">
          <img src="./assets/dashboard_icons/redeem.png" />
        </div>
        <span class="inner_text">Redeem</span>
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12 box">
        <div class="inner_box">
          <img src="./assets/dashboard_icons/payment.png" />
        </div>
        <span class="inner_text">Payment</span>
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12 box">
        <div class="inner_box">
          <img src="./assets/dashboard_icons/redeem.png" />
        </div>
        <span class="inner_text">Clear Sale</span>
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12 box">
        <div class="inner_box">
          <img src="./assets/dashboard_icons/redeem.png" />
        </div>
        <span class="inner_text">News</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 mar_t_50">
      <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12 box">
        <div class="inner_box">
          <img src="./assets/dashboard_icons/redeem.png" />
        </div>
        <span class="inner_text">Support</span>
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12 box">
        <div class="inner_box">
          <img src="./assets/dashboard_icons/redeem.png" />
        </div>
        <span class="inner_text">FAQ's</span>
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12 box" routerLink="/pos">
          <div class="inner_box" >
            <img src="./assets/dashboard_icons/redeem.png" />
          </div>
          <span class="inner_text">POS</span>
        </div>
    </div>
  </div>
</div>