<div style="margin-top:50px">
  <app-catg-menu></app-catg-menu>
</div>
<!-- <div class="container-fluid">
    <p class="bread-crumb"><span><a href="javascript.void(0)" routerLink="/home" style="
      color: #878787 !important;
  " >Home</a></span>&nbsp;>&nbsp;<span>{{category}}</span></p>
</div> -->
<div class="container" style="padding: 0px 0px;box-shadow: 1px 1px 1px 1px lightgrey;margin-top: 30px;margin-bottom: 30px;">
  <p class="bread-crumb">
    <span>
      <a href="javascript.void(0)" routerLink="/home" style="
      color: #878787 !important;
  ">Home</a>
    </span>&nbsp;>&nbsp;
    <span>{{category}}</span>
  </p>
  <div class="row prod_catg">
    <div class="col-md-3  text-center " style="padding:5px;" *ngFor="let p of resources2 | unique | paginate: { itemsPerPage: 12, currentPage: page };let i=index">
      <div class="img-thumbnail" (click)="selected_sub_cat(p.subcategory)">
        <div>
            <img src="{{p.image}}"   onError="this.src='../../assets/emty_img.png';"alt="{{p.subcategory}}" class="catg_img" >
        </div>
        <h4 class="prod_head">{{p.subcategory}}</h4>
      </div>
    </div>
  </div>
  <div style="padding:20px;">
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>

  <div>
    <!-- <p *ngFor="let p of resources2 | unique">
      {{p.subcategory}}- <img src="{{p.image}}" alt="{{p.subcategory}}">
    </p> -->
  </div>
  <ngx-spinner class="loader_spinner"></ngx-spinner>
</div>