<div class="row" style="margin-left:0px; margin-right: 0px;background: #fff;margin-top: 50px;">
  <div class="col-md-2 col-sm-4 hidden-xs  pad_0" style="height: 445px;background: #0fa497;">
    <h3 class=" prod_head"><b>Categories</b></h3>
    <app-product-menu></app-product-menu>
  </div>
  <div class="col-md-10 col-sm-8  pad_0">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>  
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="../../assets/slider1.jpg" alt="Prod_Powertex" style="width:100%;">
        </div>
        <div class="item">
          <img src="../../assets/slider5.jpg" alt="Prod_Powertex" style="width:100%;">
        </div>
      </div>
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="background:transparent !important;opacity:1;">
        <span class="glyphicon glyphicon-chevron-left slide_b"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next" style="background:transparent !important;opacity:1;">
        <span class="glyphicon glyphicon-chevron-right slide_a"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
<div class="row" style=" margin-left:0px; margin-right: 0px;background:#f1f3f6;">
  <div class="container">
    <div class="row text-center">
      <h4 class="Shopbycatg_header">Shop By Profession</h4>
      <img src="../../assets/Underline Shaded.svg"  class="s_bpy_ctg">
    </div>
    <div class="row" style="padding-top: 2%; padding-bottom: 2%">
      <div class="col-md-1"></div>
      <div class="col-md-2 col-xs-6 text-center" *ngFor="let p of prof">
        <img src="{{p.image}}" class="p_i">
        <h4>{{p.profession | titlecase}}</h4>
      </div>
    </div>
   
  </div>
</div> 
<div class="row" style=" margin-left:0px; margin-right: 0px;background:#f1f3f6;">
  <div class="container">
    <div class="row text-center">
      <h4 class="Shopbycatg_header">Shop By Categories</h4>
      <img src="../../assets/Underline Shaded.svg" class="s_bpy_ctg">
    </div>
    <div class="row  hidden-xs" style="padding-top: 2%;">
      <div class="col-md-12 all_tools">
        <div id="Carousel" class="carousel slide" data-interval="false"  data-pause="hover">
          <div class="carousel-inner">
            <div class="item active">
              <div class="row">
                <div class="col-md-2 "  style="min-height: 200px" *ngFor="let data of resources | slice:0:6; let i=index ">
                  <div class="img-thumbnail" (click)="selected_catg(data.Category)">
                    <div>
                      <img src="{{data.cat}}" onError="this.src='https://i5.walmartimages.com/asr/f752abb3-1b49-4f99-b68a-7c4d77b45b40_1.39d6c524f6033c7c58bd073db1b99786.jpeg';"
                        alt="{{data.Category}}" class="catg_img" style="width:100%">
                    </div>
                  </div>
                  <div class="tool_name">
                    <span>{{data.Category}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="row" *ngIf="resources.length>0">
                <div class="col-md-2" *ngFor="let data of resources | slice:6:l ">
                  <div class="img-thumbnail" (click)="selected_catg(data.Category)">
                    <div>
                      <img src="{{data.cat}}" onError="this.src='../../assets/emty_img.png';"
                        alt="{{data.Category}}" class="catg_img" style="width:100%">
                    </div>
                  </div>
                  <div class="tool_name">
                    <span>{{data.Category}}</span>
                  </div>
                </div>
                <div class="col-md-2" *ngIf="l!==resources.length">
                  <a href="javascript:void(0)" class="thumbnail" (click)="selected_all()">
                      <span class="tool_more">Explore All...</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <a data-slide="prev" href="#Carousel" class="left carousel-control">
            <span>‹</span>
          </a>
          <a data-slide="next" href="#Carousel" class="right carousel-control">
            <span>›</span>
          </a>
        </div>
      </div>
    </div>
    <div class="row hidden-md hidden-lg hidden-sm"  style="padding-top: 2%;"> 
      <div class="col-xs-6 text-center" style="padding:1% 15px"  *ngFor="let data of resources | slice:0:4 ">
        <div class="img-thumbnail" (click)="selected_catg(data.Category)">
          <div>
            <img src="../../assets/Product/{{data.Category}}.jpg" onError="this.src='https://i5.walmartimages.com/asr/f752abb3-1b49-4f99-b68a-7c4d77b45b40_1.39d6c524f6033c7c58bd073db1b99786.jpeg';"
              alt="{{data.Category}}" class="catg_img" style="width:100%">
          </div>
        </div>
        <div class="tool_name">
          <span>{{data.Category}}</span>
        </div>
      </div>
      <div class="col-xs-12" style="padding: 5px;border-top: 1px solid lightgrey;margin-top: 10px;">
        <div class="col-xs-6">
            <p (click)="selected_all()" style="color: #021388;">Explore All...</p>
        </div>
        <div class="col-xs-6 text-right">
            <p (click)="selected_all()" style="color: #021388;"><i class="fa fa-angle-right" style="font-size:18px;"></i></p>
        </div> 
      </div>
    </div>
  </div>
</div>  
<section>
  <div class="container">
    <div class="row text-center">
      <h4 class="Shopbycatg_header">We Believe</h4>
      <img src="../../assets/Underline Shaded.svg" style="width: 130px;height: 2px;margin-top: -8px;">
    </div>
    <div class="row">
      <div class="col-md-6 text-center" style="padding: 0px 5%;">
        <div>
          <img src="../../assets/ceo2.png"  style="border-radius:50%">
          <p style="color: #0fa497;font-weight: 600;padding: 5px 0px;">CEO</p>
          <p style="color: black;line-height: 22px;letter-spacing: 0.5px;">“ We have to shift our emphasis from
            economic efficiency and materialism towards a sustainable quality of life
            and to healing of our society, of our people and our ecological systems. ”
          </p>
          <h6>
            <b style="color: black; text-transform:capitalize;">(LAXMI NARAYAN GUPTA – CEO, POWERTEX)</b>
          </h6>
        </div>
      </div>
      <div class="col-md-6 text-center" style="padding: 0px 5%;">
        <img src="../../assets/dir.png" style="border-radius:50%">
        <p style="color: #0fa497;font-weight: 600;padding: 5px 0px;">Director</p>
        <p style="color: black;line-height: 22px;letter-spacing: 0.5px;">“ Help young people. Help small guys. Because
          small guys will be big. Young people will have the seeds you bury in
          their minds, and when they grow up, they will change the world. ”
        </p>
        <h6>
          <b style="color: black;text-transform:capitalize;">(MANOJ GUPTA – Director, POWERTEX)</b>
        </h6>
      </div>
    </div>
  </div>
</section>
<section class="pad_b_3per" style="background:#eaf4f4">
  <div class="container-fluid testimonial ">
    <div style="padding:20px;">
      <div class="row ">
        <div class="col-md-6 col-xs-12 text-center">
          <video class="test_video" controls>
            <source src="../../assets/avc_Powertex tools- 27-10-2018.mp4" type="video/mp4">
          </video>
        </div>
        <div class="col-md-6 col-xs-12">
          <div id="myCarousel1" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators" style="display:none;">
              <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel1" data-slide-to="1"></li>
              <li data-target="#myCarousel1" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner testy text-center" >
              <div class="item" *ngFor="let img of images; let i=index;" [ngClass]="{'active':i==0}">
                <img src="../../assets/slider/{{img}}.jpg"  >
              </div>
            </div>
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel1" style="background: transparent !important;" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" style="color: white;"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel1" style="background: transparent !important;" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" style="color: white;"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<ngx-spinner class="loader_spinner"></ngx-spinner>
