// .col-md-2 ,.col-md-6,.col-md-10 {
//     padding-left:0px;
//     padding-right:0px;
//     }
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
    .carousel-inner>.item>a>img, .carousel-inner>.item>img {
        line-height: 1;
        height: 445px;
    }
    // .item {
       
    //     position: relative;
    //     transition:.6s ease-in-out left;
    // }
    .pad_0{
        padding-left:0px  !important;
   padding-right:0px  !important;
    }
    .testimonial{
        background-image: url(../../assets/home_feedback.jpg);
        background-repeat: round;
        box-shadow: 1px 1px 1px 1px #9dbbb9;
        .item{
            text-align: center;
            img {
                width: 80%;
                height: 300px !important;
                // padding: 20px;
                margin: 0px auto;
            }
        }
}
        
       
    
    .test_video{
        width: 80%;
    
    background: #0fa4975c;
    }
    .Shopbycatg_header{
        font-size: 20px !important;
        font-weight: 700 !important;
        color: #05a093 !important;
        margin-top: 20px;
        margin-bottom: 0px;
    }
    .catg {
        padding:10px;
         background: #0fa497;
         cursor: pointer;
         height: 140px;

         p {
            padding-top: 7px;
            color: white;
            font-size: 12px;
            text-transform: uppercase;
         }
    }

    .h3_style{
        color: #ffffff;
    font-weight: 600;
    margin-top: 0px;
    padding-bottom: 20px;
    }
    .mar {
        margin-bottom: 5px !important;
    }
    @media screen and (max-width: 1300px) {
        .mar {
            margin-bottom: 5px !important;
        }
      }
    @media screen and (max-width: 1000px) {
        .mar {
          margin-bottom: 5px !important;
        }
      }
      .prod_head{
        text-align: center;
        color: #0da550;
        padding: 7px !important;
        /* border-radius: 10px; */
        background: #ffffff;
        margin-top: 0px;
        margin-bottom: 0px;
        font-family: auto;
        box-shadow: 1px 1px 1px 1px #8080807a;
       }

       @media (max-width: 1024px){
        .carousel-inner>.item>a>img, .carousel-inner>.item>img {
            line-height: 1;
            height: 356px !important;
        }
}
@media (min-width: 1920px){
    .carousel-inner>.item>a>img, .carousel-inner>.item>img {
        line-height: 1;
        height: 665px !important;
    }
}
body{padding-top:20px;}
.all_tools .carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}

.all_tools .carousel-control {
    height: 40px;
	width: 40px;
    background: none repeat scroll 0 0 #0fa497;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    margin-top: 55px;
}
.all_tools .carousel-control.right {
    right: 0px;
}
/* The indicators */
.all_tools .carousel-indicators {
	right: 50%;
	top: auto;
	bottom: -10px;
	margin-right: -19px;
}
/* The colour of the indicators */
.all_tools .carousel-indicators li {
	background: #cecece;
}
.all_tools .carousel-indicators .active {
background: #428bca;
}
.all_tools .thumbnail{
    background-color: #0fa497 !important;
    height:150px;
    padding: 0px;
    margin-bottom: 10px;
}
.all_tools .thumbnail img{
    transform: translate(0%, 50%);
}
.all_tools .tool_name{
    text-align: center;
    color: black;
    font-weight: 600;
    font-size: 14px;
    padding-top: 6px; 
}
.all_tools .tool_more{
    color: #fff;
    font-weight: 600;
    font-size: 18px;  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.img-thumbnail:hover{
    // background-color: #0fa497 !important;
    cursor: pointer;
    padding: 0px;
    transition: all 0.2s ease-in-out;
}
.slide_a{
    color: #0fa497;
    background: #ffffff;
    padding-bottom: 47px !important;
    right: 0px;
    padding-top: 19px;
    margin: 0px;
    font-size: 28px;
    top: 45%;
}
.slide_b{
    color: #0fa497;
    background: #ffffff;
    padding-bottom: 47px !important;
    left:0px;
    padding-top: 19px;
    margin: 0px;
    font-size: 28px;
    top:45%;
}
@media screen and (max-width: 600px) {
    .slide_a{
        color: #0fa497;
    background: #ffffff;
    padding-bottom: 12px !important;
    right: 0px;
    // left:30px;
    padding-top: 8px;
    margin: 0px;
    font-size: 19px;
    top: 32%;
    }
    .slide_b{
        color: #0fa497;
        background: #ffffff;
        padding-bottom: 12px !important;
        // right: 30px;
        left:0px;
        padding-top: 8px;
        margin: 0px;
        font-size: 19px;
        top: 32%;
    }
    .carousel-inner>.item>a>img, .carousel-inner>.item>img {
        line-height: 1;
        height: 150px !important;
    }
  }

  .p_i{
    width: 70%;
    border-radius: 50%;
    padding: 10px;
    border: 2px solid #0fa497;
    background: #FFF;
  }

  .p_i:hover{
    padding: 5px;
    transition: all 0.2s ease-in-out;
  }
  .s_bpy_ctg{
    width: 200px;
    height: 2px;
    margin-top: -8px;
  }