// @media print {
    .total_invoice_page {
        background: #fff;
        padding: 20px;
        box-shadow: 0px 3px 12px 0px #cccccc;
    }
    
    .invoce_address {
        padding: 0 30px;
        border: 1px dashed #37475a;
    }
    
    .company_address{
        font-weight: 700;
        font-size: 12px;
        padding-right: 5px;
        color: #232f3e;
        text-align: center;
    }
    
    .hr_line{
        border-bottom: 1px dashed #37475a;
        border-top: 1px dashed #37475a;
    }
    .marg_t_b_15{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .hr_line_botm{
        border-bottom: 1px dashed #37475a;
    }
    
    .f_left{
        float:left;
    }
    .f_right{
        float:right;
    }
    
    .fnt_size_12{
        font-size: 12px;
    }
    
    .pad_r_15{
        padding-right: 15px;
    }
    .pad_l_15{
        padding-left: 15px;
    }
    
    .theme_bgclr {
        font-size: 11px !important;
        padding: 3px 12px !important;
      }
    
      .mar_b_30{
        margin-bottom: 30px;
    }
    
    .marg_t_15{
        margin-top: 15px;
    }
    .printTable tbody tr td{
        font-size: 12px;
    }
    
    // }