.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 120px;
    padding: 10px
}

.center:hover {
    padding: 5px;
    transition: all 0.2s ease-in-out;
}
.cat_style{
    text-align: center;
    padding: 5px 5px;
    // box-shadow: 1px 1px 1px 1px #8080804a;

}

.cat_style:hover {
    box-shadow: 1px 1px 1px 1px #8080804a;
    // img {
    //     width:61%;
    //     // transition: 1s;
    //     // transition-timing-function: ease;
    // }
}

.cat_filter{
    padding: 10px;
    box-shadow: 2px 1px 1px 2px #8080804a;
    border-radius: 5px;
    position: relative;
}
.btn_cat{
    font-weight: 600;
    letter-spacing: 2px;
    color: white;
    font-size: larger;
    background: #0da550 !important;
    border-color:#0da550;
}
.gst{
    margin: 0px !important;
    font-size: 11px;
    margin-top: -7px !important;
    color: #293271;
    font-weight: bold;
}