<div style="margin-top:50px">
  <app-catg-menu></app-catg-menu>
</div>
<div class="container-fluid"style="padding:30px 25px; ">
  
  <div class="row" >
    <div class="col-md-2 cat_filter" >
      <!-- <div>
        <button class="btn  btn_cat btn-primary btn-block" (click)="disp_catg()">Categories</button>
        <div *ngIf="catgHidden">
            <app-product-menu></app-product-menu> 
        </div>
      </div> -->
      <div class="pad_t_b_5">
        <h4>Price</h4>
        <!-- <nouislider [connect]="true"  [(ngModel)]="someValue" 
[config]="someKeyboardConfig" (change)="saveSecondRange($event)">     
</nouislider> -->
        <ng5-slider [(value)]="minValue" [(highValue)]="maxValue"  (valueChange)="price_min(minValue,maxValue)" [options]="options"></ng5-slider>
        <div class="col-md-6"> <p>Min value: <input type="text" class="form-control" (change)="price_min(minValue,maxValue)" [(ngModel)]="minValue"></p></div>
        <div class="col-md-6"><p>Max value: <input type="text" class="form-control" (change)="price_min(minValue,maxValue)" [(ngModel)]="maxValue"></p></div>
      </div>

      <div></div>

      <!-- <hr style="border:1px solid #00000017;"/>

      <div class="pad_t_b_5">
        <div>
          <h4>Model Type</h4> 
        
          <ul *ngFor="let p of resources2" class="list-unstyled">
            <li><span ><input type="checkbox" style="width:20px;height:20px;margin-top: 0px;"></span><span style="vertical-align: super;
              padding-left: 12px;">{{p.modelno}}</span></li>
          </ul>
        
        </div>
      </div> -->

      <hr style="border:1px solid #00000017;"/>

      <div class="pad_t_b_5">
        <div>
          <h4>Discount</h4> 
          <ul  class="list-unstyled">
              <!-- <li style="padding-bottom: 5px;">
                <span ><input type="checkbox" (change)="disc(9)" [checked]="selected_disc === 9" style="width:20px;height:20px;margin-top: 0px;"></span>
                <span style="vertical-align: super;padding-left: 12px;">Less than 10%</span>
              </li>  -->
              <li style="padding-bottom: 5px;">
                <span ><input type="checkbox" (change)="disc(10)" [checked]="selected_disc === 10" style="width:20px;height:20px;margin-top: 0px;"></span>
                <span style="vertical-align: super;padding-left: 12px;">10% or More</span>
              </li>
              <li style="padding-bottom: 5px;">
                <span ><input type="checkbox"  (change)="disc(20)" [checked]="selected_disc === 20" style="width:20px;height:20px;margin-top: 0px;"></span>
                <span style="vertical-align: super;padding-left: 12px;">20% or More</span>
              </li>
              <li style="padding-bottom: 5px;">
                <span ><input type="checkbox" (change)="disc(30)"  [checked]="selected_disc === 30" style="width:20px;height:20px;margin-top: 0px;"></span>
                <span style="vertical-align: super;padding-left: 12px;">30% or More</span>
              </li>
              <li style="padding-bottom: 5px;">
                <span ><input type="checkbox"  (change)="disc(40)" [checked]="selected_disc === 40"  style="width:20px;height:20px;margin-top: 0px;"></span>
                <span style="vertical-align: super;padding-left: 12px;">40% or More</span>
              </li>
              <li style="padding-bottom: 5px;">
                <span ><input type="checkbox"  (change)="disc(50)" [checked]="selected_disc === 50" style="width:20px;height:20px;margin-top: 0px;"></span>
                <span style="vertical-align: super;padding-left: 12px;">50% or More</span>
              </li>
          </ul>
        
        </div>
      </div>

    </div>
    <div class="col-md-10" >
      <div class="row" style="padding: 10px 0px;border-radius:4px;border: 1px solid #1d0e0e1c;margin-left: 0px;margin-right: 0px;box-shadow: 2px 2px 2px 2px #8080804a;">
        <div class="col-md-12" style="padding: 7px;border-bottom: 1px solid #00000014;margin-bottom: 5px;">
          <!-- <h3 *ngFor="let p of resources2|unique">{{p.subcategory}} </h3> -->
          <div class="col-md-1"><b>Sort By</b></div>
          <div class="col-md-5"><span style="padding: 7px;">Popularity</span><span style="padding: 7px;cursor: pointer;" (click)="Ascend()">Price--Low to High</span><span style="padding: 7px; cursor: pointer;" (click)="Descend()">Price--High to Low</span></div>
          <!-- <div class="col-md-2" style="padding-left: 0px;padding-right: 0px">Price--Low to High</div>
          <div class="col-md-2 " style="padding-left: 0px;padding-right: 0px">Price--High to Low</div> -->
        </div>
        <div *ngFor="let p of resources2 | paginate: { itemsPerPage: 12, currentPage: Page };let i=index ">
          <div class="col-md-3 " >
            
            <div class="cat_style" >
              <p style="text-align:right;"><a href="javascript:void(0)" (click)="wish_list()"><i class="fa fa-heart-o" [ngStyle]="{'color':wish_color}"></i></a></p>
              <div (click)="sub_cat(p)">
              <img src="{{p.low_image_1}}"  onError="this.src='https://i5.walmartimages.com/asr/f752abb3-1b49-4f99-b68a-7c4d77b45b40_1.39d6c524f6033c7c58bd073db1b99786.jpeg';"class="center">
              <p style="font-size:13px;margin: 0px;color: gray;">{{p.subcategory}}</p>
              <p style="font-size:14px;margin: 0px;">{{p.modelno}}</p>
            <p style="margin:0px;"><span style="text-decoration:line-through; color: #9e8f8f">Rs.{{p.mrp}}</span> <span> Rs.{{p.net_price}}</span></p>
            <p class="gst">(Excluding GST)</p>
            <p style="color: #0da550">{{p.discount}}% Off</p>
          </div>
            </div>
          </div>
        </div>
      </div>
      <div style="text-align:right;padding:20px;">
        <pagination-controls (pageChange)="Page = $event"></pagination-controls>
      </div>
      <!-- <div class="row"style="border: 1px solid black;">
        <div *ngFor="let p of resources2"   >
          <div class="col-md-3 " >
            
            <div class="cat_style" (click)="sub_cat(p)">
              <img src="{{p.low_image_1}}"  onError="this.src='../../assets/200x200.jpg';"class="center">
            <p>{{p.subcategory}}-{{p.modelno}}</p>
            <p><span style="text-decoration:line-through; color: #9e8f8f">Rs.{{p.mrp}}</span> <span> Rs.{{p.net_price}}</span></p>
            <p style="color: #0da550">{{p.discount}}% Off</p>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
  <ngx-spinner class="loader_spinner"></ngx-spinner>
</div>
